<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
      <h:form>
                    <p:panel header="Adenda de Contratos" style="width: 1070px; margin: 0 auto 0 auto;">
                        <p:growl id="growl" />
                        <p:outputLabel value="Seleccione el tipo de contrato: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un tipo de contrato..."/>
                            </p:selectOneMenu>
                        
                        <p:separator/>
                        <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Descripción del Contrato: "/>
                            <p:editor id="editor" widgetVar="editorWidget" value="" width="800" />
                        </h:panelGrid>
                        <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Seleccione la clusula a modificar: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una clusula..."/>
                            </p:selectOneMenu>
                            <p:commandButton value="Agregar/Modificar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        
                        </h:panelGrid>
                        <p:dataTable var="edendaC" id="adendaC" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                Lista de Clausulas
                            </f:facet>
                           
                            <p:column headerText="Clausula">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="Descripción">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Modificación">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Modificar">
                                <h:outputText value="#"/>
                            </p:column>
                            
                            <f:facet name="footer">
                               ...
                            </f:facet>
                        </p:dataTable>
                        
                        <p:commandButton value="Crear la adenda" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        <p:commandButton value="Cancelar" action="#"  style="margin:  20px 20px 20px 20px;"/>
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
