<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
        <h:form id="frmadi">
            <p:panel header="Adición de Clausulas para los contratos" style="width: 1070px; margin: 0 auto 0 auto;">
                <p:growl id="growl" />
                <p:panelGrid style="margin: auto;width:80%">
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Tipo de contrato: "/>
                        </p:column>
                        <p:column style="width:75%">
                            <p:selectOneMenu value="#{modeloContratoBean.clausulasModeloContrato.id.codigoContrato}" style="width:100%" >
                                <p:ajax listener="#{modeloContratoBean.onSelectTipoContrato()}" update="in_clausula,tblcla" />
                                <f:selectItem  itemLabel="Seleccione el contrato..." noSelectionOption="true" />
                                <f:selectItems value="#{modeloContratoBean.lstModeloContrato}" var="item" itemLabel="#{item.tipoContrato}" itemValue="#{item.codigoContrato}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Clausula: "/>
                        </p:column>
                        <p:column style="width:75%">
                            <p:selectOneMenu id="in_clausula" value="#{modeloContratoBean.clausulasModeloContrato.id.clausula}" disabled="#{modeloContratoBean.disableClausula}" style="width:100%" >
                                <p:ajax listener="#{modeloContratoBean.onSelectClausula()}" />
                                <f:selectItem itemLabel="Seleccione la clausula..." noSelectionOption="true" />
                                <f:selectItem itemLabel="Primera" itemValue="Primera" />
                                <f:selectItem itemLabel="Segunda" itemValue="Segunda" />
                                <f:selectItem itemLabel="Tercera" itemValue="Tercera" />
                                <f:selectItem itemLabel="Cuarta" itemValue="Cuarta" />
                                <f:selectItem itemLabel="Quinta" itemValue="Quinta" />
                                <f:selectItem itemLabel="Sexta" itemValue="Sexta" />
                                <f:selectItem itemLabel="Septima" itemValue="Septima" />
                                <f:selectItem itemLabel="Octava" itemValue="Octava" />
                                <f:selectItem itemLabel="Novena" itemValue="Novena" />
                                <f:selectItem itemLabel="Decima" itemValue="Decima" />
                                <f:selectItem itemLabel="Decima primera" itemValue="Decima primera" />
                                <f:selectItem itemLabel="Decima segunda" itemValue="Decima segunda" />
                                <f:selectItem itemLabel="Decima tercera" itemValue="Decima tercera" />
                                <f:selectItem itemLabel="Decima cuarta" itemValue="Decima cuarta" />
                                <f:selectItem itemLabel="Decima quinta" itemValue="Decima quinta" />
                                <f:selectItem itemLabel="Decima sexta" itemValue="Decima sexta" />
                                <f:selectItem itemLabel="Decima septima" itemValue="Decima septima" />
                                <f:selectItem itemLabel="Decima octava" itemValue="Decima octava" />
                                <f:selectItem itemLabel="Decima novena" itemValue="Decima novena" />
                                <f:selectItem itemLabel="Vigesima" itemValue="Vigesima" />
                                <f:selectItem itemLabel="Vigesima primera" itemValue="Vigesima primera" />
                                <f:selectItem itemLabel="Vigesima segunda" itemValue="Vigesima segunda" />
                                <f:selectItem itemLabel="Vigesima tercera" itemValue="Vigesima tercera" />
                                <f:selectItem itemLabel="Vigesima cuarta" itemValue="Vigesima cuarta" />
                                <f:selectItem itemLabel="Vigesima quinta" itemValue="Vigesima quinta" />
                                <f:selectItem itemLabel="Vigesima sexta" itemValue="Vigesima sexta" />
                                <f:selectItem itemLabel="Vigesima septima" itemValue="Vigesima septima" />
                                <f:selectItem itemLabel="Vigesima octava" itemValue="Vigesima octava" />
                                <f:selectItem itemLabel="Vigesima novena" itemValue="Vigesima novena" />
                                <f:selectItem itemLabel="Trigesima" itemValue="Trigesima" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:editor id="editor" widgetVar="editorWidget" value="#{modeloContratoBean.clausulasModeloContrato.descripcionClausula}" width="800" />
                </h:panelGrid>
                <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:commandButton value="Agregar y Seguir" action="#{modeloContratoBean.guardarClausula()}" update=":frmadi:growl,:frmadi:tblcla" styleClass="ui-priority-primary" style="margin:  20px"/>
                    <p:commandButton value="Agregar y Terminar" action="#{modeloContratoBean.guardarClausulaTerminar()}" update="@form" styleClass="ui-priority-primary" style="margin:  20px"/>
                    <p:commandButton value="Cancelar" action="#{modeloContratoBean.limpiarModeloClausula()}" update="@form" style="margin: 20px"/>

                </h:panelGrid>
                <p:separator/>
                <p:dataTable var="cla" id="tblcla" value="#{modeloContratoBean.lstClausulasModeloContrato}" emptyMessage="No hay clausulas." style="width:60%;margin: auto" >
                    <f:facet name="header">
                        Lista de Clausulas
                    </f:facet>

                    <p:column headerText="Clausula" style="width:50%">
                        <h:outputText value="#{cla.id.clausula}"/>
                    </p:column>
                    <p:column  headerText="Modificar" >
                        <p:commandButton actionListener="#{modeloContratoBean.setClausulasModeloContratoDlg(cla)}" update=":frmcla" onclick="PF('dlgcla').show()" icon="ui-icon-wrench" style="margin: 0 40% 0 40%"/>
                    </p:column>
                </p:dataTable>

            </p:panel>
        </h:form>

        <p:dialog id="dlgmod" widgetVar="dlgcla" fitViewport="true" style="float: top" modal="true" resizable="false">
            <h:form id="frmcla">
                <p:panelGrid style="margin: auto;width:80%">
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Tipo de contrato: "/>
                        </p:column>
                        <p:column style="width:75%;font-size:12px">
                            <h:outputText value="#{modeloContratoBean.clausulasModeloContratoDlg.modeloContrato.tipoContrato}" style="font-weight: bold" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Clausula: "/>
                        </p:column>
                        <p:column style="width:75%;font-size:12px">
                            <h:outputText value="#{modeloContratoBean.clausulasModeloContratoDlg.id.clausula}" style="font-weight: bold" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:editor id="editor" widgetVar="editorWidget" value="#{modeloContratoBean.clausulasModeloContratoDlg.descripcionClausula}" width="800" />
                </h:panelGrid>
                <p:commandButton value="Cancelar" action="#{modeloContratoBean.limpiar()}" onclick="PF('dlgcla').hide()" style="margin:  20px" />
                <p:commandButton value="Guardar" action="#{modeloContratoBean.updateClausula()}" onclick="PF('dlgcla').hide()" update=":frmadi:tblcla,:frmadi:growl" style="margin:  20px" />
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
