<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
      <h:form>
                    <p:panel  style="width: 1070px; margin: 0 auto 0 auto;">
                        <p:growl id="growl" />
                        
                        <p:dataTable var="edendaC" id="adendaC" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                Administrar Contratos
                            </f:facet>
                           
                            <p:column headerText="Codigo">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="Descripción">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Ver" style="text-align: center;">
                                <p:commandButton value="Ver" onclick="PF('views').show();"/>
                            </p:column>
                            <p:column  headerText="Imprimir" style="text-align: center;">
                                <p:commandButton value="Imprimir" action="#">
                                    <p:printer />
                                </p:commandButton>
                            </p:column>
                            <p:column  headerText="Enviar" style="text-align: center;"> 
                                <p:commandButton value="Enviar" action="#"  />
                            </p:column>
                            <f:facet name="footer">
                               ...
                            </f:facet>
                        </p:dataTable>
                        
                    </p:panel>
          
          <p:dialog header="Visualización de Contrato" widgetVar="views" modal="true" height="540px" position="top">
            <h:form id="contrato">
                
                <h:panelGrid columns="4" style="margin-top: 15px; width: 900px;">
                    <p:editor id="editor" widgetVar="editor2" value="" width="890" height="520"/>
                </h:panelGrid>
                <p:separator/>
            </h:form>
        </p:dialog>  
      </h:form>
        
    </ui:define>

</ui:composition>
