<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
        <h:form id="frmroot" >
            <p:panel header="Gestión de Contratos" style="width: 700px; margin: 0 auto 0 auto;">
                <p:growl id="growl" />
                <p:panelGrid id="pnlBoton" columns="2" rendered="#{contratoBean.renderPanelBoton}" style="margin: auto;border:hidden;padding:0px">
                    <p:commandButton value="Contrato Nuevo" actionListener="#{contratoBean.onActionNuevoContrato()}" update="pnlScroll,pnlBoton" style="margin: 5px 15px 5px 15px"/> 
                    <p:commandButton value="A partir de uno existente" type="button" onclick="PF('modificarNuevo').show();" style="margin: 5px 15px 5px 15px"/>
                </p:panelGrid>
            </p:panel>
            <p:separator/>
            <p:scrollPanel id="pnlScroll" rendered="#{contratoBean.renderNuevoContrato}" mode="native" style="height:650px">
                <h:form id="frmNuevo" >
                    <p:panel id="pnl" style="width: 850px; margin: 0 auto 0 auto;">
                        <p:outputLabel value="Seleccione el tipo de contrato: "/>
                        <p:selectOneMenu value="#{contratoBean.contrato.descripcionContrato}" >
                            <p:ajax update="pnl" />
                            <f:selectItem itemLabel="Seleccione un tipo de contrato..." noSelectionOption="true" />
                            <f:selectItems value="#{modeloContratoBean.lstModeloContrato}" var="mc" itemLabel="#{mc.tipoContrato}" itemValue="#{mc.descripcionContrato}" />
                        </p:selectOneMenu>
                        <p:separator/>
                        <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Descripción del contrato: "/>
                            <p:editor id="editor2" value="#{contratoBean.contrato.descripcionContrato}" width="800" />
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Digite el código del contrato: "/>
                            <p:inputText value="#{contratoBean.contrato.codigoContrato}"/>
                        </h:panelGrid>
                        <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Fecha de inicio: "/>
                            <p:calendar value="#{contratoBean.contrato.fechaInicio}" />
                            <p:outputLabel value="Fecha de fin: "/>
                            <p:calendar value="#{contratoBean.contrato.fechaFinalizacion}" />
                            <p:outputLabel value="Fuente de financiamiento: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una fuente..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Cuenta: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una cuenta..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Total a pagar: "/>
                            <p:inputText value="#"/>
                            <p:outputLabel value="Fondo disponible: "/>
                            <p:inputText value="#"/>
                        </h:panelGrid>
                        <p:dataTable id="tblClausula1" var="clau" value="#{contratoBean.contrato.clausulasContratos}" widgetVar="tblClausula1" >
                            <f:facet name="header">
                                Seleccione las Clausulas a modificar
                            </f:facet>

                            <p:column headerText="Clausula">
                                <h:outputText value="#{clau.id.clausula}"/>
                            </p:column>
                            <p:column  style="text-align: center;">
                                <p:commandButton icon="ui-icon-pencil" actionListener="#{contratoBean.setClausulaSelected(clau)}" />
                            </p:column>
                            <f:facet name="footer">
                                ...
                            </f:facet>
                        </p:dataTable>
                        <p:commandButton value="Crear Contrato" action="#" styleClass="ui-priority-primary" style="margin: 20px;"/>
                        <p:commandButton value="Visualizar" action="#" styleClass="ui-priority-primary" style="margin:  20px;"/>
                        <p:commandButton value="Enviar a validar" action="#" styleClass="ui-priority-primary" style="margin: 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 20px;"/>
                    </p:panel>
                </h:form>
            </p:scrollPanel>
        </h:form>

        <p:dialog id="dlgModCla" widgetVar="dlgCla" fitViewport="true" style="float: top" modal="true" resizable="false">
            <h:form id="frmcla">
                <p:panelGrid style="margin: auto;width:80%">
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Tipo de contrato: "/>
                        </p:column>
                        <p:column style="width:75%;font-size:12px">
                            <h:outputText value="#{contratoBean.contrato.tipoContrato}" style="font-weight: bold" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column style="text-align: right">
                            <p:outputLabel value="Clausula: "/>
                        </p:column>
                        <p:column style="width:75%;font-size:12px">
                            <h:outputText value="#{contratoBean.clausulaSelected.id.clausula}" style="font-weight: bold" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:editor id="editor" value="#{contratoBean.clausulaSelected.descripcionClausula}" width="800" />
                </h:panelGrid>
                <p:commandButton value="Cancelar" action="#{contratoBean.cancelarEditClausula()}" onclick="PF('dlgCla').hide()" style="margin:  20px" />
                <p:commandButton value="Guardar" action="#{contratoBean.updateClausula()}" onclick="PF('dlgCla').hide()" update=":frmroot:frmNuevo:tblClausula1,:frmroot:growl" style="margin:  20px" />
            </h:form>
        </p:dialog>

        <p:dialog header="Contrato en base a otro" widgetVar="modificarNuevo" modal="true" position="top">
            <p:scrollPanel mode="native" style="height:650px">
                <h:form>
                    <p:panel header="Mantenimiento de contratos" style="width: 850px; margin: 0 auto 0 auto;">
                        <p:growl id="growl" />
                        <p:outputLabel value="Seleccione el tipo de contrato: "/>
                        <p:selectOneMenu>
                            <f:selectItem  itemLabel="Seleccione un tipo de contrato..."/>
                        </p:selectOneMenu>
                        <p:separator/>
                        <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Descripción del contrato: "/>
                            <p:editor id="editor2" widgetVar="editorWidget" value="" width="800" />
                        </h:panelGrid>
                        <h:panelGrid columns="2" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Digite el código del contrato: "/>
                            <p:inputText value=""/>
                        </h:panelGrid>
                        <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Fecha de inicio: "/>
                            <p:calendar/>
                            <p:outputLabel value="Fecha de fin: "/>
                            <p:calendar/>
                            <p:outputLabel value="Fuente de financiamiento: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una fuente..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Cuenta: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una cuenta..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Total a pagar: "/>
                            <p:inputText value=""/>
                            <p:outputLabel value="Fondo disponible: "/>
                            <p:inputText value=""/>
                        </h:panelGrid>
                        <p:dataTable var="add" id="add" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                Seleccione las Clusulas a modificar
                            </f:facet>

                            <p:column headerText="Clausula">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="Descripción">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Modificar">
                                <h:outputText value="#"/>
                            </p:column>
                            <p:column  style="text-align: center;">
                                <p:selectBooleanCheckbox value="#" />
                            </p:column>
                            <f:facet name="footer">
                                ...
                            </f:facet>
                        </p:dataTable>
                        <p:commandButton value="Crear Contrato" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        <p:commandButton value="Crear y Visualizar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        <p:commandButton value="Enviar archivo por email" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        <p:commandButton value="Cancelar" action="#"  style="margin:  20px 20px 20px 20px;"/>
                    </p:panel>
                </h:form>
            </p:scrollPanel>
        </p:dialog>

    </ui:define>

</ui:composition>
