<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="frm">
            <p:panel header="Modelos de Contratos" style="width: 1070px; margin: 0 auto 0 auto;">
                <p:growl id="growl" />
                <p:outputLabel for="tipoContrato" value="Tipo de Contrato: "/>
                <p:inputText id="tipoContrato" value="#{modeloContratoBean.modeloContrato.tipoContrato}" maxlength="100" required="true" requiredMessage="El tipo de contrato es necesario" style="width: 700px;"/>
                <p:separator/>
                <h:panelGrid columns="1" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:outputLabel for="editor" value="Descripción del contrato:"/>
                    <p:editor id="editor" value="#{modeloContratoBean.modeloContrato.descripcionContrato}" style="width: 100%;" />
                </h:panelGrid>
                <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto 0 auto; text-align: center;">
                    <p:commandButton value="Crear" action="#{modeloContratoBean.guardar()}" update="growl,tblModelosContrato" styleClass="ui-priority-primary" style="margin:  20px;"/>
                    <p:commandButton value="Cancelar" action="#{modeloContratoBean.limpiar()}" update="@form" style="margin:  20px;"/>

                </h:panelGrid>
                
                <p:separator />

                <p:dataTable id="tblModelosContrato" var="modelosContrato" value="#{modeloContratoBean.lstModeloContrato}" widgetVar="modelosContratoVar"
                             rows="5" paginator="true" rowsPerPageTemplate="5,10,15" emptyMessage="No hay modelos de contrato." 
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" >

                    <p:column headerText="Modelos de contrato">
                        <h:outputText value="#{modelosContrato.tipoContrato}" />
                    </p:column>
                </p:dataTable>

            </p:panel>

        </h:form>

    </ui:define>

</ui:composition>
