<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/sigefi/recursos/estilos/plantilla.css"/>
        <title>Plan Trifinio</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">
                <section class="header1">
                    <div class="banner">
                        <div class="logo"><img src="/sigefi/recursos/imagenes/logo.png" height="140px"/></div>
                        <div class="titulo"><h1>Sistema Integrado de Gestión Financiera</h1></div>
                    </div>  
                </section>
                <div class="wrap">


                    <h:form>  
                        <p:growl id="messages"/>

                        <p:menubar style="height: auto;" >
                            <p:menuitem value="Inicio" icon="ui-icon-home" style="font-size: 14px;" ></p:menuitem>
                            <p:submenu label="Contratos" icon="ui-icon-clipboard" style="font-size: 14px;">
                                <p:submenu label="Modelos" icon="ui-icon-script" style="font-size: 14px;">

                                    <p:menuitem value="Modelos Contratos" icon="ui-icon-document" outcome="modelosContratos"/>
                                    <p:menuitem value="Adicionar Clausula" icon="ui-icon-note" outcome="adicionarClausulasModelo" />



                                </p:submenu>
                                <p:submenu label="Generar Contratos" icon="ui-icon-document" style="font-size: 14px;">
                                    <p:menuitem value="Crear Contrato" icon="ui-icon-arrowreturnthick-1-e" outcome="crearContratos" ></p:menuitem>
                                    <p:menuitem value="Administrar Contratos" icon="ui-icon-gear" outcome="administrarContratos" ></p:menuitem>
                                    <p:menuitem value="Adenda Contratos" icon="ui-icon-newwin" outcome="adendaContratos" ></p:menuitem>



                                </p:submenu>
                            </p:submenu>

                            <p:menuitem value="Adquisiciones" icon="ui-icon-note" outcome="requisicionAdquisicion" style="font-size: 14px;" /> 
                            
                            <p:menuitem value="Cambiar Contraseña" icon="ui-icon-person" style="font-size: 14px;" onclick="PF('cambioContra').show()" />

                            <p:menuitem value="Salir" icon="ui-icon-close"  style="font-size: 14px;" action="#{sessionBean.cerrarSession()}" />


                            <f:facet name="options">
                                <p:outputLabel style="margin-right:10px" value="Usuario: #{sessionBean.usu}" />
                            </f:facet>

                        </p:menubar>
                    </h:form>
                    <p:dialog  header="Cambio de Contraseña"  widgetVar="cambioContra"  modal="true" resizable="false" style="width: 460px;" >
                        <h:form id="cambioContraf" enctype="multipart/form-data" style="width: 400px;" class="dialog" >
                            <p:growl id="growl" showDetail="true" sticky="false" />  

                            <fieldset>
                                <h:panelGrid id="pg1" columns="1" style="text-align: center; width: 100%;">
                                    <p:inputText id="itnpw" type="text" class="inputtxt" value="#{sessionBean.nuvaClave}" 
                                                 placeholder="Nueva Contraseña" style="margin: 20px 5px 5px 5px; width: 95%;" required="true" requiredMessage="Se requiere una nueva contraseña" ></p:inputText>          
                                    <!--<p:commandButton value="Guardar" action="{cambioContraBean.UpdateContra()}" disabled="{OEstrategicoBean.btnRes1}" update="growl" />-->
                                    <p:commandButton value="Guardar" action="#{sessionBean.UpdateContra()}"  update="growl" />
                                </h:panelGrid>
                            </fieldset>

                        </h:form>
                    </p:dialog>
                </div>
            </ui:insert>
        </div>

        <div class="seccion">
            <section class="seccion">
                <div class="container">
                    <ui:insert name="content"></ui:insert>
                </div>
            </section>

        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <section class="seccionabajo">
                    <div class="footer">
                        <p>&copy; Derechos Reservados SIGEFI</p>
                    </div>  
                </section>
            </ui:insert>
        </div>

    </h:body>

</html>
