<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contrato.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="fromRequisi">

            <p:growl id="growlRequi" sticky="false" showDetail="false"/>

            <p:wizard nextLabel="Siguiente" backLabel="Anterior" id="wizardGeneral" >
                <p:tab id="principal" title="Principal">
                    <p:panel header="Detalle de requisición">
                        <p:messages />
                        <h:panelGrid id="principa" columns="2" columnClasses="grid,grid">
                            <h:panelGrid columns="2" columnClasses="label, value">
                                
                                <h:outputText value="Código requerimiento : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.codRequerimiento}" maxlength="75" required="true" requiredMessage="Se requiere el codigo del requerimiento" >
                                    <p:ajax event="blur" update="fromRequisi" listener="#{requerimientoAdquisicionBean.comprobrarRequerimiento()}" />
                                </p:inputText>
                                
                                <h:outputText value="Oficina: " />
                                <p:selectOneMenu value="#{requerimientoAdquisicionBean.idUnidadOficina}" required="true" requiredMessage="Se requiere una oficina" >
                                    <f:selectItem  itemLabel="Seleccione oficina : " noSelectionOption="true"/>
                                    <f:selectItems value="#{requerimientoAdquisicionBean.listUniOficina}" var="uo" itemLabel="#{uo.nombreUnidad}" itemValue="#{uo.codigo}" />
                                </p:selectOneMenu>

                                

                                <h:outputText value="Número del proceso : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.numProceso}" required="true" requiredMessage="Se requiere el numero de proceso" />

                                <h:outputText value="Unidad Ejecutora : " />
                                <p:selectOneMenu value="#{requerimientoAdquisicionBean.idUnidadTodos}" required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                                    <f:selectItem  itemLabel="Seleccione un proyecto " itemValue="0" />
                                    <f:selectItems value="#{requerimientoAdquisicionBean.listUniTodos}" var="up" itemLabel="#{up.nombreUnidad}" itemValue="#{up.codigo}" />
                                    <p:ajax update="anioS" listener="#{requerimientoAdquisicionBean.unidadEjecutoraSeleccionada()}" />
                                </p:selectOneMenu>

                                <p:outputLabel value="Nombre del gasto : "/>
                                <p:selectOneMenu value="#{requerimientoAdquisicionBean.numCuenta}" id="detalleCuenta" required="true" requiredMessage="Se requiere el nombre del gasto seleccione una la unidad ejecutora y año" >
                                    <f:selectItem  itemLabel="Seleccione un Gasto..." noSelectionOption="true" />
                                    <f:selectItems value="#{requerimientoAdquisicionBean.listDetalleCuentas}" var="dc" itemLabel="#{dc.catalogoCuentas.nombreCuenta}" itemValue="#{dc.catalogoCuentas.idCuenta}" />
                                    <p:ajax process="@this"  update="numCuenta" />
                                </p:selectOneMenu>

                                <h:outputText value="Actividad : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.actividad}" required="true" requiredMessage="Se requiere la actividad" />

                                <h:outputText value="Unidad solicitante : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.unidadSolicitante}" required="true" requiredMessage="Se requiere la unidad solicitante" />

                                <h:outputText value="Nombre del solicitante : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.nombreSolicitante}" required="true" requiredMessage="Se requiere el nombre del solicitante"/>

                            </h:panelGrid>
                            <h:panelGrid columns="2" columnClasses="label, value">
                                <h:outputText value="Fecha : " />
                                <p:calendar value="#{requisicionBean.fechaPresentacion}"  required="true" requiredMessage="Se requiere la fecha de presentacion" />

                                <h:outputText value="Nombre del proceso : " />
                                <p:inputText value="#{requerimientoAdquisicionBean.nombreProceso}" required="true" requiredMessage="Se requiere el nombre del proceso"/>
                                
                                <h:outputText value="Año :" />
                                <p:selectOneMenu id="anioS" value="#{requerimientoAdquisicionBean.anioSelecc}" required="true" requiredMessage="Se requiere un año de ejecución" disabled="#{requerimientoAdquisicionBean.estadoAnio}" >
                                    <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                                    <f:selectItems value="#{requerimientoAdquisicionBean.listAnio}" />
                                    <p:ajax listener="#{requerimientoAdquisicionBean.anioSeleccionado()}" update="fromRequisi:growlRequi detalleCuenta" />
                                </p:selectOneMenu>
                                
                                <h:outputText value="Presupuesto estimado :" />
                                <p:inputText value="#{requerimientoAdquisicionBean.presupuestoEstimado}" id="pre_estimado"  required="true" requiredMessage="Se requiere el presupuesto estimado" />

                                <p:outputLabel value="Codigo del gasto :"/>
                                <p:outputLabel value="#{requerimientoAdquisicionBean.numCuenta}" id="numCuenta"  />

                                <p:outputLabel value="Metodo de selección :"/>
                                <p:selectOneMenu value="#{requerimientoAdquisicionBean.metodoSeleccion}" required="true" requiredMessage="Se requiere el metod de selección" >
                                    <f:selectItem  itemValue="Compra directa" itemLabel="Compra directa"/>
                                    <f:selectItem itemValue="Libre gestión" itemLabel="Libre gestión"/>
                                    <f:selectItem itemValue="Licitacion/Concurso" itemLabel="Licitación/Concurso"/>
                                </p:selectOneMenu>


                            </h:panelGrid>
                        </h:panelGrid>
                    </p:panel>
                </p:tab>

                <p:tab id="detalles" title="Detalles">
                    <p:panel header="Descripción de los items">
                        <p:messages />
                        <h:panelGrid  columns="2" columnClasses="label, value">

                            <h:outputText value="Cantidad :" />
                            <p:inputText value="#{requerimientoAdquisicionBean.cantidad}"   />

                            <h:outputText value="Precio unitario :" />
                            <p:inputText value="#{requerimientoAdquisicionBean.precioUnitario}" />
                            
                            <h:outputText value="Unidad de medida :" />
                            <p:inputText value="#{requerimientoAdquisicionBean.unidadMedida}" />
                            
                            <h:outputText value="Descipcion :" />
                            <p:inputText value="#{requerimientoAdquisicionBean.descripcion}"  size="100"  required="#{requerimientoAdquisicionBean.estadotabla}" requiredMessage="Se requiere almenos un elemento de la tabla" />
                            
                            <p:commandButton value="Agregar" action="#{requerimientoAdquisicionBean.agregrarElementoListaDetalleReq()}" update="fromRequisi"  styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                            <p:commandButton value="Finalizar" action="#{requerimientoAdquisicionBean.finalizarLista()}" process="@this"  disabled="#{requerimientoAdquisicionBean.estadofinalizar}"  style="margin: 0 20px 0 20px;"/>
                            <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>

                            <p:dataTable var="detReq" id="detalleReq" value="#{requerimientoAdquisicionBean.listDetalleReqAqui}" >

                                <p:column  headerText="Cantidad">
                                    <h:outputText value="#{detReq.cantidad}"/>
                                </p:column>

                                <p:column  headerText="Descripción">
                                    <h:outputText value="#{detReq.nombreBien}"/>
                                </p:column>

                                <p:column  headerText="P. unitario">
                                    <h:outputText value="#{detReq.precioUnitario}"/>
                                </p:column>
                                <p:column  headerText="Unidad de Medida">
                                    <h:outputText value="#{detReq.unidadMedida}"/>
                                </p:column>
                                <p:column>
                                    <p:commandButton  value="Eliminar" actionListener="#{requerimientoAdquisicionBean.eliminarElementoListaDetalleReq(detReq)}" process="@this" update=":fromRequisi"/>
                                </p:column>

                            </p:dataTable>
                        </h:panelGrid>
                    </p:panel>
                </p:tab>

                <p:tab id="vistoBueno" title="VistoBueno">
                    <p:panel header="Visto Bueno">
                        <p:messages />
                        <h:panelGrid columns="2" columnClasses="label, value">
                            <h:outputText value="Nombre : *" />
                            <p:inputText value="#{requerimientoAdquisicionBean.nombre}" required="#{requerimientoAdquisicionBean.estadotabla2}" requiredMessage="Se requiere almenos un elemento de la tabla"/>
                            <h:outputText value="Puesto : *" />
                            <p:inputText value="#{requerimientoAdquisicionBean.puesto}" />  
                            
                            <p:commandButton value="Agregar" action="#{requerimientoAdquisicionBean.agregrarElementoListaVistoBueno()}" update="fromRequisi"  styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                            <p:commandButton value="Finalizar" action="#{requerimientoAdquisicionBean.finalizarListaVistoBueno()}" process="@this"  disabled="#{requerimientoAdquisicionBean.estadofinalizar2}" style="margin: 0 20px 0 20px;"/>
                            <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>

                            <p:dataTable var="vis"  value="#{requerimientoAdquisicionBean.listVistoBueno}" >

                                <p:column  headerText="Nombre">
                                    <h:outputText value="#{vis.id.nombre}"/>
                                </p:column>

                                <p:column  headerText="Puesto">
                                    <h:outputText value="#{vis.puesto}"/>
                                </p:column>
                                
                                <p:column>
                                    <p:commandButton  value="Eliminar" actionListener="#{requerimientoAdquisicionBean.eliminarElementoListaVistoBueno(vis)}" process="@this" update=":fromRequisi"/>
                                </p:column>

                            </p:dataTable>
                            
                        </h:panelGrid>
                    </p:panel>
                </p:tab>

                <p:tab id="confirm" title="Confirmation">
                    <p:panel header="Confirmation">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:panel header="Detalle de requisición">
                                        <h:panelGrid  columns="2" columnClasses="grid,grid">
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <p:outputLabel value="Oficina : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.idUnidadOficina}" />

                                                <p:outputLabel value="Código requerimiento : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.codRequerimiento}" />

                                                <p:outputLabel value="Número del proceso : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.numProceso}" />

                                                <p:outputLabel value="Unidad Ejecutora : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.idUnidadTodos}" />

                                                <p:outputLabel value="Nombre del gasto : "/>
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.numCuenta}" />

                                                <p:outputLabel value="Actividad : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.actividad}" />

                                                <p:outputLabel value="Unidad solicitante : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.unidadSolicitante}" />

                                                <p:outputLabel value="Nombre del solicitante : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.nombreSolicitante}" />
                                            </h:panelGrid>
                                            
                                            <h:panelGrid columns="2" columnClasses="label, value">
                                                <p:outputLabel value="Fecha : " />
                                                <p:outputLabel value="#{requisicionBean.fechaPresentacion}" />

                                                <p:outputLabel value="Nombre del proceso : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.nombreProceso}" />

                                                <p:outputLabel value="Año : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.anioSelecc}" />

                                                <p:outputLabel value="Presupuesto estimado : " />
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.presupuestoEstimado}" />

                                                <p:outputLabel value="Codigo del gasto : "/>
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.numCuenta}"  />

                                                <p:outputLabel value="Metodo de selección : "/>
                                                <p:outputLabel value="#{requerimientoAdquisicionBean.metodoSeleccion}" />

                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>
                                </p:column>
                            </p:row> 
                            <p:row>
                                <p:column>
                                <p:panel header="Descripción de los items">
                                    <h:panelGrid  columns="2" columnClasses="label, value">
                                        <p:dataTable var="detReq" value="#{requerimientoAdquisicionBean.listDetalleReqAqui}" >

                                            <p:column  headerText="Cantidad">
                                                <h:outputText value="#{detReq.cantidad}"/>
                                            </p:column>

                                            <p:column  headerText="Descripción">
                                                <h:outputText value="#{detReq.nombreBien}"/>
                                            </p:column>

                                            <p:column  headerText="P. unitario">
                                                <h:outputText value="#{detReq.precioUnitario}"/>
                                            </p:column>
                                            <p:column  headerText="Unidad de Medida">
                                                <h:outputText value="#{detReq.unidadMedida}"/>
                                            </p:column>

                                        </p:dataTable>
                                    </h:panelGrid>
                                </p:panel>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:panel header="Visto Bueno">
                                        <h:panelGrid columns="2" columnClasses="label, value">
                                            <p:dataTable var="vis"  value="#{requerimientoAdquisicionBean.listVistoBueno}" >

                                                <p:column  headerText="Nombre">
                                                    <h:outputText value="#{vis.id.nombre}"/>
                                                </p:column>

                                                <p:column  headerText="Puesto">
                                                    <h:outputText value="#{vis.puesto}"/>
                                                </p:column>

                                                <p:column>
                                                    <p:commandButton  value="Eliminar" actionListener="#{requerimientoAdquisicionBean.eliminarElementoListaVistoBueno(vis)}" process="@this" update=":fromRequisi"/>
                                                </p:column>

                                            </p:dataTable>   
                                        </h:panelGrid>
                                    </p:panel>
                                </p:column>
                            </p:row>
                        </p:panelGrid>

                        <p:commandButton value="Submit" actionListener="#" update="growlRequi" process="@this"/>
                    </p:panel>
                </p:tab>
            </p:wizard>

        </h:form>

    </ui:define>

</ui:composition>
