<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromDetalle"  >
            <p:growl id="growlDetalle" showDetail="false" />
            <p:panel header="Agregar Monto" style="width: 1000px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="4" cellpadding="5">
                    <p:outputLabel value="Unidad Ejecutora: "/>
                    <p:selectOneMenu value="#{detallePresupuestoBean.unidadesEjecutoras}" 
                                     required="true" requiredMessage="Se requiere una Unidad Ejecutora" >
                        <f:selectItem  itemLabel="Seleccione una Unidad Ejecutora..." itemValue="0" />
                        <f:selectItems value="#{detallePresupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Año:    "/>
                    <p:selectOneMenu value="#{detallePresupuestoBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución"  >
                        <f:selectItem  itemLabel="Seleccione el año.." itemValue="0" />
                        <f:selectItems value="#{detallePresupuestoBean.listAnios}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Fecha de elaboracion"/>
                    <p:outputLabel value="#{detallePresupuestoBean.fechaCreacionPresupuesto}" />

                    <p:outputLabel value="Moneda: "/>
                    <p:outputLabel value="#{detallePresupuestoBean.monedaPresupuesto}" />
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Consultar" action="#{detallePresupuestoBean.buscarCuentasPre()}" update="growlDetalle" style="margin-left: 0px;"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:separator/>

                <p:dataTable binding="#{detallePresupuestoBean.detalleDataTable}" var="cuen" value="#{detallePresupuestoBean.listAllDetalle}">
                    <p:column headerText="Codigo" width="50" style="text-align: center;">
                        <p:outputLabel value="#{cuen.catalogoCuentas.codigoCuenta}"/>
                    </p:column>
                    <p:column headerText="Descripción" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                    
                    <p:column headerText="Agregar Monto" width="220" style="text-align: center;" >
                        <p:inputText value="#{cuen.presupuestoAprobado}" />
                    </p:column>
                   
                   <!-- <p:column headerText="Agregar Monto" width="155" >
                        <p:commandButton value="Agregar Monto" onclick="PF('detalleCuenta').show();" 
                                         action="#{detallePresupuestoBean.consultarCuenta(cuen.presupuestos.codigoPresupuesto,cuen.id.codigoCuenta)}" />
                    </p:column>-->
                    <f:facet name="footer">
                        <p:commandButton value="Guardar Montos" action="#{detallePresupuestoBean.insertarMontos()}" update=":fromDetalle:growlDetalle"  style="margin-left: 0px" />
                        <p:button value="Limpiar" outcome="agregarDetalle"  style="margin-left: 10px" />
                    </f:facet>
                </p:dataTable>
            </p:panel>
        </h:form>
        <!--<p:dialog header="Agregar Detalle Cuenta" widgetVar="detalleCuenta" modal="true" resizable="false"  closable="false" >
            <h:form id="fromDetalleCuenta" enctype="multipart/form-data" >
                <p:growl id="growlDetalleCuenta" />
                <p:panel header="Agregar Montos" widgetVar="subcuentas" style="width: 600px; margin: 0 auto 0 auto; margin-top: 15px;">
                    <h:panelGrid columns="4" style="margin-top: 15px;">
                        <p:outputLabel value="Enero:"/>
                        <p:inputText value="{detallePresupuestoBean.enero}" />
                        <p:outputLabel value="Febrero:"/>
                        <p:inputText value="{detallePresupuestoBean.febrero}" />
                        <p:outputLabel value="Marzo:"/>
                        <p:inputText value="{detallePresupuestoBean.marzo}" />
                        <p:outputLabel value="Abril:"/>
                        <p:inputText value="{detallePresupuestoBean.abril}" />
                        <p:outputLabel value="Mayo:"/>
                        <p:inputText value="{detallePresupuestoBean.mayo}" />
                        <p:outputLabel value="Junio:"/>
                        <p:inputText value="{detallePresupuestoBean.junio}" />
                        <p:outputLabel value="Julio:"/>
                        <p:inputText value="{detallePresupuestoBean.julio}" />
                        <p:outputLabel value="Agosto:"/>
                        <p:inputText value="{detallePresupuestoBean.agosto}"/>
                        <p:outputLabel value="Septiembre:"/>
                        <p:inputText value="{detallePresupuestoBean.septiembre}" />
                        <p:outputLabel value="Octubre:"/>
                        <p:inputText value="{detallePresupuestoBean.octubre}" />
                        <p:outputLabel value="Noviembre:"/>
                        <p:inputText value="{detallePresupuestoBean.noviembre}" />
                        <p:outputLabel value="Diciembre:"/>
                        <p:inputText value="{detallePresupuestoBean.diciembre}" />
                    </h:panelGrid>
                </p:panel>
                <p:separator/>
                <p:commandButton value="Guardar" action="{detallePresupuestoBean.inserUpdateDetalle()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                <p:commandButton value="Cerrar" onclick="PF('detalleCuenta').hide();" style="margin: 0 20px 0 20px;" action="{detallePresupuestoBean.limpiar()}"/>
            </h:form>
        </p:dialog>-->
        
        <p:dialog header="Agregar Monto Rubro" widgetVar="detalleCuenta" modal="true" resizable="false"  closable="false" >
            <h:form id="fromDetalleCuenta" enctype="multipart/form-data" >
                <p:growl id="growlDetalleCuenta" />
                <p:panel header="Agregar Monto" widgetVar="subcuentas" style="width: 600px; margin: 0 auto 0 auto; margin-top: 15px;">
                    <h:panelGrid columns="4" style="margin-top: 15px;">
                        <p:outputLabel value="Presupuesto Aprobado :"/>
                        <p:inputText value="#{detallePresupuestoBean.presupuestoAprobado}" />
                    </h:panelGrid>
                </p:panel>
                <p:separator/>
                <p:commandButton value="Guardar" action="#{detallePresupuestoBean.inserUpdateDetalle()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                <p:commandButton value="Cerrar" onclick="PF('detalleCuenta').hide();" style="margin: 0 20px 0 20px;" action="#{detallePresupuestoBean.limpiar()}"/>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>
