<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel  style="width: auto; margin: 0 auto 0 auto;">
                        <p:dataTable var="presupuesto" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                <p:outputPanel>
                                    <h:outputText value="Buscar: "/>
                                    <p:inputText id="filtro" onkeyup="" placeholder="Introduzca una palabra"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column filterBy="" sortBy="" headerText="Descripcion" >
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Unidad Adecutora">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Unidad Especifica">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Año">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Moneda">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column>
                                <p:commandButton action="#" value="Crear Cuenta"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
      </h:form>
    </ui:define>

</ui:composition>
