<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formVerPresupuestos">

            <p:growl sticky="false" id="growlGeneral" showDetail="true"/>
            <p:panel style="width: 1080px; margin: 0 auto 0 auto;">
                <p:commandButton value="Exportar a Excel" ajax="false" >
                    <p:dataExporter type="xls" target="radioDT" fileName="Presupuestos" />
                </p:commandButton>
                <p:commandButton value="Exportar a PDF" ajax="false">
                    <p:dataExporter type="pdf" target="radioDT" fileName="Presupuestos"/>
                </p:commandButton>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:dataTable id="radioDT"  value="#{presupuestoBean.listAllPresupuestos}"  var="presupuesto" widgetVar="preTable" filteredValue="#{presupuestoBean.filtroPresupuesto}" paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" rows="10" style="margin-bottom:20px">
                    <f:facet name="{Exporters}">

                    </f:facet>
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Buscar Presupuesto:" />
                            <p:inputText id="globalFilter" onkeyup="PF('preTable').filter()" style="width:550px" placeholder="Ingrese la unidad ejecutora"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:column filterBy="#{presupuesto.unidadesEjecutoras.nombreUnidad}"  headerText="Unidad Ejecutora" footerText="Unidad Ejecutora" width="150" style="text-align: center;">
                        <h:outputText value="#{presupuesto.unidadesEjecutoras.nombreUnidad}"/>
                    </p:column>
                    
                    <p:column  headerText="Es Proyecto" footerText="Es Proyecto" width="150" style="text-align: center;">
                        <h:outputText value="#{presupuesto.unidadesEjecutoras.esProyecto}"/>
                    </p:column>
                    
                    <p:column  headerText="Director/Jefe" footerText="Director/Jefe" width="150" style="text-align: center;">
                        <h:outputText value="#{presupuesto.unidadesEjecutoras.director}"/>
                    </p:column>

                    <p:column  headerText="Moneda" footerText="Moneda" width="40" style="text-align: center;">
                        <h:outputText value="#{presupuesto.monedaPresupuesto}"/>
                    </p:column>
                    
                    <p:column  headerText="Año" footerText="Año" width="40" style="text-align: center;">
                        <h:outputText value="#{presupuesto.anyoPresupuesto}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
