<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formSubCuentas2">
            <p:growl id="msgs" showDetail="true" />
            <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Unidad Ejecutora: " />
                    <p:selectOneMenu value="#{cuentasBean.unidadEjecutoraSeleccionada}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora">
                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <p:commandButton value="Consultar" action="#{cuentasBean.llenarTablaNodoCuentasCatalogo()}"   update="formSubCuentas2"/>
                 <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:separator />
                <p:treeTable value="#{cuentasBean.root}" var="document" scrollable="true" scrollHeight="450" scrollWidth="1000" >
                    <f:facet name="header">
                        Rubros
                    </f:facet>
                    <p:column headerText="codigo" style="width: 110px;">
                        <h:outputText value="#{document.codigoCuenta}" />
                    </p:column>
                    <p:column headerText="Nombre" style="word-wrap: normal;width: 630px;">
                        <h:outputText value="#{document.nombreCuenta}" />
                    </p:column>

                    <p:column style="width:200px">
                        <p:commandButton value="Crear SubRubros" 
                                         onclick="PF('crearSubCuenta').show();" action="#{cuentasBean.cuentaSeleccionada(document)}"/>
                    </p:column>
                </p:treeTable>


            </p:panel>
        </h:form>

        <p:dialog position="center top" header="Crear SubRubros" widgetVar="crearSubCuenta" modal="true" resizable="false"  closable="false" >
            <h:form id="fromCrearSubCuenta">
                <p:growl id="growlSubCuenta" showDetail="false" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Codigo: "/>
                    <p:inputText value="#{cuentasBean.codigoSubCuenta}" size="50" required="true" requiredMessage="Se requiere el codigo" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Nombre: "/>
                    <p:inputText value="#{cuentasBean.nombreSubCuenta}" size="50" required="true" requiredMessage="Se requiere el nombre" />
                        </p:column>
                    </p:row>
                     <p:row>
                        <p:column>
                    <p:outputLabel value="Descripcion: "/>
                    <p:inputText value="#{cuentasBean.descripcionSubCuenta}" size="50" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                
                <p:separator/>
                <p:commandButton value="Agregar" action="#{cuentasBean.insertSubCuenta()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="growlSubCuenta" />
                <p:commandButton value="Cerrar" onclick="PF('crearSubCuenta').hide();" />
            </h:form>
        </p:dialog>   
        
    </ui:define>

</ui:composition>
