<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromPresupuesto">
            <p:growl id="growlGeneral" showDetail="false" />
            <p:panel header="Crear Presupuesto" style="width: 1050px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="4" cellpadding="5">
                    <p:outputLabel value="Unidad Ejecutora: " />
                    <p:selectOneMenu value="#{presupuestoBean.unidadesEjecutoras}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora" 
                                     disabled="#{presupuestoBean.auxEstadoCrear}" >

                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Año de ejecucion:    "/>

                    <p:selectOneMenu value="#{presupuestoBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" 
                                     disabled="#{presupuestoBean.auxEstadoCrear}" >
                        <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.listAnios}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Moneda de presupuesto: "/>
                    <p:selectOneMenu value="#{presupuestoBean.monedaPresupuesto}" required="true" requiredMessage="Se requiere una moneda"
                                     disabled="#{presupuestoBean.auxEstadoCrear}">
                        <f:selectItem itemLabel="Seleccione una moneda..." noSelectionOption="true"/>
                        <f:selectItem itemValue="$-Dolar" itemLabel="$-Dolar"/>
                        <f:selectItem itemValue="Q-Quetzal" itemLabel="Q-Quetzal"/>
                        <f:selectItem itemValue="L-Lempira" itemLabel="L-Lempira"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Fecha de elaboracion"/>
                    <p:calendar value="#{presupuestoBean.fechaCreacionPresupuesto}" disabled="#{presupuestoBean.auxEstadoCrear}"/>
                </h:panelGrid>
                <p:separator/>
                
                <p:commandButton value="Agregar" disabled="#{presupuestoBean.auxEstadoCrear}" action="#{presupuestoBean.insertPresupuesto()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growlGeneral cuentas"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" disabled="#{presupuestoBean.auxEstadoCrear}"></p:button>
                    <!--<p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                        <p:treeTable value="{presupuestoBean.treeNode}" var="cuenta" selectionMode="checkbox" 
                                     selection="{presupuestoBean.treeNodeSeleccionado}" scrollable="true" scrollHeight="450" >
                            <f:facet name="header">
                                Cuentas Creadas
                            </f:facet>
                            
                            <p:column headerText="codigo" style="width: 140px;">
                                <h:outputText value="{cuenta.codigoCuenta}" />
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText value="{cuenta.nombreCuenta}" />
                            </p:column>
                            
                            <f:facet name="footer">
                            <p:commandButton value="Agregar Cuentas" disabled="{!presupuestoBean.auxEstadoCrear}" update=":fromPresupuesto:growlGeneral" icon="ui-icon-newwin"
                                             actionListener="{presupuestoBean.displaySelectedMultiple(presupuestoBean.treeNodeSeleccionado)}"/>
                        </f:facet>
                        </p:treeTable>
                        
                        
                    </p:panel>-->
                

                <p:panel  style="width: 750px; margin: 0 auto 0 auto; margin-top: 15px;">
                    <p:dataTable  id="cuentas" var="cuen" value="#{presupuestoBean.listCuentasAgre}" scrollable="true" scrollHeight="250"  >

                        <p:column headerText="Codigo">
                            <h:outputText value="#{cuen.catalogoCuentas.codigoCuenta}"/>
                        </p:column>
                        <p:column  headerText="Concepto">
                            <h:outputText value="#{cuen.descripcionCuentaMayor}"/>
                        </p:column>
                                                
                    </p:dataTable>
                </p:panel>
                
                <p:separator/>
                <p:commandButton value="Finalizar y Terminar" disabled="#{!presupuestoBean.auxEstadoCrear}" action="#{presupuestoBean.limpiar()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growlGeneral"/>
                <!--<p:commandButton value="Cancelar" action="{presupuestoBean.limpiar()}" style="margin: 0 20px 0 20px;"/>-->
            </p:panel>
        </h:form>
        
        <h:form id="formPre">
            <p:growl id="docz" showDetail="true" />
            <p:panel header="Presupuestos Creados" style="width: 1050px; margin: 0 auto 0 auto;">
                <p:dataTable var="presupuesto" id="infoz" value="#{presupuestoBean.listAllPresupuestos}"
                             paginator="true" rows="10">                    
                    <p:column  headerText="Codigo">
                        <h:outputText value="#{presupuesto.codigoPresupuesto}"/>
                    </p:column>
                    <p:column  headerText="Usuario Creador">
                        <h:outputText value="#{presupuesto.usuarioCreador}"/>
                    </p:column>
                    <p:column  headerText="Unidad Ejecutora">
                        <h:outputText value="#{presupuesto.unidadesEjecutoras.nombreUnidad}"/>
                    </p:column>
                    <p:column  headerText="Moneda del Presupuesto">
                        <h:outputText value="#{presupuesto.monedaPresupuesto}"/>
                    </p:column>
                    <p:column  headerText="Año del Presupuesto">
                        <h:outputText value="#{presupuesto.anyoPresupuesto}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
        
    </ui:define>

</ui:composition>
