<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form>
            <p:panel header="Agregar Subcuentas" style="width: 1000px; margin: 0 auto 0 auto;">
            <p:growl id="msgs" showDetail="true" />
            <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" filteredValue="">
                <f:facet name="header">
                    Cuentas Creadas
                </f:facet>
                <p:column filterBy="" sortBy="" headerText="Codigo">
                    <h:outputText value=""/>
                </p:column>
                <p:column filterBy="" sortBy="" headerText="Nombre de la Cuenta">
                    <h:outputText value=""/>
                </p:column>
                <p:column style="text-align: center;">
                    <p:commandButton value="Agregar Detalle" type="button" onclick="PF('subcuentas').show();"/>
                </p:column>
            </p:dataTable>
            </p:panel>
        </h:form>
        <h:form>
            <p:dialog header="Agregar Subcuentas" widgetVar="subcuentas" modal="true" height="400px" position="top">
                <h:panelGrid columns="2" style="margin: 0 auto 0 auto;">
                <p:outputLabel value="Codigo de la Subcuenta: "/>
                <h:outputText value="#CodigoCuenta+'.'+correlativo"/>
                <p:outputLabel value="Nombre de la Subcuenta: "/>
                <p:inputText/>
                </h:panelGrid>
                <h:panelGrid columns="4" style="margin-top: 15px; width: 500px;">
                    <p:outputLabel value="Enero:"/>
                    <p:inputText/>
                    <p:outputLabel value="Febrero:"/>
                    <p:inputText/>
                    <p:outputLabel value="Marzo:"/>
                    <p:inputText/>
                    <p:outputLabel value="Abril:"/>
                    <p:inputText/>
                    <p:outputLabel value="Mayo:"/>
                    <p:inputText/>
                    <p:outputLabel value="Junio:"/>
                    <p:inputText/>
                    <p:outputLabel value="Julio:"/>
                    <p:inputText/>
                    <p:outputLabel value="Agosto:"/>
                    <p:inputText/>
                    <p:outputLabel value="Septiembre:"/>
                    <p:inputText/>
                    <p:outputLabel value="Octubre:"/>
                    <p:inputText/>
                    <p:outputLabel value="Noviembre:"/>
                    <p:inputText/>
                    <p:outputLabel value="Diciembre:"/>
                    <p:inputText/>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Agregar" action="#" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;"/>
                <p:commandButton value="Cancelar" action="#"/>
            </p:dialog>   
        </h:form>
    </ui:define>

</ui:composition>
