<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromCuenta">
            <p:growl id="msgs" showDetail="true" />
            <p:panel id="panel" header="Creacion de Rubros" style="width: 700px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Unidad Ejecutora: " />
                    <p:selectOneMenu value="#{cuentasBean.unidadEjecutoraSeleccionada}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora" disabled="#{!cuentasBean.estado1}">

                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <p:commandButton value="Consultar" action="#{cuentasBean.llenarTablaNodoCuentasCatalogo()}"  disabled="#{!cuentasBean.estado1}" update="fromCuenta"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" disabled="#{!cuentasBean.estado1}"></p:button>
                <p:separator/>
                <h:panelGrid columns="2" cellpadding="5">
                    
                    <p:outputLabel value="Codigo del Rubro: "/>
                    <p:inputText value="#{cuentasBean.codigoCuenta}" required="true" rendered="true"  requiredMessage="Debe ingresar el codigo de la Cuenta" disabled="#{cuentasBean.estado1}" />
                    
                    <p:outputLabel value="Nombre del Rubro: "/>
                    <p:inputText value="#{cuentasBean.nombreCuenta}" required="true" rendered="true"  requiredMessage="Debe ingresar un Nombre de Cuenta" disabled="#{cuentasBean.estado1}" />

                    <p:outputLabel value="Descripción del Rubro: "/>
                    <p:inputText value="#{cuentasBean.descripcionCuenta}"  rendered="true"  disabled="#{cuentasBean.estado1}" />

                </h:panelGrid>
                <p:separator/>
                <p:commandButton update="fromCuenta" value="Agregar" action="#{cuentasBean.insertCuenta()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" disabled="#{cuentasBean.estado1}" />
                <p:commandButton value="Cancelar" action="#{cuentasBean.cancelar()}" style="margin: 0 20px 0 20px;" disabled="#{cuentasBean.estado1}" />
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" disabled="#{cuentasBean.estado1}" ></p:button>
            </p:panel>
            
            <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                <p:treeTable value="#{cuentasBean.root}" var="document" scrollable="true" scrollHeight="450" id="CuentasUni"  >
                    <f:facet name="header">
                        Rubros Creados
                    </f:facet>
                    <p:column headerText="Codigo" style="width: 110px;">
                        <h:outputText value="#{document.codigoCuenta}" />
                    </p:column>
                    <p:column headerText="Nombre"  style="word-wrap: normal;width: 480px;">
                        <h:outputText value="#{document.nombreCuenta}" />
                    </p:column>
                </p:treeTable>
            </p:panel>
            
        </h:form>

    </ui:define>

</ui:composition>
