<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formReqElimi" >
            <p:growl id="growlElimi" showDetail="false" />
            <p:dataTable var="req" value="#{validarRequerimientosBean.detalleAllRequerimiento}" widgetVar="detalleTable" filteredValue="#{validarRequerimientosBean.filtrodetalleRequerimiento}" paginator="true" rows="10" id="tableReq" >
                <f:facet name="header" >
                    <p:outputLabel value="REQUERIMIENTOS DE PAGO" />
                    <p:outputPanel>
                        <h:outputText value="Buscar Requerimiento:" />
                        <p:inputText id="globalFilter" onkeyup="PF('detalleTable').filter()" style="width:550px" placeholder="Ingrese el codigo del requerimiento, o la unidad ejecutora, o el proveedor"/>
                    </p:outputPanel>
                </f:facet>
                <p:column filterBy="#{req.requerimientoPagos.codigoRequerimiento}" headerText="Codigo">
                    <p:outputLabel value="#{req.requerimientoPagos.codigoRequerimiento}"/>
                </p:column>
                <p:column filterBy="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}" headerText="Unidad ejecutora">
                    <p:outputLabel value="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}"/>
                </p:column>
                <p:column filterBy="#{req.nombreProveedor}" headerText="Proveedor">
                    <p:outputLabel value="#{req.nombreProveedor}"/>
                </p:column>
                <p:column headerText="Fecha de Presentación">
                    <p:outputLabel value="#{req.requerimientoPagos.fechaPresentacion}"/>
                </p:column>
                <p:column headerText="Moneda">
                    <p:outputLabel value="#{req.requerimientoPagos.moneda}"/>
                </p:column>
                <p:column headerText="Monto">
                    <p:outputLabel value="#{req.monto}"/>
                </p:column>
                <p:column headerText="Usuario">
                    <p:outputLabel value="#{req.requerimientoPagos.usuario}"/>
                </p:column>
                <p:column headerText="Eliminar" style="text-align: center;">
                    <p:commandButton icon="ui-icon-trash" actionListener="#{validarRequerimientosBean.eliminarRequerimiento(req)}" update=":formReqElimi ">
                        <p:confirm header="Confirmacion" message="¿Esta seguro de eliminar el requerimiento?" icon="ui-icon-alert" />
                    </p:commandButton>

                    <p:confirmDialog global="true" >
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 50px;" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>

        </h:form>
        
    </ui:define>

</ui:composition>
