<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="fromFirma">
            <p:growl id="growlFirma" showDetail="false" />
            <p:panel header="Firmas autorizadas para pago" style="width: 600px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">

                    <p:outputLabel value="Unidad Ejecutora: " />
                    <p:selectOneMenu value="#{firmasAutorizadasBean.unidadesEjecutoras}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{firmasAutorizadasBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Nombre: "/>
                    <p:selectOneMenu value="#{firmasAutorizadasBean.nombreUsuario}" required="true" requiredMessage="Se requiere el nombre">
                        <f:selectItems value="#{firmasAutorizadasBean.mapUsuarios}"/>
                    </p:selectOneMenu>

                    <p:outputLabel value="Usuario: "/>
                    <h:outputText value="#{firmasAutorizadasBean.usuarioLogeado}"/>

                    <p:outputLabel value="Cargo: "/>
                    <p:inputText value="#{firmasAutorizadasBean.cargo}" required="true" requiredMessage="Debe ingresar un Cargo"/>

                    <p:outputLabel value="Firma:  "/>
                    <p:commandButton value="Subir Archivos de Firma" action="#{firmasAutorizadasBean.verificarDatos()}" update="growlFirma"  />
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Aceptar" action="#{firmasAutorizadasBean.inserFirma()}" update="growlFirma" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                <p:commandButton value="Cancelar" action="#{firmasAutorizadasBean.limpiarFirma()}" style="margin: 0 20px 0 20px;"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
            </p:panel>
        </h:form>
        <h:form id="formFirmaProyecto">
            <p:panel style="width: 650px; margin: 0 auto 0 auto;">
                <p:spacer height="20" />
                <p:dataTable var="firmaAutoProyec" id="tblfirmaAutoProyec" value="#{firmasAutorizadasBean.listAllFirmarAutoProyec}" filteredValue=""
                             emptyMessage="No hay ningun elemento de firmas autorizadas de proyecto">

                    <p:column headerText="Usuario">
                        <h:outputText value="#{firmaAutoProyec.id.usuario}"/>
                    </p:column>
                    <p:column  headerText="Cargo">
                        <h:outputText value="#{firmaAutoProyec.id.cargo}"/>
                    </p:column>
                    <p:column  headerText="Nombre">
                        <h:outputText value="#{firmaAutoProyec.nombre}"/>
                    </p:column>
                    <p:column style="width:45px" headerText="E" exportable="false">
                        <p:commandButton process="tblfirmaAutoProyec" update=":formFirmaProyecto:firmaDetail2" value="E" oncomplete="PF('eliminarFirma').show()" >
                            <f:setPropertyActionListener value="#{firmaAutoProyec}" target="#{firmasAutorizadasBean.selectFirmaAuto}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <p:dialog position="center top" header="Eliminar Firma Autorizada" widgetVar="eliminarFirma" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='firmaDetail2' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty firmasAutorizadasBean.selectFirmaAuto}" columnClasses="label,value">

                            <h:outputText value="Usuario: "/>
                            <h:outputText value="#{firmasAutorizadasBean.selectFirmaAuto.id.usuario}"/>
                            
                            <h:outputText value="Unidad Ejecutora: "/>
                            <h:outputText value="#{firmasAutorizadasBean.selectFirmaAuto.unidadesEjecutoras.nombreUnidad}"/>

                            <h:outputText value="Cargo: "/>
                            <h:outputText value="#{firmasAutorizadasBean.selectFirmaAuto.id.cargo}"/>
                            
                            <h:outputText value="Nombre: "/>
                            <h:outputText value="#{firmasAutorizadasBean.selectFirmaAuto.nombre}"/>

                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Eliminar" action="#{firmasAutorizadasBean.deleteFirmaAutorizada(firmasAutorizadasBean.selectFirmaAuto)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true"> 
                            <p:resetInput target="formFirmaProyecto" />
                        </p:commandButton>
                        <p:commandButton style="margin: 0 20px 0 20px;" value="Cerrar" oncomplete="PF('eliminarFirma').hide()" ajax="true" >
                            <p:resetInput target="formFirmaProyecto" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 

            </p:panel>
        </h:form>

        <p:dialog position="center top" style="text-align: center;" id="subirArchivo" widgetVar="subirArchivo" closable="true" resizable="false" modal="true" >
            <h:form id="formusSubir" enctype="multipart/form-data" >
                <p:growl id="growlSubir"  />
                <p:spacer  height="30" />
                <p:outputLabel value="Seleccione el archivos y luego que aparesca presione el botón Subir" />
                <p:fileUpload fileUploadListener="#{firmasAutorizadasBean.subirArchivoFirma}" mode="advanced" label="Seleccionar" dragDropSupport="false"
                              allowTypes="/(\.|\/)(jpe?g|png)$/" update="growlSubir" cancelLabel="Cancelar" uploadLabel="Subir" />
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
