<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formProveedor">
            <p:growl id="growlProveedor" showDetail="false" />
            <p:panel header="Agregar Proveedores" style="width: 800px; margin: 0 auto 0 auto;">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Numero Tributario: "/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{proveedorBean.codigoProveedor}" required="true" requiredMessage="Se requiere el codigo/Numero Tributario"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Tipo Documento : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{proveedorBean.tipoDocumento}" required="true" requiredMessage="Se requiere el tipo documento">
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem  itemLabel="NIT" itemValue="NIT"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Razon Social:    "/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{proveedorBean.nombreProveedor}" required="true" requiredMessage="Se requiere el nombre"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Telefono: "/>
                        </p:column>
                        <p:column>
                            <p:inputMask mask="(999)-9999-9999" value="#{proveedorBean.telefonoProveedor}" size="14" required="true" requiredMessage="Se requiere el telefono"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fax: "/>
                        </p:column>
                        <p:column>
                            <p:inputMask mask="(999)-9999-9999" value="#{proveedorBean.faxProveedor}" size="14"  />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dirección : "/>
                        </p:column>
                        <p:column>
                            <p:inputTextarea value="#{proveedorBean.direccion}" required="true" requiredMessage="Se requiere la dirección"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Pais: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{proveedorBean.paisOrigen}" required="true" requiredMessage="Se requiere el pais de origen" >
                                <f:selectItem  itemLabel="Seleccione un pais..." noSelectionOption="true"/>
                                <f:selectItem  itemLabel="El Salvador" itemValue="ES"/>
                                <f:selectItem  itemLabel="Honduras" itemValue="HN"/>
                                <f:selectItem  itemLabel="Guatemala" itemValue="GT" />
                                <f:selectItem  itemLabel="Otros" itemValue="OT" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Contacto: "/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{proveedorBean.representante}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="E-mail: "/>
                        </p:column>
                        <p:column>
                            <p:inputText type="email" value="#{proveedorBean.EMailProveedor}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Web: "/>
                        </p:column>
                        <p:column>
                            <p:inputText type="url" value="#{proveedorBean.web}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Método de pago: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{proveedorBean.metodoPago}" required="true" requiredMessage="Se requiere el metodo de pago">
                                <f:selectItem  itemLabel="Seleccione un Met..." noSelectionOption="true"/>
                                <f:selectItem  itemLabel="CREDITO" itemValue="1" />
                                <f:selectItem  itemLabel="CONTADO" itemValue="2" />
                                <p:ajax process="@this" listener="#{proveedorBean.tipoDePagoSeleccionado()}" update="growlProveedor"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Dias de Credito : " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{proveedorBean.condicionPago}" id="condiPago" disabled="#{proveedorBean.estadoTipoPago}" required="true" requiredMessage="Se requiere el la condicion de pago"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Tipo de Proveedor : " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{proveedorBean.tipoProveedor}" required="true" requiredMessage="Se requiere el tipo de proveedor">
                                <f:selectItem itemLabel="seleccione..." noSelectionOption="true"  />
                                <f:selectItem itemLabel="Proveedor" itemValue="Proveedor" />
                                <f:selectItem itemLabel="Consultor" itemValue="Consultor" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Bien/Servicios : " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{proveedorBean.bien}" required="true" requiredMessage="Se requiere el bien/Servicio">
                                <f:selectItem itemLabel="seleccione..." noSelectionOption="true"  />
                                <f:selectItem itemLabel="Consultoria" itemValue="Consultoria" />
                                <f:selectItem itemLabel="Mantenimiento de Oficina" itemValue="Mantenimiento de Oficina" />
                                <f:selectItem itemLabel="Servicios Generales" itemValue="Servicios Generales" />
                                <f:selectItem itemLabel="Capacitaciones" itemValue="Capacitaciones" />
                                <f:selectItem itemLabel="Hospedaje y Alimentación" itemValue="Hospedaje y Alimentación" />
                                <f:selectItem itemLabel="Papeleria e Insumos de Oficinas" itemValue="Papeleria e Insumos de Oficinas" />
                                <f:selectItem itemLabel="Mantenimiento de Vehiculos" itemValue="Mantenimiento de Vehiculos" />
                                <f:selectItem itemLabel="Combustibles" itemValue="Combustibles" />
                                <f:selectItem itemLabel="Arrendamientos" itemValue="Arrendamientos" />
                                <f:selectItem itemLabel="Vehiculos" itemValue="Vehiculos" />
                                <f:selectItem itemLabel="Supermercados" itemValue="Supermercados" />
                                <f:selectItem itemLabel="Ferreterias" itemValue="Ferreterias" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <p:commandButton value="Agregar" action="#{proveedorBean.inserProveedor()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growlProveedor"/>
                <p:commandButton value="Cancelar" action="#{proveedorBean.limpiar()}" style="margin: 0 20px 0 20px;" />
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
