<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form>
            <p:panel style="width: 1000px; margin: 0 auto 0 auto;">
            <p:growl id="msgs" showDetail="true" />
            <p:dataTable var="solicitudes" id="cuentas" value="" widgetVar="" filteredValue="">
                <f:facet name="header">
                    Solicitudes de Pago
                </f:facet>
                <p:column  headerText="Fecha">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Proveedor">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Total">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Moneda">
                    <h:outputText value="#"/>
                </p:column>
            </p:dataTable>
            </p:panel>
        </h:form>
       <h:form>
            <p:panel style="width: 1000px; margin: 0 auto 0 auto;">
            <p:growl id="msgs" showDetail="true" />
            <p:dataTable var="sistema" id="cuentas" value="" widgetVar="" filteredValue="">
                <f:facet name="header">
                    Sobre Sistema de Calidad
                </f:facet>
                <p:column  headerText="Fecha">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="De">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Asunto">
                    <h:outputText value="#"/>
                </p:column>
                
            </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
