<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromLiquidarPre">
            <p:growl id="growlLiqui" showDetail="false" />
            <p:panel header="Liquidar Presupuesto" style="width: 900px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="4" cellpadding="5">
                    <p:outputLabel value="Unidades de ejecución: "/>
                    <p:selectOneMenu value="#{liquidarBean.unidadesEjecutoras}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>
                    <p:outputLabel value="Año de ejecución: "/>
                    <p:selectOneMenu value="#{liquidarBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" >
                        <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.listAnios}" />
                    </p:selectOneMenu>
                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Pasar Rubros" action="#{liquidarBean.liquidarYPasarRubros()}" update="growlLiqui" />
                <p:commandButton value="Sin Pasar Rubros" action="#{liquidarBean.liquidarPre()}" style="margin: 0 5px 0 5px;" update="growlLiqui" />
                <p:commandButton value="Pasar Rubros a Cero" action="#{liquidarBean.liquidarPasarRubrosCero()}" style="margin: 0 5px 0 5px;" update="growlLiqui" />
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 5px 0 5px;" ></p:button>
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
