<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
          
          <h:outputLabel value="Liquidacion de caja chica" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
          <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                        <p:outputLabel value="Unidad de ejecucion: "/>  
                        <h:outputText value="#Cargado desde la base"/>
                        <h:panelGrid columns="4" cellpadding="5">
                            <p:outputLabel value="Nombre Proveedor: "/>
                                <p:selectOneMenu>
                                   <f:selectItem  itemLabel="Seleccione un proveedor..."/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Unidad Ejecutora: "/>
                                <p:selectOneMenu>
                                   <f:selectItem  itemLabel="Seleccione una unidad..."/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Número de Requerimiento: "/>
                                <p:inputText value=""/>
                                <p:outputLabel value="Fuente de Financiamiento: "/>
                                <p:selectOneMenu>
                                   <f:selectItem  itemLabel="Seleccione una fuente..."/>
                                </p:selectOneMenu>
                                  <p:outputLabel value="Categoria: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una categoría..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Correlativo: "/>
                            <p:inputText value="#####"/>
                            <p:outputLabel value="Monto Original: $"/>
                                <p:inputText value="999999"/>
                                <p:outputLabel value="Monto: US"/>
                                <p:inputText value="99999"/>
                        </h:panelGrid>
                        
                         <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Concepto:      "/>
                            <p:inputTextarea rows="3" cols="102" value=""  maxlength="750" scrollHeight="3"/>
                        </h:panelGrid>
                        
                        <p:fieldset legend="Factura" style="width: 700px; margin: 10px auto 10px auto;">
                        
                                <h:panelGrid columns="4" cellpadding="5">
                                
                                <p:outputLabel value="Número: "/>
                                <p:inputText value="#" />
                                <p:outputLabel value="Fecha: "/>
                                <p:calendar/>
                                <p:outputLabel value="Monto: $"/>
                                <p:inputText value="9999999.99"/>
                                <p:outputLabel value="Moneda: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una moneda..."/>
                                <f:selectItem itemValue="$-Dolar" itemLabel="$-Dolar"/>
                                <f:selectItem itemValue="Q-Quetzal" itemLabel="Q-Quetzal"/>
                                <f:selectItem itemValue="L-Lempira" itemLabel="L-Lempira"/>
                            </p:selectOneMenu>
                                <p:outputLabel value="Efectivo: $"/>
                                <p:inputText value="9999999.99" />
                                </h:panelGrid>
                        
                        </p:fieldset>
                        <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" type="reset" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>
                       
                    </p:panel>
          
      </h:form>
        <h:form style="width: 960px; margin: 0 auto 0 auto;">
            <p:panel>
            <p:dataTable var="cajachica" id="cajachica" value="" widgetVar="" filteredValue="">
                
                <p:column  headerText="Correlativo">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Proveedor">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Factura">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Fuente">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Monto US">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Monto">
                    <h:outputText value="#"/>
                </p:column>
                
            </p:dataTable>
        
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
