<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formCentroCosto">

            <p:growl sticky="false" id="growlGeneral" showDetail="true"/>
            <p:panel style="width: 1080px; margin: 0 auto 0 auto;">
                
                <p:dataTable id="costoDT"  value="#{centroCostoBean.listCentroCosto}"  var="costo" widgetVar="costoTable" filteredValue="#{centroCostoBean.filtroCentroCosto}" paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" rows="10" style="margin-bottom:20px">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Buscar Centro de Costo:" />
                            <p:inputText id="globalFilter" onkeyup="PF('costoTable').filter()" style="width:550px" placeholder="Ingrese el Centro de Costo"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column filterBy="#{costo.centroCosto}" headerText="Centro de Costo" footerText="Centro de Costo" width="470" style="text-align: center;">
                        <h:outputText value="#{costo.centroCosto}" />
                    </p:column>

                    <p:column style="width:15px" headerText="M" footerText="M" exportable="false">
                        <p:commandButton  process="costoDT" update=":formCentroCosto:costoDetail" value="M" oncomplete="PF('modificarCCosto').show()" >
                            <f:setPropertyActionListener value="#{costo}" target="#{centroCostoBean.selectCentro}" />
                        </p:commandButton>

                    </p:column>
                    <p:column style="width:15px" headerText="E" footerText="E" exportable="false">
                        <p:commandButton process="costoDT" update=":formCentroCosto:costoDetail2" value="E" oncomplete="PF('eliminarCCosto').show()" >
                            <f:setPropertyActionListener value="#{costo}" target="#{centroCostoBean.selectCentro}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>


                <p:dialog position="center top" header="Modificar Centro de Costo" widgetVar="modificarCCosto" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='costoDetail' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty centroCostoBean.selectCentro}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{centroCostoBean.selectCentro.idCentroCosto}"/>

                            <h:outputText value="Centro de Costo: "/>
                            <h:inputText value="#{centroCostoBean.selectCentro.centroCosto}" size="50" />

                           
                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Modificar" action="#{centroCostoBean.updateCentroCosto(centroCostoBean.selectCentro)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true" > 
                           <p:resetInput target="formCentroCosto" />
                        </p:commandButton>

                        <p:commandButton value="Cerrar" oncomplete="PF('modificarCCosto').hide()" immediate="true" ajax="true"> 
                          <p:resetInput target="formCentroCosto" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 


                <p:dialog position="center top" header="Eliminar Centro de Costo" widgetVar="eliminarCCosto" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='costoDetail2' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty centroCostoBean.selectCentro}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{centroCostoBean.selectCentro.idCentroCosto}"/>

                            <h:outputText value="Centro de Costo: "/>
                            <h:outputText value="#{centroCostoBean.selectCentro.centroCosto}"/>

                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Eliminar" action="#{centroCostoBean.deleteCentroCosto(centroCostoBean.selectCentro)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true"> 
                            <p:resetInput target="formCentroCosto" />
                        </p:commandButton>
                        <p:commandButton value="Cerrar" oncomplete="PF('eliminarCCosto').hide()" ajax="true" >
                            <p:resetInput target="formCentroCosto" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 

            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
