<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formProveedor">

            <p:growl sticky="false" id="growlGeneral" showDetail="true"/>
            <p:panel style="width: 1080px; margin: 0 auto 0 auto;">
                <p:commandButton value="Exportar a Excel" ajax="false" >
                    <p:dataExporter type="xls" target="radioDT" fileName="Proveedores" />
                </p:commandButton>
                <p:commandButton value="Exportar a PDF" ajax="false">
                    <p:dataExporter type="pdf" target="radioDT" fileName="Proveedores"/>
                </p:commandButton>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:dataTable id="radioDT"  value="#{proveedorBean.listProveedor}"  var="proveedores" widgetVar="provTable" filteredValue="#{proveedorBean.filtroProveedor}" paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" rows="10" style="margin-bottom:20px">
                    <f:facet name="{Exporters}">

                    </f:facet>
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Buscar Proveedor:" />
                            <p:inputText id="globalFilter" onkeyup="PF('provTable').filter()" style="width:550px" placeholder="Ingrese la Razon Social del Proveedor"/>
                        </p:outputPanel>
                    </f:facet>



                    <p:column  headerText="Codigo" footerText="Codigo" width="70" style="text-align: center;">
                        <h:outputText value="#{proveedores.codigoProveedor}" />
                    </p:column>

                    <p:column filterBy="#{proveedores.nombreProveedor}" footerText="Razon Social" headerText="Razon Social" width="90" style="text-align: center;">
                        <h:outputText value="#{proveedores.nombreProveedor}"/>
                    </p:column>

                    <p:column  headerText="Direccion" footerText="Direccion" width="150" style="text-align: center;">
                        <h:outputText value="#{proveedores.direccion}"/>
                    </p:column>

                    <p:column  headerText="Telefono" footerText="Telefono" width="40" style="text-align: center;">
                        <h:outputText value="#{proveedores.telefonoProveedor}"/>
                    </p:column>   

                    <p:column style="width:15px" headerText="M" footerText="M" exportable="false">
                        <p:commandButton process="radioDT" update=":formProveedor:proveedorDetail" value="M" oncomplete="PF('modificarProveedor').show()" >
                            <f:setPropertyActionListener value="#{proveedores}" target="#{proveedorBean.selectProveedor}" />
                        </p:commandButton>

                    </p:column>
                    <p:column style="width:15px" headerText="E" footerText="E" exportable="false">
                        <p:commandButton process="radioDT" update=":formProveedor:proveedorDetail2" value="E" oncomplete="PF('eliminarProveedor').show()" >
                            <f:setPropertyActionListener value="#{proveedores}" target="#{proveedorBean.selectProveedor}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>


                <p:dialog position="center top" header="Modificar Proveedor" widgetVar="modificarProveedor" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='proveedorDetail' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty proveedorBean.selectProveedor}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.codigoProveedor}"/>

                            <h:outputText value="Pais Origen: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.paisOrigen}" size="50" />

                            <h:outputText value="Tipo de Documento: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.tipoProveedor}" size="50" />

                            <h:outputText value="Razon Social: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.nombreProveedor}" size="50" />

                            <h:outputText value="Telefono Proveedor: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.telefonoProveedor}" size="50" />

                            <h:outputText value="Fax Proveedor: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.faxProveedor}" size="50" />

                            <h:outputText value="Email Proveedor: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.EMailProveedor}" size="50" />

                            <h:outputText value="Representante: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.representante}" size="50" />

                            <h:outputText value="Direccion: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.direccion}" size="50" />

                            <h:outputText value="Web: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.web}" size="50" />

                            <h:outputText value="Metodo Pago: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.condicionPago}" size="50" />

                            <h:outputText value="Bien: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.bien}" size="50" />

                            <h:outputText value="Tipo de Proveedor: "/>
                            <h:inputText value="#{proveedorBean.selectProveedor.tipoProveedor}" size="50" />

                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Modificar" action="#{proveedorBean.updateProveedor(proveedorBean.selectProveedor)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true" > 
                           <p:resetInput target="formProveedor" />
                        </p:commandButton>

                        <p:commandButton value="Cerrar" oncomplete="PF('modificarProveedor').hide()" immediate="true" ajax="true"> 
                          <p:resetInput target="formProveedor" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 


                <p:dialog position="center top" header="Eliminar Proveedor" widgetVar="eliminarProveedor" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='proveedorDetail2' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty proveedorBean.selectProveedor}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.codigoProveedor}"/>

                            <h:outputText value="Pais Origen: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.paisOrigen}"/>

                            <h:outputText value="Tipo de Documento: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.tipoProveedor}"/>

                            <h:outputText value="Razon Social: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.nombreProveedor}"/>

                            <h:outputText value="Telefono Proveedor: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.telefonoProveedor}"/>

                            <h:outputText value="Fax Proveedor: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.faxProveedor}"/>

                            <h:outputText value="Email Proveedor: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.EMailProveedor}"/>

                            <h:outputText value="Representante: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.representante}"/>

                            <h:outputText value="Direccion: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.direccion}"/>

                            <h:outputText value="Web: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.web}"/>

                            <h:outputText value="Metodo Pago: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.condicionPago}"/>

                            <h:outputText value="Bien: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.bien}"/>

                            <h:outputText value="Tipo de Proveedor: "/>
                            <h:outputText value="#{proveedorBean.selectProveedor.tipoProveedor}"/>
                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Eliminar" action="#{proveedorBean.deleteProveedor(proveedorBean.selectProveedor)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true"> 
                            <p:resetInput target="formProveedor" />
                        </p:commandButton>
                        <p:commandButton value="Cerrar" oncomplete="PF('eliminarProveedor').hide()" ajax="true" >
                            <p:resetInput target="formProveedor" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 

            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
