<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formManCuenta">
            <p:growl id="msgs" showDetail="true" />
            <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Unidad Ejecutora: " />
                    <p:selectOneMenu value="#{mantenimientoCuentaBean.unidadEjecutoraSeleccionada}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora">
                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Año de ejecucion:    "/>

                    <p:selectOneMenu value="#{mantenimientoCuentaBean.anio}" required="true" requiredMessage="Se requiere un año de ejecución" >
                        <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.listAnios}" />
                    </p:selectOneMenu>
                    
                </h:panelGrid>
                <p:commandButton value="Consultar" action="#{mantenimientoCuentaBean.llenarNodos()}"   update="formManCuenta"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:separator />
                <p:treeTable value="#{mantenimientoCuentaBean.root}" var="document" scrollable="true" scrollHeight="450" scrollWidth="1000" >
                    <f:facet name="header">
                        Cuentas
                    </f:facet>
                    <p:column headerText="codigo" style="width: 110px;">
                        <h:outputText value="#{document.codigoCuenta}" />
                    </p:column>
                    <p:column headerText="Nombre" style="word-wrap: normal;width: 480px;">
                        <h:outputText value="#{document.nombreCuenta}" />
                    </p:column>

                    <p:column style="width:90px">
                        <p:commandButton value="Modificar" 
                                         onclick="PF('modificarCuenta').show();" action="#{mantenimientoCuentaBean.cuentaSeleccionada(document)}"/>
                    </p:column>
                    <p:column style="width:90px">
                        <p:commandButton value="Eliminar" 
                                         onclick="PF('eliminarCuenta').show();" action="#{mantenimientoCuentaBean.cuentaSeleccionada2(document)}"/>
                    </p:column>
                </p:treeTable>


            </p:panel>
        </h:form>

        <p:dialog position="center top" header="Modificar Cuenta" widgetVar="modificarCuenta" modal="true" resizable="false"  closable="false" >
            <h:form id="fromModificarCuenta">
                <p:growl id="growlModiCuen" showDetail="false" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Codigo: "/>
                    <p:outputLabel value="#{mantenimientoCuentaBean.idCuenta}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Nombre: "/>
                    <p:outputLabel value="#{mantenimientoCuentaBean.nombreCuenta}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Nombre Nuevo : "/>
                    <p:inputText value="#{mantenimientoCuentaBean.nombreNuevo}" size="50" required="true" requiredMessage="Se requiere el nuevo nombre" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                
                <p:separator/>
                <p:commandButton value="Modificar" action="#{mantenimientoCuentaBean.updateCuenta()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="growlModiCuen" />
                <p:commandButton value="Cerrar" onclick="PF('modificarCuenta').hide();"/>
            </h:form>
        </p:dialog>   
        
        <p:dialog position="center top" header="Eliminar Cuenta" widgetVar="eliminarCuenta" modal="true" resizable="false"  closable="false" >
            <h:form id="fromEliminarCuenta">
                <p:growl id="growlEliCuenta" showDetail="false" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Codigo: "/>
                    <p:outputLabel value="#{mantenimientoCuentaBean.idCuenta}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                    <p:outputLabel value="Nombre: "/>
                    <p:outputLabel value="#{mantenimientoCuentaBean.nombreCuenta}"/>
                        </p:column>
                    </p:row>
                    
                </p:panelGrid>
                
                <p:separator/>
                <p:commandButton value="Eliminar" action="#{mantenimientoCuentaBean.eliminarCuenta()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="growlEliCuenta" />
                <p:commandButton value="Cerrar" onclick="PF('eliminarCuenta').hide();"/>
            </h:form>
        </p:dialog>   

    </ui:define>

</ui:composition>