<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formReqModif" >
            <p:growl id="growlModif" showDetail="false" />
            <p:panel style="width: 1080px; margin: 0 auto 0 auto;">
                <p:dataTable var="req" value="#{validarRequerimientosBean.detalleAllRequerimiento}" widgetVar="detalleTable" filteredValue="#{validarRequerimientosBean.filtrodetalleRequerimiento}" paginator="true" rows="10" id="tableReq" >
                    <f:facet name="header" >
                        <p:outputLabel value="REQUERIMIENTOS DE PAGO" />
                        <p:outputPanel>
                            <h:outputText value="Buscar Requerimiento:" />
                            <p:inputText id="globalFilter" onkeyup="PF('detalleTable').filter()" style="width:550px" placeholder="Ingrese el codigo del requerimiento, o la unidad ejecutora, o el proveedor"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:column filterBy="#{req.requerimientoPagos.codigoRequerimiento}" headerText="Codigo">
                        <p:outputLabel value="#{req.requerimientoPagos.codigoRequerimiento}"/>
                    </p:column>
                    <p:column filterBy="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}" headerText="Unidad ejecutora">
                        <p:outputLabel value="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}"/>
                    </p:column>
                    <p:column filterBy="#{req.nombreProveedor}" headerText="Proveedor">
                        <p:outputLabel value="#{req.nombreProveedor}"/>
                    </p:column>
                    <p:column headerText="Fecha de Presentación">
                        <p:outputLabel value="#{req.requerimientoPagos.fechaPresentacion}"/>
                    </p:column>
                    <p:column headerText="Moneda">
                        <p:outputLabel value="#{req.requerimientoPagos.moneda}"/>
                    </p:column>
                    <p:column headerText="Monto">
                        <p:outputLabel value="#{req.monto}"/>
                    </p:column>
                    <p:column headerText="Usuario">
                        <p:outputLabel value="#{req.requerimientoPagos.usuario}"/>
                    </p:column>
                    <p:column style="width:45px" headerText="M" exportable="false">
                        <p:commandButton process="tableReq" update=":formReqModif:requerimientoDetail" value="M" oncomplete="PF('modificarRequerimiento').show()" >
                            <f:setPropertyActionListener value="#{req}" target="#{validarRequerimientosBean.selectRequerimiento}" />
                        </p:commandButton>

                    </p:column>
                    
                </p:dataTable>

                <p:dialog position="center top" header="Modificar Requerimiento" widgetVar="modificarRequerimiento" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='requerimientoDetail' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty validarRequerimientosBean.selectRequerimiento}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.codigoRequerimiento}"/>

                            <h:outputText value="Unidad Ejecutora: "/>
                            <h:outputText value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.unidadesEjecutoras.nombreUnidad}"/>
                            
                            <h:outputText value="Proveedor: "/>
                            <h:outputText value="#{validarRequerimientosBean.selectRequerimiento.nombreProveedor}"/>
                            
                            <h:outputText value="Moneda: "/>
                            <p:selectOneMenu value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.moneda}" required="true" requiredMessage="Se requiere un tipo de moneda">
                                <f:selectItem  itemLabel="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.moneda}" noSelectionOption="true"/>
                                <f:selectItems value="#{validarRequerimientosBean.listMoneda}" />
                            </p:selectOneMenu>
                            
                            <h:outputText value="Monto: "/>
                            <h:inputText value="#{validarRequerimientosBean.selectRequerimiento.monto}" size="50" />
                            
                            <h:outputText value="Año del Presupuesto: "/>
                            <p:selectOneMenu value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.anioPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución">
                                <f:selectItem  itemLabel="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.anioPresupuesto}" noSelectionOption="true"/>
                                <f:selectItems value="#{validarRequerimientosBean.listAnios}" />
                            </p:selectOneMenu>
                            
                            <h:outputText value="Fecha Presentacion: "/>
                            <p:calendar value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.fechaPresentacion}" size="50">
                            </p:calendar>
                            
                            <h:outputText value="Fecha Estimada de Pago: "/>
                            <p:calendar value="#{validarRequerimientosBean.selectRequerimiento.requerimientoPagos.fechaEstimadaPago}" size="50" />
                             
                            <h:outputText value="Nombre del Gasto: "/>
                            <h:inputText value="#{validarRequerimientosBean.selectRequerimiento.conceptoGasto}" size="50" />
                            
                            <h:outputText value="Clase de Documento: "/>
                            <h:inputText value="#{validarRequerimientosBean.selectRequerimiento.claseDocumento}" size="50" />
                            
                            <h:outputText value="Concepto: "/>
                            <h:inputText value="#{validarRequerimientosBean.selectRequerimiento.concepto}" size="50" />
                           
                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Modificar" action="#{validarRequerimientosBean.updateRequerimiento(validarRequerimientosBean.selectRequerimiento)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;" > 
                        <p:resetInput target="formReqModif" />
                        </p:commandButton>

                        <p:commandButton value="Cerrar" oncomplete="PF('modificarRequerimiento').hide()" immediate="true" ajax="true"> 
                            <p:resetInput target="formReqModif" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
