<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/sigefi/recursos/estilos/plantilla.css"/>
        <link rel="stylesheet" href="/sigefi/recursos/estilos/css/font-awesome.css"/>
        <link rel="stylesheet" href="/sigefi/recursos/estilos/css/font-awesome.min.css"/>
        <title>Plan Trifinio</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">
                <section class="header1">
                 <div class="banner">
                   <div class="logo"><img src="/sigefi/recursos/imagenes/logo.png" height="140px"/></div>
                   <div class="titulo"><h1>Sistema Integrado de Gestión Financiera</h1></div>
                 </div>  
                </section>
                <div class="wrap">
	
	
                    <h:form>  
                <p:growl id="messages"/>

                <p:menubar style="height: auto;" >
                    <p:menuitem value="Inicio" icon="ui-icon-home" outcome="plantilla_presupuesto" style="font-size: 14px;" ></p:menuitem>
                    <p:menuitem value="Gestion de Tipo de Cambio" icon="ui-icon-circlesmall-plus" outcome="tipoCambio" style="font-size: 14px;" ></p:menuitem>
                    <p:submenu label="Gestion Centro de Costo" icon="ui-icon-circlesmall-plus" style="font-size: 14px;">
                        <p:menuitem value="Crear Centro de Costo" icon="ui-icon-note" outcome="centroCosto"/>
                        <p:menuitem value="Mantenimiento Centro de Costo" icon="ui-icon-wrench" outcome="mantenimientocentroCosto"/>
                    </p:submenu>
                    <p:submenu label="Presupuesto" icon="ui-icon-person" style="font-size: 14px;">
                        <p:menuitem value="Crear" icon="ui-icon-gear"  outcome="crearPresupuestos"></p:menuitem>
                        <p:menuitem value="Agregar Montos" icon="ui-icon-newwin" outcome="agregarDetalle"></p:menuitem>
                        <p:menuitem value="Reprogramar" icon="ui-icon-newwin"  outcome="reprogramarPresupuesto2"></p:menuitem>
                        <p:menuitem value="Liquidar" icon="ui-icon-newwin"  outcome="liquidarPresupuesto"></p:menuitem>
                        <p:menuitem value="Consultar Presupuesto" icon="ui-icon-search"  outcome="consultarPresupuesto"></p:menuitem>
                    </p:submenu>
                    <p:submenu label="Rubros" icon="ui-icon-copy" style="font-size: 14px;">
                        <p:menuitem value="Crear Rubros" icon="ui-icon-note" outcome="crearCuentas"/>
                        <p:menuitem value="Crear Sub Rubros" icon="ui-icon-note" outcome="crearSubCuentas2"/>
                        <p:menuitem value="Mantenimiento Rubros" icon="ui-icon-wrench" outcome="matenimientoCuentas"/>
                    </p:submenu>
                    <p:submenu label="Requerimiento" icon="ui-icon-clipboard" style="font-size: 14px;">
                        <p:menuitem value="Agregar Requerimiento" icon="ui-icon-note" outcome="requerimientoDeFondos"/>
                        <p:menuitem value="Validar Requerimiento" icon="ui-icon-note" outcome="validarRequerimientoDF"/>
                        <p:menuitem value="Modifcar Requerimiento" icon="ui-icon-wrench" outcome="modificarRequerimientoPago" style="font-size: 14px;" />
                        <p:menuitem value="Eliminar Requerimiento" icon="ui-icon-trash" outcome="eliminarRequerimientoPago" style="font-size: 14px;" />
                    </p:submenu>
                    <p:submenu label="Gestion de Proveedores" icon="ui-icon-clipboard" style="font-size: 14px;">
                        <p:menuitem value="Agregar Proveedores" icon="ui-icon-clipboard" outcome="gestionProveedores"  style="font-size: 14px;"/>
                        <p:menuitem value="Mantenimiento Proveedores" icon="ui-icon-wrench" outcome="mantenimientoProv"  style="font-size: 14px;"/>
                    </p:submenu>
                    <p:submenu label="Gestion de Caja Chica" icon="ui-icon-clipboard" style="font-size: 14px;">
                        <p:menuitem value="Vale de Caja Chica" icon="ui-icon-clipboard" outcome="ValeCaja"  style="font-size: 14px;"/>
                        <p:menuitem value="Liquidar Caja Chica" icon="ui-icon-clipboard" outcome="liquidarCajaChica"  style="font-size: 14px;"/>
                    </p:submenu>
                    <p:submenu label="Unidades Ejecutoras" icon="ui-icon-plusthick" style="font-size: 14px;">
                        <p:menuitem value="Crear" icon="ui-icon-clipboard" outcome="unidadesEjecutoras"  style="font-size: 14px;"/>
                        <p:submenu label="Modificar" icon="ui-icon-plusthick" style="font-size: 14px;">
                            <p:menuitem value="Firmas autorizadas de pago" icon="ui-icon-pencil" outcome="firmasAutorizadasDePago"  style="font-size: 14px;"/>
                        </p:submenu>
                    </p:submenu>
                    <p:submenu label="Informes" style="font-size: 14px;">
                        <p:submenu label="Presupuesto" style="font-size: 14px;">
                            <p:menuitem value="Aprobado" outcome="presupuestoAprobado"  style="font-size: 14px;"/>
                            <p:menuitem value="Comprometido" outcome="presupuestoComprometido"  style="font-size: 14px;"/>
                            <p:menuitem value="Ejecutado" outcome="presupuestoEjecutado"  style="font-size: 14px;"/>
                            <p:menuitem value="Modificado" outcome="presupuestoModificado"  style="font-size: 14px;"/>
                        </p:submenu>
                    </p:submenu>
                    <p:menuitem value="Cambiar Contraseña" icon="ui-icon-person"  onclick="PF('cambioContra').show()" style="font-size: 14px;" />
                    <p:menuitem value="Salir" icon="ui-icon-close"  style="font-size: 14px;" action="#{sessionBean.cerrarSession()}" />
                    
                    <f:facet name="options">
                        <p:outputLabel style="margin-right:10px;font-size: 14px;" value="Usuario: #{sessionBean.usu}" />
                    </f:facet>
                    
                </p:menubar>
            </h:form>
                    <p:dialog  header="Cambio de Contraseña"  widgetVar="cambioContra"  modal="true" resizable="false" style="width: 460px;" >
                        <h:form id="cambioContraf" enctype="multipart/form-data" style="width: 400px;" class="dialog" >
                            <p:growl id="growl" showDetail="true" sticky="false" />  

                            <fieldset>
                                <h:panelGrid id="pg1" columns="1" style="text-align: center; width: 100%;">
                                    <p:inputText id="itnpw" type="text" class="inputtxt" value="#{sessionBean.nuvaClave}" 
                                                 placeholder="Nueva Contraseña" style="margin: 20px 5px 5px 5px; width: 95%;" required="true" requiredMessage="Se requiere una nueva contraseña" ></p:inputText>          
                                    <!--<p:commandButton value="Guardar" action="{cambioContraBean.UpdateContra()}" disabled="{OEstrategicoBean.btnRes1}" update="growl" />-->
                                    <p:commandButton value="Guardar" action="#{sessionBean.UpdateContra()}"  update="growl" />
                                </h:panelGrid>
                            </fieldset>

                        </h:form>
                    </p:dialog>
	</div>
            </ui:insert>
        </div>

       <div class="seccion">
             <section class="seccion">
                 <div class="container">
                    
                   <ui:insert name="content"></ui:insert>  
                   
                 </div>
             </section>
            
        </div>

        <div id="bottom">
            <ui:insert name="bottom">
                <section class="seccionabajo">
                 <div class="footer">
                     <p>&copy; Derechos Reservados SIGEFI 2015 </p>
                 </div>  
                </section>
            </ui:insert>
        </div>

    </h:body>

</html>
