<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form style="width: 960px; margin: 0 auto 0 auto;">
            <p:panel header="Presupuesto Ejecutado">
                <h:panelGrid columns="2" cellpadding="3" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Unidad Ejecutora: "/>
                     <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una unidad..."/>
                     </p:selectOneMenu>
                   </h:panelGrid>
                   <p:outputLabel value="Presupuesto ejecutado "/>
                 <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 15px auto;">
                    <p:outputLabel value="Desde: "/>
                    <p:calendar/>
                    <p:outputLabel value="Hasta: "/>
                    <p:calendar/>
                </h:panelGrid>
                <p:dataTable var="presup" id="presup" value="" widgetVar="" filteredValue="" paginator="true">
                
                <p:column  headerText="Concepto">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Monto Original">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Ejecutado">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Total Actual">
                    <h:outputText value="#"/>
                </p:column>
                
                
            </p:dataTable>
            <p:commandButton value="Imprimir" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Enviar a Archivo" action="#" style="margin: 20px 20px 0 20px;"/>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
