<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="frmmain" style="width: 1080px; margin: 0 auto 0 auto;">

            <p:panel header="Presupuesto Aprobado">
                <h:panelGrid columns="2" cellpadding="3" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Unidad Ejecutora: "/>
                    <p:selectOneMenu value="#{detallePresupuestoBean.unidadesEjecutoras}" 
                                     required="true" requiredMessage="Se requiere un Unidad Ejecutora" >

                        <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                    </p:selectOneMenu>
                </h:panelGrid>
                <h:panelGrid columns="2" cellpadding="3" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Fondos aprobados del 1 de enero al 31 de diciembre de : "/>
                    <p:selectOneMenu value="#{detallePresupuestoBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" >
                        <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                        <f:selectItems value="#{presupuestoBean.listAnios}" />
                    </p:selectOneMenu>
                </h:panelGrid>
                <p:commandButton value="Aceptar" actionListener="#{reportesBean.cargarPresupuestoAprobado}" 
                                 update="docpdf" style="margin-left: 0px;" ajax="true" >
                    <f:attribute name="pdfFile" value="#{detallePresupuestoBean.pdfDoc}" />
                </p:commandButton>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                <p:separator/>

                <p:commandButton value="Imprimir" action="#{detallePresupuestoBean.presupuestoAprobadoPrintReport()}" 
                                 styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" ajax="false" />
                <p:commandButton value="EXCEL" action="#{detallePresupuestoBean.presupuestoAprobadoXLS()}" 
                                 style="margin: 20px 20px 0 20px;" ajax="false" />
                <p:commandButton value="PDF" action="#{detallePresupuestoBean.presupuestoAprobadoPDF()}" 
                                 style="margin: 20px 20px 0 20px;" ajax="false" />
                <p:commandButton value="WORD" action="#{detallePresupuestoBean.presupuestoAprobadoRTF()}" 
                                 style="margin: 20px 20px 0 20px;" ajax="false" />

                <p:media id="docpdf" value="#{reportesBean.pdfDocument}" cache="false" player="pdf" height="500px" width="100%" style="margin-top: 20px;" >

                </p:media>

            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
