<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="fromReprogramacion">
            <p:growl id="growlRepro" showDetail="false" />
            <p:panel header="Reprogramación de Presupuestos" style="width: 1000px; margin: 0 auto 0 auto;">
                <h:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad de Ejecucion : "/>
                            <p:selectOneMenu value="#{reprogramarPreBean.unidadesEjecutoras}" 
                                             required="true" requiredMessage="Se requiere una Unidad Ejecutora" 
                                             disabled="#{presupuestoBean.auxEstadoCrear}" >

                                <f:selectItem  itemLabel="Seleccione una Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año de ejecucion :"/>
                            <p:selectOneMenu value="#{reprogramarPreBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" 
                                             disabled="#{presupuestoBean.auxEstadoCrear}" >
                                <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                                <f:selectItems value="#{presupuestoBean.listAnios}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:commandButton value="Consultar" action="#{reprogramarPreBean.llenarListDetalleCuentas()}" update="growlRepro" style="margin-left: 420px;" />
                        <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
                    </p:row>
                </h:panelGrid>
                <p:separator/>
                <p:dataTable binding="#{reprogramarPreBean.reproDataTable}"  id="cuentasDT" var="detalle" value="#{reprogramarPreBean.listDetalleCuentas}" style="margin-bottom:0">

                    <p:column headerText="Rubro" width="70" style="text-align: center;">
                        <p:outputLabel value="#{detalle.catalogoCuentas.nombreCuenta}"/>
                    </p:column>

                    <p:column headerText="Aumento" width="75" style="text-align: center;">
                        <p:inputText value="#{detalle.cargo}"></p:inputText>
                    </p:column>

                    <p:column headerText="Disminucion" width="75" style="text-align: center;">
                        <p:inputText value="#{detalle.abono}"></p:inputText>
                    </p:column>
                    <p:column headerText="Aprobado" width="25" style="text-align: center;">
                        <h:outputText value="#{detalle.presupuestoAprobado}"></h:outputText>
                    </p:column>

                    <p:column headerText="Comprometido" width="50" style="text-align: center;">
                        <h:outputText value="#{detalle.presupuestoComprometido}"></h:outputText>
                    </p:column>

                    <p:column headerText="Disponible" width="25" style="text-align: center;">
                        <h:outputText value="#{detalle.presupuestoReal}"></h:outputText>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton value="Reprogramar" action="#{reprogramarPreBean.reprogramarPresupuesto()}" update=":fromReprogramacion:growlRepro"  style="margin-left: 0px" />
                        <p:button value="Limpiar" outcome="reprogramarPresupuesto2"  style="margin-left: 10px" />
                    </f:facet>

                </p:dataTable>

            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>
