<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="fromReprogramacion">
            <p:growl id="growlRepro" showDetail="false" />
            <p:panel header="Reprogramación de Presupuestos" style="width: 1000px; margin: 0 auto 0 auto;">
                <h:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad de Ejecucion : "/>
                            <p:selectOneMenu value="#{reprogramarPreBean.unidadesEjecutoras}" 
                                             required="true" requiredMessage="Se requiere un Unidad Ejecutora" 
                                             disabled="#{presupuestoBean.auxEstadoCrear}" >

                                <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{presupuestoBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año de ejecucion :"/>
                            <p:selectOneMenu value="#{reprogramarPreBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" 
                                             disabled="#{presupuestoBean.auxEstadoCrear}" >
                                <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                                <f:selectItems value="#{presupuestoBean.listAnios}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:commandButton value="Consultar" action="#{reprogramarPreBean.consultarPresupuesto()}" update="growlRepro" style="margin-left: 450px;" />
                    </p:row>
                </h:panelGrid>

            </p:panel>
        </h:form>

        <p:dialog modal="true" widgetVar="reproPre" header="CUENTAS DEL PRESUPUESTO A REPROGRAMAR" resizable="false" >
            <h:form id="fromRepro">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Cargar :" />
                            <p:selectOneMenu value="#{reprogramarPreBean.codgioCuenta1}">
                                <f:selectItem itemLabel="Seleccione.." itemValue="-1" />
                                <f:selectItems value="#{reprogramarPreBean.listDetalleCuentas}" var="cuent" itemLabel="#{cuent.catalogoCuentas.nombreCuenta}" itemValue="#{cuent.id.codgioCuenta}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{reprogramarPreBean.valor}" required="true" requiredMessage="Se requiere el monto a cargar"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Abonar :" />
                            <p:selectOneMenu value="#{reprogramarPreBean.codgioCuenta2}">
                                <f:selectItem itemLabel="Seleccione.." itemValue="-1" />
                                <f:selectItems value="#{reprogramarPreBean.listDetalleCuentas}" var="cuent" itemLabel="#{cuent.catalogoCuentas.nombreCuenta}" itemValue="#{cuent.id.codgioCuenta}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton value="Reprogramar" action="#{reprogramarPreBean.cargarCuenta()}" update=":fromReprogramacion:growlRepro" style="margin-left: 450px" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
