<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromUnidadEjecutora">
            <p:growl sticky="false" id="growlGeneral"/>
            <p:panel header="Unidades" style="width: 600px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="3" style="margin: 0 auto 0 5px;">
                    <p:outputLabel value="Tipo :" />
                    <p:selectOneRadio value="#{unidadEjecutoraBean.tipo}" required="true" requiredMessage="Se requiere un tipo Oficina/Proyecto" >
                        <f:selectItem itemLabel="Oficina" itemValue="false" />
                        <f:selectItem itemLabel="Proyecto" itemValue="true" />
                        <p:ajax process="@this" listener="#{unidadEjecutoraBean.tipoSeleccionado()}" update="growlGeneral ciudad pais"/>
                    </p:selectOneRadio>
                </h:panelGrid>
                <h:panelGrid columns="3" style="margin: 0 auto 0 5px;">
                    <p:outputLabel value="Se Requiere Cheque :" />
                    <p:selectOneRadio value="#{unidadEjecutoraBean.tipo2}" required="false" requiredMessage="Se requiere si se necesita o no cheque" >
                        <f:selectItem  itemLabel="No" itemValue="false" />
                        <f:selectItem  itemLabel="Si" itemValue="true" />
                        <p:ajax process="@this" listener="#{unidadEjecutoraBean.tipoChequeSeleccionado()}" update="growlGeneral ciudad pais"/>
                    </p:selectOneRadio>
                </h:panelGrid>
                <h:panelGrid columns="2" cellpadding="5">

                    <p:outputLabel value="Nombre de Unidad/Proyecto: "/>
                    <p:inputText value="#{unidadEjecutoraBean.nombreUnidadEjecutora}" required="true" requiredMessage="Debe ingresar un Nombre de Unidad/Proyecto" />


                    <p:outputLabel value="Ciudad donde se administra: "/>
                    <p:selectCheckboxMenu value="#{unidadEjecutoraBean.idCiudad}" id="ciudad" label="Ciudades" style="width: 180px;"
                                          required="true" requiredMessage="Se requiere almenos una ciudad" disabled="#{unidadEjecutoraBean.estadoSelecOficina}" >
                        <f:selectItems value="#{unidadEjecutoraBean.mapCiudades}" />
                    </p:selectCheckboxMenu>

                    <p:outputLabel value="Pais donde se administra: "/>
                    <p:selectCheckboxMenu value="#{unidadEjecutoraBean.idCiudad}" id="pais" label="Paises" style="width: 180px;"
                                          required="true" requiredMessage="Se requiere almenos un pais" disabled="#{unidadEjecutoraBean.estadoSelecProyecto}">
                        <f:selectItem itemLabel="EL SALVADOR" itemValue="EL SALVADOR" />
                        <f:selectItem itemLabel="HONDURAS" itemValue="HONDURAS" />
                        <f:selectItem itemLabel="GUATEMALA" itemValue="GUATEMALA" />
                    </p:selectCheckboxMenu>

                    <p:outputLabel value="Director/Jefe: "/>
                    <p:inputText value="#{unidadEjecutoraBean.director}" required="true" requiredMessage="Debe ingresar un Director/Jefe"/>

                    <p:outputLabel value="Responsable de Elaborar Presupuesto: "/>
                    <p:inputText value="#{unidadEjecutoraBean.reponsable}" required="true" requiredMessage="Debe ingresar un Encargado"/>

                    <p:outputLabel value="Prefijo Codigo: "/>
                    <p:inputText value="#{unidadEjecutoraBean.prefijoCodigo}" required="true" requiredMessage="Debe ingresar un Prefijo del Codigo"/>

                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Agregar" action="#{unidadEjecutoraBean.insertUnidadEjecutora()}" 
                                 styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growlGeneral" />
                <p:commandButton value="Cancelar" action="#{unidadEjecutoraBean.limpiar()}"  update="growlGeneral"/>
                <p:button value="Salir" outcome="plantilla_presupuesto" style="margin: 0 20px 0 20px;" ></p:button>
            </p:panel>

            <p:panel style="width: 1070px; margin: 0 auto 0 auto;">

                <p:dataTable var="unidades" id="unida" value="#{unidadEjecutoraBean.listAllUnid}" editable="true"  widgetVar="unidadTable" filteredValue="#{unidadEjecutoraBean.filtroUnidad}" >

                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Buscar Unidad Ejecutora:" />
                            <p:inputText id="globalFilter" onkeyup="PF('unidadTable').filter()" style="width:550px" placeholder="Ingrese el Nombre de la Unidad o el Prefijo"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:ajax event="rowEdit" listener="#{unidadEjecutoraBean.actualizarUnidad}" update=":fromUnidadEjecutora:growlGeneral"/>
                    <p:ajax event="rowEditCancel" listener="#{unidadEjecutoraBean.cancelarActualizarUnidad}" update=":fromUnidadEjecutora:growlGeneral" />

                    <p:column filterBy="#{unidades.nombreUnidadEjecutora}" footerText="Unidad" headerText="Unidad/Proyecto" width="150" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{unidades.nombreUnidadEjecutora}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{unidades.nombreUnidadEjecutora}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column filterBy="#{unidades.prefijoCodigo}" footerText="Prefijo"  headerText="Prefijo" width="30" >
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{unidades.prefijoCodigo}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{unidades.prefijoCodigo}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>

                    <p:column  headerText="Director/Jefe" footerText="Director" width="30" style="text-align: center;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{unidades.director}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{unidades.director}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  headerText="Responsable presupuesto" footerText="Responsable" width="30" style="text-align: center;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{unidades.reponsable}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{unidades.reponsable}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>    
                    <p:column  headerText="Cheque" footerText="Cheque" width="38" style="text-align: center;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{unidades.esCheque}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:selectOneRadio value="#{unidades.esCheque}" required="false" requiredMessage="Se requiere si se necesita o no cheque" >
                                    <f:selectItem  itemLabel="No" itemValue="false" />
                                    <f:selectItem  itemLabel="Si" itemValue="true" />
                                </p:selectOneRadio>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>   
                    <p:column  headerText="Modificar" footerText="Modificar" width="20" style="text-align: center;" >
                        <p:rowEditor></p:rowEditor>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>

        <p:dialog position="center top" header="Agregar Firmas" widgetVar="detalleCuenta" modal="true" resizable="false"   >
            <h:form id="fromDetalleCuenta" enctype="multipart/form-data" >
                <p:growl id="growlSubir" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{unidadEjecutoraBean.nombreUsuario}">                    
                                <f:selectItems value="#{unidadEjecutoraBean.mapUsuarios}"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Usuario : "/>
                            <h:outputText value="#{unidadEjecutoraBean.usuarioLogeado}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Cargo : "/>
                            <p:inputText value="#{unidadEjecutoraBean.cargo}" required="true" requiredMessage="Debe ingresar un Cargo"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:outputLabel value="Firma :  "/>
                            <p:commandButton value="Subir Archivos de Firma" action="#{unidadEjecutoraBean.verificarDatos()}" update="growlSubir"  />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:separator/>
                            <p:commandButton value="Guardar" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" action="#{unidadEjecutoraBean.inserFirma()}" update="growlSubir"/>
                            <p:commandButton value="Cerrar" onclick="PF('detalleCuenta').hide()" style="margin: 0 20px 0 20px;"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog position="center top" style="text-align: center;" id="subirArchivo" widgetVar="subirArchivo" closable="true" resizable="false" modal="true" >
            <h:form id="formusSubir" enctype="multipart/form-data" >
                <p:growl id="growlSubir"  />
                <p:spacer  height="30" />
                <p:outputLabel value="Seleccione el archivos y luego que aparesca presione el botón Subir" />
                <p:fileUpload fileUploadListener="#{unidadEjecutoraBean.subirArchivoFirma}" mode="advanced" label="Seleccionar" dragDropSupport="false"
                              allowTypes="/(\.|\/)(jpe?g|png)$/" update="growlSubir" cancelLabel="Cancelar" uploadLabel="Subir" />
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
