<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formReqPrin" >
            <p:growl id="growlValida" showDetail="false" />
            <p:dataTable var="req" value="#{validarRequerimientosBean.detalleAllRequerimiento}" widgetVar="detalleTable" filteredValue="#{validarRequerimientosBean.filtrodetalleRequerimiento}" paginator="true" rows="10" emptyMessage="No Hay requerimientos">
                <f:facet name="header" >
                    <p:outputLabel value="REQUERIMIENTOS DE PAGO" />
                    <p:outputPanel>
                        <h:outputText value="Buscar Requerimiento:" />
                        <p:inputText id="globalFilter" onkeyup="PF('detalleTable').filter()" style="width:550px" placeholder="Ingrese el codigo del requerimiento, o la unidad ejecutora, o el proveedor"/>
                    </p:outputPanel>
                </f:facet>
                <p:column filterBy="#{req.requerimientoPagos.codigoRequerimiento}" headerText="Codigo">
                    <p:outputLabel value="#{req.requerimientoPagos.codigoRequerimiento}"/>
                </p:column>
                <p:column filterBy="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}" headerText="Unidad Ejecutora">
                    <p:outputLabel value="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}"/>
                </p:column>
                 <p:column filterBy="#{req.nombreProveedor}" headerText="Proveedor">
                     <p:outputLabel value="#{req.nombreProveedor}"/>
                </p:column>
                <p:column headerText="Fecha de Presentación">
                    <p:outputLabel value="#{req.requerimientoPagos.fechaPresentacion}"/>
                </p:column>
                <p:column headerText="Moneda">
                    <p:outputLabel value="#{req.requerimientoPagos.moneda}"/>
                </p:column>
                <p:column headerText="Monto">
                    <p:outputLabel value="#{req.monto}"/>
                </p:column>
                <p:column headerText="Usuario">
                    <p:outputLabel value="#{req.requerimientoPagos.usuario}"/>
                </p:column>
                <p:column headerText="Seleccionar" style="text-align: center;">
                    <p:commandButton value="S" onclick="PF('reuerimiento').show();" action="#{validarRequerimientosBean.requeSelecc(req)}" />
                </p:column>
            </p:dataTable>

        </h:form>
        <p:dialog header="Requerimiento" widgetVar="reuerimiento" modal="true" resizable="false"   >
            <p:scrollPanel mode="native" style="height:700px;width: 990px;">
                <h:form id="fromReque">
                    <h:outputLabel value="Requerimiento de Fondos para en pago de Bienes y Servicios" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
                    <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                        <p:outputLabel value="Unidad de ejecucion: "/>  
                        <h:outputText value="#{validarRequerimientosBean.nomUnidadEjecutora}"/>


                        <p:panel  style="width: 900px; margin: 10px auto 0 auto;">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Fecha de Presentacion: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientosBean.fechaPresentacion}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Fecha estimada de pago:    "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientosBean.fechaEstimacion}" readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Numero del requerimiento: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientosBean.codigoReq}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Moneda"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientosBean.moneda}" readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">
                                        <p:commandButton value="Ver Documentos Anexos" style="margin-top: 15px;float: right;" onclick="PF('docReque').show();" update=":fromDocReq" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:commandButton value="Ver Detalle del Requerimeinto" style="margin-top: 15px;" onclick="PF('detalleReque').show();" update=":fromDetalleReq" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>

                        <h:panelGrid columns="3" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="Nombre del Asistente Administrativo"/>
                            <p:outputLabel value="Nombre del Usuario Actual"/>
                            <p:outputLabel value="Nombre del Usuario Actual"/>
                            <p:outputLabel value="Asistente Adinistrativo" style="font-weight: bold;"/>
                            <p:outputLabel value="Cargo" style="font-weight: bold;"/>
                            <p:outputLabel value="Cargo" style="font-weight: bold;"/>
                        </h:panelGrid>


                    </p:panel>


                    <p:panel style="width: 550px; margin: 0 auto 0 auto;">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:selectOneRadio id="validado" value="#{validarRequerimientosBean.validacion}" >
                                        <f:selectItem itemLabel="Validado para contabilidad" itemValue="true" />
                                        <f:selectItem itemLabel="No validado para contabilidad" itemValue="false"  />
                                        <p:ajax listener="#{validarRequerimientosBean.validacionSeleccionada()}" update="observacion error" />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Observaciones:"/>
                                            </p:column>
                                            <p:column>
                                                <p:inputTextarea rows="6" cols="40" maxlength="750" scrollHeight="3" id="observacion" value="#{validarRequerimientosBean.observaciones}" disabled="#{validarRequerimientosBean.estadoValidacion}"
                                                                 required="true" requiredMessage="Se requiere la observación"/>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column>
                                    <p:panelGrid>
                                        <p:row>
                                            <p:column>
                                                <p:outputLabel value="Error:"/>
                                            </p:column>
                                            <p:column>
                                                <p:selectOneMenu value="#{validarRequerimientosBean.errorSeleccionado}" required="true" requiredMessage="Se requiere el tipo de error" 
                                                                 id="error" disabled="#{validarRequerimientosBean.estadoValidacion}" style="width: 250px;word-wrap: normal;" >
                                                    <f:selectItem itemLabel="Seleccione un error" noSelectionOption="true"  />
                                                    <f:selectItems value="#{validarRequerimientosBean.mapErrores}" />
                                                </p:selectOneMenu>
                                            </p:column>
                                        </p:row>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                        <p:separator/>
                        <p:commandButton value="Aceptar" action="#{validarRequerimientosBean.validarRequerimiento()}" onclick="PF('reuerimiento').hide();" update=":formReqPrin:growlValida" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" onclick="PF('reuerimiento').hide();" style="margin: 0 20px 0 20px;"/>

                    </p:panel>

                </h:form>
            </p:scrollPanel>
        </p:dialog>

        <p:dialog header="Detalle del Requerimiento" widgetVar="detalleReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromDetalleReq">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:dataTable var="det" value="#{validarRequerimientosBean.listAllDetalleRequeSelec}" paginator="true" rows="10" >
                                <f:facet name="header" >
                                    <p:outputLabel value="DETALLE DEL REQUERIMIENTO" />
                                </f:facet>
                                <p:column headerText="Proveedor">
                                    <p:outputLabel value="#{det.codigoProveedor}" />
                                </p:column>
                                <p:column headerText="Cuenta">
                                    <p:outputLabel value="#{det.codigoCuenta}" />
                                </p:column>
                                <p:column headerText="Nombre Cuenta">
                                    <p:outputLabel value="#{det.conceptoGasto}" />
                                </p:column>
                                <p:column headerText="Monto">
                                    <p:outputLabel value="#{det.monto}" />
                                </p:column>
                                <p:column headerText="Tipo Documento">
                                    <p:outputLabel value="#{det.claseDocumento}" />
                                </p:column>
                                <p:column headerText="Numero Documento">
                                    <p:outputLabel value="#{det.numeroDocumento}" />
                                </p:column>
                                <p:column headerText="Fecha Documento">
                                    <p:outputLabel value="#{det.fechaDocumento}" />
                                </p:column>
                            </p:dataTable>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="Documentos del Requerimiento" widgetVar="docReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromDocReq"  >
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:dataTable var="doc" value="#{validarRequerimientosBean.listAllDocRequeSelec}" paginator="true" rows="10" style="width: 300px;" >
                                <f:facet name="header" >
                                    <p:outputLabel value="DOCUMENTOS DEL REQUERIMIENTO" />
                                </f:facet>
                                <p:column headerText="Tipo Documento">
                                    <p:outputLabel value="#{doc.id.tipoDocumento}" />
                                </p:column>
                                <p:column headerText="Ver" width="50" style="text-align: center;">
                                    <p:commandButton value="v" action="#{validarRequerimientosBean.imagenSelecionada(doc.urlDocumento)}"  />
                                </p:column>
                            </p:dataTable>
                        </p:column>
                    </p:row>

                </p:panelGrid>
            </h:form>
        </p:dialog>       

        <p:dialog header="Documentos del Requerimiento" widgetVar="imgReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromImagen"  >
                <p:graphicImage value="#{documentoBean.documento}" width="750" height="700" cache="false"  >
                    <f:param name="agencyId" value="#{validarRequerimientosBean.url}" />
                </p:graphicImage>
            </h:form>
        </p:dialog>

        <p:dialog header="Documentos del Requerimiento" widgetVar="pdfReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromPdf"  >
                <p:media value="#{documentoBean.documento}" player="pdf" width="900" height="700" >
                    <f:param name="agencyId" value="#{validarRequerimientosBean.url}" />
                </p:media>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
