<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_presupuesto.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
          <p:panel header="Validar Presupuesto" style="width: auto; margin: 0 auto 0 auto;">
                        <p:dataTable var="presupuesto" value="" widgetVar="" filteredValue="">
                            
                            <p:column filterBy="" sortBy="" headerText="Codigo" >
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Descripcion">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column style="text-align: center;">
                                <p:commandButton value="Ver Presupuesto" type="button" onclick="PF('ver').show();"/>
                            </p:column>
                            <p:column style="text-align: center;">
                                <p:commandButton value="Validar Presupuesto" type="button" onclick="PF('validar').show();"/>
                            </p:column>
                        </p:dataTable>
             </p:panel>
              <p:dialog header="Ver Presupuesto" widgetVar="ver" modal="true" height="100">
                 <h:outputText value="Mostrar Reporte de Presupuesto" />
              </p:dialog>
              <p:dialog header="Validar Presupuesto" widgetVar="validar" modal="true" >
                  <p:outputLabel value="Estado del Presupuesto:--->"/>
                  
                  <h:outputText value="Aprobado: " />
                   <p:selectBooleanCheckbox value="#" />
                   <h:outputText value="   Denengado: " />
                   <p:selectBooleanCheckbox value="#" />
                   <p:panelGrid columns="2" style="margin-top: 20px;">
                       <p:outputLabel value="Observacion:"/>
                        <p:inputTextarea rows="6" cols="45"  maxlength="750" scrollHeight="3"/>
                   </p:panelGrid>
                   <p:separator/>
                   <p:commandButton value="Enviar Notificacion" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                   <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
              </p:dialog>
      </h:form>
    </ui:define>

</ui:composition>
