<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
      <h:form>
                    <p:panel header="Actualizar Tipo de Cambio Por Rango de Fechas" style="width: 670px; margin: 0 auto 0 auto;">
                        <p:growl id="growl" />
                        <p:outputLabel value="Nombre de la Empresa/Proyecto: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una Empresa/Proyecto..."/>
                            </p:selectOneMenu>
                        <h:panelGrid columns="4" cellpadding="5">
                            <p:outputLabel value="Fecha de inicio: "/>
                            <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de iniio"/>
                            <p:outputLabel value="Fechade fin: "/>
                            <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de fin"/>
                        </h:panelGrid>
                        <p:separator/>
                        
                            <p:outputLabel value="Actualizando el tipo de cambio: "/>
                            <p:progressBar widgetVar="pbAjax" ajax="true" value="#{progressBarView.progress}" labelTemplate="{value}%" styleClass="animated" global="true">
                                <p:ajax event="complete" listener="#{progressBarView.onComplete}" update="growl" oncomplete="PF('startButton2').enable()"/>
                            </p:progressBar>
                            <p:outputLabel value="Actualizando partida: "/>
                            <p:progressBar widgetVar="pbAjax" ajax="true" value="#{progressBarView.progress}" labelTemplate="{value}%" styleClass="animated" global="false">
                                <p:ajax event="complete" listener="#{progressBarView.onComplete}" update="growl" oncomplete="PF('startButton2').enable()"/>
                            </p:progressBar>
                       
                        
                        <p:commandButton value="Actualizar" type="button" onclick="PF('pbAjax').start();PF('startButton2').disable();" widgetVar="startButton2" style="margin: 20px 20px 0 20px;"/>                        <p:commandButton value="Salir" actionListener="#{progressBarView.cancel}" oncomplete="PF('pbAjax').cancel();PF('startButton2').enable();" />

    
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
