<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Administración de Empresas" style="width: 1060px; margin: 0 auto 0 auto; ">
                        
                        <p:outputLabel value="Seleccione la Empresa/Proyecto: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una Empresa/Proyecto..."/>
                            </p:selectOneMenu>
                        <p:separator/>
                        <p:panel style="margin: 0 5px 25px 5px; float: left; width: 580px; ">
                            
                        
                            <h:panelGrid columns="2" cellpadding="3" >
                                <p:outputLabel value="Nombre : "/>
                                <p:inputTextarea rows="1" cols="58"  maxlength="700" scrollHeight="3"/>
                                <p:outputLabel value="Titulo : "/>
                                <p:inputTextarea rows="3" cols="58"  maxlength="750" scrollHeight="3"/>
                            </h:panelGrid>
                            </p:panel>
                        <p:commandButton value="Guardar los Cambios" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:outputLabel value="agregar una tabla con nombre y titulo, areglar la tabla firma conta para esta vista" />
                    </p:panel>
          <p:dialog header="Firmas Agregadas" widgetVar="firmas" modal="true" width="600" position="top">
                 <p:dataTable var="firmas" id="firmas" value="" widgetVar="" filteredValue="" paginator="true">
                
                <p:column  headerText="Numero">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Título">
                    <h:outputText value="#"/>
                </p:column>
                
                
            </p:dataTable>
          </p:dialog>
      </h:form>
        
    </ui:define>

</ui:composition>
