<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromCambioEmpresa">
            <p:growl id="growlCambioEmpresa" showDetail="false" />

            <p:panel header="Cambio de Empresas" style="width: 1060px; margin: 0 auto 0 auto; ">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:panel header="Empresa" style="margin-left: 50px; width: 870px;">
                                <p:panelGrid id="panelBus" style="margin-bottom: 10px;">
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="Empresa :" />
                                        </p:column>
                                        <p:column>
                                            <p:selectOneMenu value="#{cambioEmpresaBean.unidadesEjecutoras}" disabled="#{cambioEmpresaBean.estado1}" >
                                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}" />
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column>
                                            <p:outputLabel value="Año de Ejecución :" />
                                        </p:column>
                                        <p:column>
                                            <p:selectOneMenu value="#{cambioEmpresaBean.anio}" disabled="#{cambioEmpresaBean.estado1}" >
                                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                    <p:row>
                                        <p:column colspan="4">
                                            <p:commandButton value="Consultar" disabled="#{cambioEmpresaBean.estado1}" action="#{cambioEmpresaBean.consultarEmpresa()}" style="margin-left: 350px;" 
                                                             update="fromCambioEmpresa"/>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                            </p:panel>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:separator/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>

                            <p:panel style="margin-left: 110px; width: 680px; ">

                                <p:dataTable var="firmas" id="firmas" value="" widgetVar="" filteredValue="" paginator="true">

                                    <p:column  headerText="Codigo">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column headerText="Nombre">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column  headerText="Cargo $">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column  headerText="Abono $">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column  headerText="Cargo">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column  headerText="Abono">
                                        <h:outputText value="#"/>
                                    </p:column>
                                    <p:column style="text-align: center;">
                                        <p:commandButton  action="#" icon="ui-icon-wrench" style="margin:  0 auto 0 auto;"/>
                                    </p:column>

                                </p:dataTable>
                            </p:panel>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:separator />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panel header="Nueva Empresa" style="margin-left: 50px; width: 870px;">
                                <p:panelGrid  style="margin-bottom: 10px;">
                                    <p:row>
                                        <p:column>
                                            <p:outputLabel value="Empresa :" />
                                        </p:column>
                                        <p:column>
                                            <p:selectOneMenu value="#{cambioEmpresaBean.unidadesEjecutoras}" disabled="#{cambioEmpresaBean.estado1}" >
                                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}" />
                                            </p:selectOneMenu>
                                        </p:column>
                                        <p:column>
                                            <p:outputLabel value="Año de Ejecución :" />
                                        </p:column>
                                        <p:column>
                                            <p:selectOneMenu value="#{cambioEmpresaBean.anio}" disabled="#{cambioEmpresaBean.estado1}" >
                                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                                            </p:selectOneMenu>
                                        </p:column>
                                    </p:row>
                                </p:panelGrid>
                                <p:commandButton value="Aplicar" action="#" styleClass="ui-priority-primary" style="margin-left: 370px;"/>
                            </p:panel>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>

                            <p:commandButton value="Guardar los Cambios" action="#" styleClass="ui-priority-primary" style="margin-left: 330px;"/>

                            <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>

        </h:form>

    </ui:define>

</ui:composition>
