<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form id="catalogoCuenta">     
            <p:growl id="msgs" showDetail="true" />
            <p:panel header="Creacion de Cuentas" style="width: 500px; margin: 0 auto 0 auto;">
            <h:panelGrid columns="2" style="margin: 0 auto 0 40px;">
                  <h:outputText value="Nombre: "/>
                  <p:inputText value="#{catalogoContabilidadBean.nombreCuenta}"/>
                </h:panelGrid>
                <h:panelGrid columns="3" style="margin: 0 auto 0 40px;">
                    <p:outputLabel value="Tipo Cuenta: "/>
                    <p:selectOneRadio value="#{catalogoContabilidadBean.tipo}">
                        <f:selectItem itemLabel="Agrupación" itemValue="2" />
                        <f:selectItem itemLabel="Transacción" itemValue="1" />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h:panelGrid columns="3" style="margin: 0 auto 0 40px;">
                    <p:outputLabel value="Naturaleza: "/>
                    <p:selectOneRadio value="#{catalogoContabilidadBean.naturaleza}">
                        <f:selectItem itemLabel="Deudora" itemValue="1" />
                        <f:selectItem itemLabel="Acreedora" itemValue="2" />
                    </p:selectOneRadio>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Guardar" action="#{catalogoContabilidadBean.insertCuenta()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="catalogoCuenta msgs" />
                <p:commandButton value="Cancelar" action="#{catalogoContabilidadBean.limpiar()}" update="catalogoCuenta"/>
            </p:panel>
            <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                <p:treeTable value="#{catalogoContabilidadBean.root}" var="document" scrollable="true" scrollHeight="450"  >
                    <f:facet name="header">
                        Cuentas Creadas
                    </f:facet>
                    <p:column headerText="codigo" style="width: 110px;">
                        <h:outputText value="#{document.codCatalocuenta}" />
                    </p:column>
                    <p:column headerText="Nombre"  style="word-wrap: normal;width: 480px;">
                        <h:outputText value="#{document.nombreCuentacatalo}" />
                    </p:column>

                    <p:column style="width: 140px">
                        <p:commandButton value="Crear Subcuenta" action="#{catalogoContabilidadBean.cuentaSeleccionada(document.codCatalocuenta)}"
                                         onclick="PF('subcuentas').show();"/>
                    </p:column>
                </p:treeTable>
            </p:panel>            
        </h:form>
        <h:form>

            <p:dialog header="Sub Cuenta" widgetVar="subcuentas" width="450px" modal="true" position="top">
                <h:form id="formSubCuenta" />
                <h:panelGrid columns="2" style="margin: 0 auto 0 40px;">
                  <h:outputText value="Nombre: "/>
                  <p:inputText value="#{catalogoContabilidadBean.nombreCuenta}"/>
                </h:panelGrid>
                <h:panelGrid columns="3" style="margin: 0 auto 0 40px;">
                    <p:outputLabel value="Tipo Cuenta: "/>
                    <p:selectOneRadio value="#{catalogoContabilidadBean.tipo}">
                        <f:selectItem itemLabel="Agrupación" itemValue="2" />
                        <f:selectItem itemLabel="Transacción" itemValue="1" />
                    </p:selectOneRadio>
                </h:panelGrid>
                <h:panelGrid columns="3" style="margin: 0 auto 0 40px;">
                    <p:outputLabel value="Naturaleza: "/>
                    <p:selectOneRadio value="#{catalogoContabilidadBean.naturaleza}">
                        <f:selectItem itemLabel="Deudora" itemValue="1" />
                        <f:selectItem itemLabel="Acreedora" itemValue="2" />
                    </p:selectOneRadio>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Guardar" action="#{catalogoContabilidadBean.insertSubCuenta()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;"/>
                <p:commandButton value="Cancelar" action="#{catalogoContabilidadBean.limpiar()}"/>
            </p:dialog>  
        </h:form>
    </ui:define>

</ui:composition>
