<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromCuentaEmpresa">
            <p:growl id="growlCuentaEmpre" showDetail="false" />
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:panelGrid id="panelBus" style="margin-left: 150px;">
                            <p:row>
                                <p:column>
                                    <p:outputLabel value="Empresa :" />
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{cuentasEmpresaBean.idunidadesEjecutoras}" disabled="#{cuentasEmpresaBean.estado1}" >
                                        <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                        <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}" />
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column>
                                    <p:outputLabel value="Año de Ejecución :" />
                                </p:column>
                                <p:column>
                                    <p:selectOneMenu value="#{cuentasEmpresaBean.anio}" disabled="#{cuentasEmpresaBean.estado1}" >
                                        <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                        <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                                    </p:selectOneMenu>
                                </p:column>
                            </p:row>
                            <p:row>
                                <p:column colspan="4">
                                    <p:commandButton value="Consultar" disabled="#{cuentasEmpresaBean.estado1}" action="#{cuentasEmpresaBean.consultarEmpresa()}" style="margin-left: 350px;" 
                                                     update="panelBus growlCuentaEmpre :fromCuentaEmpresa:trecuen:btnAgrecue cuentas fin"/>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                </p:row>

                <p:row>
                    <p:column colspan="4">
                        <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                            <p:treeTable value="#{catalogoContabilidadBean.root}" var="document" selectionMode="checkbox"  
                                         selection="#{cuentasEmpresaBean.treeNodeSeleccionado}" scrollable="true" scrollHeight="450" id="trecuen" >
                                <f:facet name="header">
                                    Cuentas a asignar
                                </f:facet>
                                <p:column headerText="codigo" style="width: 110px;">
                                    <h:outputText value="#{document.codCatalocuenta}" />
                                </p:column>
                                <p:column headerText="Nombre"  style="word-wrap: normal;width: 480px;">
                                    <h:outputText value="#{document.nombreCuentacatalo}" />
                                </p:column>

                                <!--<p:column style="width: 140px">
                                    <p:commandButton value="Crear Subcuenta" action="{catalogoContabilidadBean.cuentaSeleccionada(document.codCatalocuenta)}"
                                                     onclick="PF('subcuentas').show();"/>
                                </p:column>-->
                                <f:facet name="footer">
                                    <p:commandButton value="Agregar Cuentas" disabled="#{!cuentasEmpresaBean.estado1}" update=":fromCuentaEmpresa:growlCuentaEmpre" icon="ui-icon-newwin"
                                                     actionListener="#{cuentasEmpresaBean.displaySelectedMultiple(cuentasEmpresaBean.treeNodeSeleccionado)}" id="btnAgrecue"/>
                                </f:facet>
                            </p:treeTable>
                        </p:panel>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="4">
                        <p:commandButton value="Finalizar" style="margin-left: 475px;" id="fin" disabled="#{!cuentasEmpresaBean.estado1}" action="#{cuentasEmpresaBean.finalzar()}" update="cuentas panelBus growlCuentaEmpre :fromCuentaEmpresa:trecuen:btnAgrecue fin" />
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="4">
                        <p:panel  style="width: 750px; margin: 0 auto 0 auto; margin-top: 15px;">
                            <p:dataTable  id="cuentas" var="cuen" value="#{cuentasEmpresaBean.listCuentasAgre}"  >

                                <p:column headerText="Codigo">
                                    <h:outputText value="#{cuen.codCatalogo}"/>
                                </p:column>
                                <p:column  headerText="empresa">
                                    <h:outputText value="#{cuen.empresa.codigoEmpresaContable}"/>
                                </p:column>

                            </p:dataTable>
                        </p:panel>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>
    </ui:define>

</ui:composition>
