<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromEmpre">
            <p:growl id="growlEmpre" showDetail="true" />
                    <p:panel header="Datos Generales" style="width: 500px; margin: 0 auto 0 auto;">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Nombre de la Empresa: "/>
                            <p:selectOneMenu value="#{datosGeneralesBean.idunidadesEjecutoras}">
                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Año de ejecución: "/>
                            <p:selectOneMenu value="#{datosGeneralesBean.anyoEjecucion}">
                                <f:selectItem  itemLabel="Seleccione una año..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.listAnios}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Moneda :" />
                            <p:selectOneMenu value="#{datosGeneralesBean.moneda}">
                                <f:selectItem  itemLabel="Seleccione una Moneda..." noSelectionOption="true"/>
                                <f:selectItem itemValue="$-Dolar" itemLabel="$-Dolar"/>
                                <f:selectItem itemValue="Q-Quetzal" itemLabel="Q-Quetzal"/>
                                <f:selectItem itemValue="L-Lempira" itemLabel="L-Lempira"/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                         <p:separator/>
                         <p:commandButton value="Crear" action="#{datosGeneralesBean.insertEmpresa()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="fromEmpre"/>
                         <p:commandButton value="Cancelar" action="#{datosGeneralesBean.limpiar()}" style="margin: 0 20px 0 20px;" update="fromEmpre"/>
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
