<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromFirmasConta">
            <p:growl id="growlFirmasConta" showDetail="false" />
            <p:panel header="Firmas" style="width: 700px; margin: 0 auto 0 auto; ">
                <p:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Seleccione la Empresa/Proyecto: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{firmasContaBean.idunidadesEjecutoras}"  required="true" requiredMessage="Se requiere la empresa" disabled="#{firmasContaBean.estado0}">
                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}"/> 
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Año :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{firmasContaBean.anio}" disabled="#{firmasContaBean.estado0}" required="true" requiredMessage="Se requiere el año" >
                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton style="margin-left: 250px;" value="Consultar" action="#{firmasContaBean.empresaSelecionada()}" disabled="#{firmasContaBean.estado0}" update="fromFirmasConta" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>

                <p:panel style="margin: 0 auto 50px auto;  width: 500px;">
                    <p:panelGrid  style=" margin: 0 auto 20px auto;">
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Numero de firmas: "/>
                            </p:column>
                            <p:column>
                                <p:selectOneRadio value="#{firmasContaBean.numFirmas}" disabled="#{firmasContaBean.estado1}" required="true" requiredMessage="Se requiere el numero de firmas">
                                    <f:selectItem itemLabel="1" itemValue="1" />
                                    <f:selectItem itemLabel="2" itemValue="2" />
                                    <f:selectItem itemLabel="3" itemValue="3" />
                                    <f:selectItem itemLabel="4" itemValue="4" />
                                </p:selectOneRadio>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Seleccionar" action="#{firmasContaBean.numeroFirmasSelecc()}" disabled="#{firmasContaBean.estado1}" update="fromFirmasConta" style="margin-left: 130px"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Nombre: " />
                            </p:column>
                            <p:column>
                                <p:inputText value="#{firmasContaBean.nombre}" required="true" requiredMessage="Se requiere un nombre" disabled="#{firmasContaBean.estado2}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:outputLabel value="Título: "/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{firmasContaBean.titulo}" required="true" requiredMessage="Se requiere un título" disabled="#{firmasContaBean.estado2}"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column>
                                <p:commandButton value="Agregar" action="#{firmasContaBean.insertFirma()}" update="fromFirmasConta tblFirmas" styleClass="ui-priority-primary" disabled="#{firmasContaBean.estado2}" style="margin:  0 20px 0 20px;"/>
                            </p:column>
                            <p:column>
                                <p:commandButton value="Cancelar" action="#" disabled="#{firmasContaBean.estado2}" style="margin: 0 20px 0 20px;"/>
                            </p:column>
                        </p:row>
                        <p:row>
                            <p:column colspan="2">
                                <p:commandButton value="Finalizar" action="#{firmasContaBean.finalizar()}" update="fromFirmasConta tblFirmas" disabled="#{firmasContaBean.estado3}" style="margin-left: 130px;"/>
                            </p:column>
                        </p:row>
                    </p:panelGrid>
                    <p:dataTable var="firmas" id="tblFirmas" value="#{firmasContaBean.listFirmas}"  paginator="true">

                        <p:column  headerText="Numero">
                            <h:outputText value="#{firmas.id.codFirmas}"/>
                        </p:column>
                        <p:column headerText="Nombre">
                            <h:outputText value="#{firmas.seNombre}"/>
                        </p:column>
                        <p:column  headerText="Título">
                            <h:outputText value="#{firmas.seTitulo}"/>
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </p:panel>

        </h:form>

    </ui:define>

</ui:composition>
