<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="js" name="/recursos/js/bar.js"/>
    </h:head>
    <ui:define name="content">
        <h:form id="fromPartidaLotes">
            <p:growl id="growlPartidaLotes" showDetail="false" />
            <p:panel header="Partidas Lotes" style="width: 1050px; margin: 0 auto 0 auto;">
                <p:panelGrid id="panelBus" style="margin-left: 150px;">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Empresa :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{partidasLotesBean.unidadesEjecutoras}" disabled="#{partidasLotesBean.estado1}" >
                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año de Ejecución :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{partidasLotesBean.anio}" disabled="#{partidasLotesBean.estado1}" >
                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton value="Consultar" disabled="#{partidasLotesBean.estado1}" action="#{partidasLotesBean.consultarEmpresa()}" style="margin-left: 350px;" 
                                             update="fromPartidaLotes"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Fecha de inicio: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de iniio"/>
                    <p:outputLabel value="Fechade fin: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de fin"/>
                </h:panelGrid>
                <p:separator/>
                <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Fecha de emision: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de emision"/>
                    <p:outputLabel value="Modeda: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere una moneda"/>
                </h:panelGrid>
                <p:dataTable var="sale" value="#{dtGroupView.sales}">
                    <f:facet name="header">
                        Programa de manejo de cuentas en el Trifinio TRIFINIO-KFW
                    </f:facet>

                    <p:columnGroup type="header">


                        <p:row>
                            <p:column rowspan="3" headerText="Cuenta" />
                            <p:column rowspan="3" headerText="Concepto" />
                        </p:row>
                        <p:row>
                            <p:column colspan="2" headerText="Dolares" />
                            <p:column colspan="2" headerText="Moneda" />
                        </p:row>
                        <p:row>
                            <p:column headerText="Cargo" />
                            <p:column headerText="Abono" />
                            <p:column headerText="Cargo" />
                            <p:column headerText="Abono" />
                        </p:row>
                    </p:columnGroup>

                    <p:column>
                        <h:outputText value="#{sale.manufacturer}" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{sale.lastYearProfit}%" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{sale.thisYearProfit}%" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{sale.thisYearProfit}%" />
                    </p:column>
                    <p:column>
                        <h:outputText value="#{sale.lastYearSale}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </p:column>
                    <p:column>
                        <h:outputText value="#{sale.thisYearSale}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </p:column>
                    <p:columnGroup type="footer">
                        <p:row>
                            <p:column colspan="2" style="text-align:right" footerText="Total:" />
                            <p:column footerText="$#{dtGroupView.lastYearTotal}" />
                            <p:column footerText="$#{dtGroupView.lastYearTotal}" />

                            <p:column footerText="$#{dtGroupView.thisYearTotal}" />
                            <p:column footerText="$#{dtGroupView.thisYearTotal}" />
                        </p:row>
                    </p:columnGroup>

                    <f:facet name="footer">
                        ...
                    </f:facet>
                </p:dataTable>

                <p:commandButton value="Imprimir" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
