<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Registro 2" style="width: 1060px; margin: 0 auto 0 auto; ">
                        
                        <p:growl id="growl" />
                        <p:outputLabel value="Nombre de la Empresa/Proyecto: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una Empresa/Proyecto..."/>
                            </p:selectOneMenu>
                        <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                            <p:outputLabel value="Fecha de inicio: "/>
                            <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de iniio"/>
                            <p:outputLabel value="Fechade fin: "/>
                            <p:calendar rendered="true" requiredMessage="Debe introducir una fecha de fin"/>
                        </h:panelGrid>
                        <p:commandLink onclick="PF('catalogo').show();" value="Ver catalogo contable de empresa" style="margin: 10px auto 20px auto;"/>
                        <p:separator/>
                        
                        
                            <h:panelGrid columns="6" cellpadding="3" >
                                <p:outputLabel value="Código: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un codigo"/>
                                <p:outputLabel value="Concepto: "/>
                                <p:inputTextarea rows="3" cols="30"  maxlength="750" scrollHeight="3" required="true" requiredMessage="Se requiere un concepto"/>
                                <p:outputLabel value="Valor: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un valor"/>
                                <p:outputLabel value="Moneda orig: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere una moneda"/>
                                <p:outputLabel value="Tipo:"/>
                                 <p:selectOneRadio value="#">
                                    <f:selectItem itemLabel="Abono" itemValue="1" />
                                    <f:selectItem itemLabel="Cargo" itemValue="2" />
                                 </p:selectOneRadio>
                                <p:outputLabel value="Fecha: "/>
                                <p:calendar rendered="true" requiredMessage="Debe introducir una fecha"/>
                                <p:outputLabel value="Tipo C:"/>
                                <p:selectOneMenu>
                                    <f:selectItem  itemLabel="Seleccione un Tipo C..." />
                                    <f:selectItem  itemLabel="Diario" itemValue="1"/>
                                    <f:selectItem  itemLabel="Ingreso" itemValue="2"/>
                                    <f:selectItem  itemLabel="Egreso" itemValue="3"/>
                                </p:selectOneMenu>
                                <p:outputLabel value="Numero de partida: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un numero de partida"/>
                                <p:selectManyCheckbox id="custom" value="#{checkboxView.selectedConsoles}" >
                                    <f:selectItem itemLabel="SIAFI" itemValue="SIAFI" />
                                    <f:selectItem itemLabel="NDM" itemValue="NDM" />
                                </p:selectManyCheckbox>
                            </h:panelGrid>
                        
                        <p:commandButton value="Agregar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 20px 20px;"/>
                        <p:commandButton value="Cancelar" type="reset" action="#" style="margin: 0 20px 0 20px;"/>
                        
                        <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                            <p:outputLabel value="Número de cargos: "/>
                            <h:outputText value="#Cargado"/>
                            <p:outputLabel value="Número de abonos: "/>
                            <h:outputText value="#Cargado"/>
                        </h:panelGrid>
                        
                        <p:dataTable var="reg2" id="reg2" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                ...
                            </f:facet>
                            <f:facet name="footer">
                                ...
                            </f:facet>
                            <p:column headerText="Código">
                                <h:outputText value="#"/>
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Cargo $">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Abono $">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Cargo">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Abono">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Modificar" style="text-align: center;">
                                <p:selectBooleanCheckbox value="#" />
                            </p:column>
                            <p:columnGroup type="footer">
                                <p:row>
                                    <p:column colspan="2" style="text-align:right" footerText="Totals:" />
                                    <p:column footerText="$#{dtGroupView.lastYearTotal}" />
                                    <p:column footerText="$#{dtGroupView.thisYearTotal}" />
                                    <p:column footerText="$#{dtGroupView.thisYearTotal}" />
                                    <p:column footerText="$#{dtGroupView.thisYearTotal}" />
                                    <p:column footerText="#{dtGroupView.thisYearTotal}" />
                                </p:row>
                            </p:columnGroup>
                        </p:dataTable>
                        <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
                        <p:commandButton value="Imprimir" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>
                    </p:panel>
          <p:dialog header="Catálogo de contable de empresa" widgetVar="catalogo" modal="true" width="600" position="top">
              <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" filteredValue="">
                  <f:facet name="header">
                      Catálogo de Contabilidad
                  </f:facet>
                  <f:facet name="footer">
                      ...
                  </f:facet>
                  <p:column headerText="Nombre de la Cuenta">
                      <h:outputText value="#"/>
                  </p:column>
                  <p:column headerText="Monto">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Tipo Cuenta">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Naturaleza">
                      <h:outputText value=""/>
                  </p:column>

              </p:dataTable>
              <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
          </p:dialog>
      </h:form>
        
    </ui:define>

</ui:composition>
