<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formReqPrin" >
            <p:growl id="growlValida" showDetail="false" />
            <p:dataTable var="req" value="#{validarRequerimientoContaBean.listAllReque}" paginator="true" rows="10" emptyMessage="No Hay requerimientos" >
                <f:facet name="header" >
                    <p:outputLabel value="REQUERIMIENTOS DE PAGO" />
                </f:facet>
                <p:column headerText="Codigo">
                    <p:outputLabel value="#{req.codigoRequerimiento}"/>
                </p:column>
                <p:column headerText="Unidad ejecutora">
                    <p:outputLabel value="#{req.unidadesEjecutoras.nombreUnidad}"/>
                </p:column>
                <p:column headerText="Fecha de Presentación">
                    <p:outputLabel value="#{req.fechaPresentacion}"/>
                </p:column>
                <p:column headerText="Moneda">
                    <p:outputLabel value="#{req.moneda}"/>
                </p:column>
                <p:column headerText="Año">
                    <p:outputLabel value="#{req.anioPresupuesto}"/>
                </p:column>
                <p:column headerText="Usuario">
                    <p:outputLabel value="#{req.usuario}"/>
                </p:column>
                <p:column headerText="Seleccionar" style="text-align: center;">
                    <p:commandButton value="s" onclick="PF('reuerimiento').show();" action="#{validarRequerimientoContaBean.requeSelecc(req)}" />
                </p:column>
            </p:dataTable>

        </h:form>
        <p:dialog header="Requerimiento" widgetVar="reuerimiento" modal="true" resizable="false"   >
            <p:scrollPanel mode="native" style="height:700px;width: 990px;">
                <h:form id="fromReque">
                    <h:outputLabel value="Requerimiento de Fondos para en pago de Bienes y Servicios" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
                    <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                        <p:outputLabel value="Unidad de ejecucion: "/>  
                        <h:outputText value="#{validarRequerimientoContaBean.nomUnidadEjecutora}"/>


                        <p:panel  style="width: 900px; margin: 10px auto 0 auto;">
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Fecha de Presentacion: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientoContaBean.fechaPresentacion}" readonly="true"/>
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Fecha estimada de pago:    "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientoContaBean.fechaEstimacion}" readonly="true"/>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Numero del requerimiento: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientoContaBean.codigoReq}" />
                                    </p:column>
                                    <p:column>
                                        <p:outputLabel value="Moneda"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{validarRequerimientoContaBean.moneda}" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column colspan="2">
                                        <p:commandButton value="Ver Documentos Anexos" style="margin-top: 15px;float: right;" onclick="PF('docReque').show();" update=":fromDocReq" />
                                    </p:column>
                                    <p:column colspan="2">
                                        <p:commandButton value="Ver Detalle del Requerimeinto" style="margin-top: 15px;" onclick="PF('detalleReque').show();" update=":fromDetalleReq" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:panel>

                        <h:panelGrid columns="3" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="____________________________________"/>
                            <p:outputLabel value="Nombre del Asistente Administrativo"/>
                            <p:outputLabel value="Nombre del Usuario Actual"/>
                            <p:outputLabel value="Nombre del Usuario Actual"/>
                            <p:outputLabel value="Asistente Adinistrativo" style="font-weight: bold;"/>
                            <p:outputLabel value="Cargo" style="font-weight: bold;"/>
                            <p:outputLabel value="Cargo" style="font-weight: bold;"/>
                        </h:panelGrid>
                    </p:panel>


                    <p:panel style="width: 550px; margin: 0 auto 0 auto;">
                        <p:panelGrid>
                            <p:row>
                                <p:column>
                                    <p:selectOneRadio id="validado" value="#{validarRequerimientoContaBean.validacion}" >
                                        <f:selectItem itemLabel="Validado para tesoreria" itemValue="tesoreia" />
                                        <f:selectItem itemLabel="No validado para tesoreria" itemValue="error"  />
                                        <p:ajax listener="#{validarRequerimientoContaBean.validacionSeleccionada()}"   />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>

                        </p:panelGrid>
                        

                    </p:panel>

                </h:form>
            </p:scrollPanel>
        </p:dialog>

        <p:dialog header="Detalle del Requerimiento" widgetVar="detalleReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromDetalleReq">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:dataTable var="det" value="#{validarRequerimientoContaBean.listAllDetalleRequeSelec}" paginator="true" rows="10" >
                                <f:facet name="header" >
                                    <p:outputLabel value="DETALLE DEL REQUERIMIENTO" />
                                </f:facet>
                                <p:column headerText="Proveedor">
                                    <p:outputLabel value="#{det.codigoProveedor}" />
                                </p:column>
                                <p:column headerText="Cuenta">
                                    <p:outputLabel value="#{det.codigoCuenta}" />
                                </p:column>
                                <p:column headerText="Nombre Cuenta">
                                    <p:outputLabel value="#{det.conceptoGasto}" />
                                </p:column>
                                <p:column headerText="Monto">
                                    <p:outputLabel value="#{det.monto}" />
                                </p:column>
                                <p:column headerText="Tipo Documento">
                                    <p:outputLabel value="#{det.claseDocumento}" />
                                </p:column>
                                <p:column headerText="Numero Documento">
                                    <p:outputLabel value="#{det.numeroDocumento}" />
                                </p:column>
                                <p:column headerText="Fecha Documento">
                                    <p:outputLabel value="#{det.fechaDocumento}" />
                                </p:column>
                            </p:dataTable>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="Documentos del Requerimiento" widgetVar="docReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromDocReq"  >
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:dataTable var="doc" value="#{validarRequerimientoContaBean.listAllDocRequeSelec}" paginator="true" rows="10" style="width: 300px;" >
                                <f:facet name="header" >
                                    <p:outputLabel value="DOCUMENTOS DEL REQUERIMIENTO" />
                                </f:facet>
                                <p:column headerText="Tipo Documento">
                                    <p:outputLabel value="#{doc.id.tipoDocumento}" />
                                </p:column>
                                <p:column headerText="Ver" width="50" style="text-align: center;">
                                    <p:commandButton value="v" action="#{validarRequerimientoContaBean.imagenSelecionada(doc.urlDocumento)}"  />
                                </p:column>
                            </p:dataTable>
                        </p:column>
                    </p:row>

                </p:panelGrid>
            </h:form>
        </p:dialog>       

        <p:dialog header="Documentos del Requerimiento" widgetVar="imgReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromImagen"  >
                <p:graphicImage value="#{documentoBean.documento}" width="750" height="700" cache="false"  >
                    <f:param name="agencyId" value="#{validarRequerimientoContaBean.url}" />
                </p:graphicImage>
            </h:form>
        </p:dialog>

        <p:dialog header="Documentos del Requerimiento" widgetVar="pdfReque" modal="true" resizable="false" position="top"   >
            <h:form id="fromPdf"  >
                <p:media value="#{documentoBean.documento}" player="pdf" width="900" height="700" >
                    <f:param name="agencyId" value="#{validarRequerimientoContaBean.url}" />
                </p:media>
            </h:form>
        </p:dialog>

        <p:dialog header="Validar" widgetVar="validarReq" modal="true" resizable="false"   >
            <h:form id="fromValidar">
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Cargar :" />
                    </p:column>
                    <p:column>
                        <p:selectOneMenu >
                            <f:selectItems value="#{validarRequerimientoContaBean.listaCatlogoSelecc}" var="cuenta" itemLabel="#{cuenta.codCatalogo}" itemValue="#{cuenta.codCatalogo}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column>
                        <p:outputLabel value="Abonar :" />
                    </p:column>
                    <p:column>
                        <p:selectOneMenu >
                            <f:selectItems value="#{validarRequerimientoContaBean.listaCatlogoSelecc}" var="cuenta" itemLabel="#{cuenta.codCatalogo}" itemValue="#{cuenta.codCatalogo}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="2">
                            <p:separator/>
                        <p:commandButton value="Aceptar" action="#{validarRequerimientoContaBean.validarRequerimiento()}" update=":formReqPrin:growlValida" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" onclick="PF('validarReq').hide();" style="margin: 0 20px 0 20px;"/>
                        </p:column>
                    </p:row>
            </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="No Validar" widgetVar="noValidarReq" modal="true" resizable="false"   >
            <h:form>
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Observaciones:"/>
                                    </p:column>
                                    <p:column>
                                        <p:inputTextarea rows="6" cols="40" maxlength="750" scrollHeight="3" id="observacion" value="#{validarRequerimientoContaBean.observaciones}"
                                                         required="true" requiredMessage="Se requiere la observación"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Error:"/>
                                    </p:column>
                                    <p:column>
                                        <p:selectOneMenu value="#{validarRequerimientoContaBean.errorSeleccionado}" required="true" requiredMessage="Se requiere el tipo de error" 
                                                         id="error" style="width: 250px;word-wrap: normal;" >
                                            <f:selectItem itemLabel="Seleccione un error" noSelectionOption="true"  />
                                            <f:selectItems value="#{validarRequerimientoContaBean.mapErrores}" />
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:separator/>
                            <p:commandButton value="Aceptar" action="#{validarRequerimientoContaBean.validarRequerimiento()}"  update=":formReqPrin:growlValida" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" onclick="PF('noValidarReq').hide();" style="margin: 0 20px 0 20px;" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

    </ui:define>

</ui:composition>
