<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromRevisionPagos">
            <p:growl id="growlRevisionPagos" showDetail="false"  />
            
            <p:panel header="Revision de Pagos" style="width: 1060px; margin: 0 auto 0 auto; ">   
                <p:panelGrid style="margin-left: 80px;">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Seleccione la Empresa/Proyecto: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{revisionPagosBean.unidadesEjecutoras}"  required="true" requiredMessage="Se requiere la empresa" disabled="#{revisionPagosBean.estado1}">
                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}"/> 
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{revisionPagosBean.anio}" disabled="#{revisionPagosBean.estado1}" required="true" requiredMessage="Se requiere el año" >
                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton style="margin-left: 400px;" value="Consultar" action="#{revisionPagosBean.consultarEmpresa()}" disabled="#{revisionPagosBean.estado1}" 
                                             update="fromRevisionPagos" />
                        </p:column>
                    </p:row>
                </p:panelGrid>

                <h:panelGrid columns="6" cellpadding="3" >
                    <p:outputLabel value="N° Recibo/Factura: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un numero de Recibo/Factura"/>
                    <p:outputLabel value="Fecha: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una fecha"/>
                    <p:outputLabel value="Código Proveedor: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un valor"/>
                    <p:outputLabel value="Nombre Proveedor: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un nombre del proveedor"/>
                    <p:outputLabel value="Monto US$: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un monto en $"/>
                    <p:outputLabel value="Monto: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un monto"/>
                    <p:outputLabel value="Moneda: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere una moneda"/>
                    <p:outputLabel value="Contable: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Contable"/>
                    <p:outputLabel value="Nombre Cuenta: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Nombre Cuenta"/>
                    <p:outputLabel value="Validación Contable:"/>
                    <p:selectBooleanCheckbox  />
                    <p:outputLabel value="Empresa: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Empresa"/>
                    <p:outputLabel value="Categoría: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Categoría"/>
                    <p:outputLabel value="Unidad Ejecutora: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Unidad Ejecutora"/>
                    <p:outputLabel value="Fuente de recursos: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Fuente de recursos"/>
                    <p:outputLabel value="Cuenta de Banco: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Cuenta de Banco"/>
                    <p:outputLabel value="Número de Cheque: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Número de Cheque"/>
                    <p:outputLabel value="Fecha: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una fecha"/>
                    <p:outputLabel value="Estatus: "/>
                    <p:selectManyCheckbox id="status"  >
                        <f:selectItem itemLabel="OK" itemValue="OK" />
                        <f:selectItem itemLabel="Pagado" itemValue="Pagado" />
                    </p:selectManyCheckbox>
                    <p:outputLabel value="Número Partida: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Número de Partida"/>
                    <p:outputLabel value="Fecha Partida: "/>
                    <p:calendar rendered="true" requiredMessage="Debe introducir una Fecha de partida"/>
                    <p:outputLabel value="Concepto: "/>
                    <p:inputTextarea rows="3" cols="22"  maxlength="750" scrollHeight="3"  requiredMessage="Se requiere un concepto"/>
                    <p:outputLabel value="Tipo:"/>
                    <p:selectOneRadio value="#">
                        <f:selectItem itemLabel="Factura" itemValue="1" />
                        <f:selectItem itemLabel="Recibo" itemValue="2" />
                    </p:selectOneRadio>
                    <p:outputLabel value="Pais: "/>
                    <p:inputText  rendered="true" requiredMessage="Debe introducir un Pais"/>
                    <p:outputLabel value="Fuente Recurso:"/>
                    <p:inputText  rendered="true" requiredMessage="Debe introducir una Fuente de Recursos"/>
                    <p:outputLabel value="Numero requerimiento: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un numero de requerimiento"/>
                    <p:outputLabel value=" "/>
                    <p:selectManyCheckbox id="custom"  >
                        <f:selectItem itemLabel="Cerrado" itemValue="Cerrado" />
                        <f:selectItem itemLabel="Observado" itemValue="Observado" />
                    </p:selectManyCheckbox>
                    <p:outputLabel value="Observación: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere una Observación"/>
                    <p:outputLabel value="Año: "/>
                    <p:inputText rendered="true" requiredMessage="Se requiere un Año"/>
                    <p:outputLabel value=""/>
                    <p:selectManyCheckbox id="masivo"  >
                        <f:selectItem itemLabel="Masivo" itemValue="Masivo" />
                    </p:selectManyCheckbox>
                    <p:outputLabel value="Ndb: "/>
                    <p:inputText rendered="true" requiredMessage="Debe completar el campo Ndb"/>

                </h:panelGrid>


                <p:commandButton value="Finalizar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
                <p:commandButton icon="ui-icon-arrowstop-1-w" value="Atras" action="#" style="margin: 0 20px 0 20px;"/>
                <p:commandButton value="Siguiente" icon="ui-icon-arrowstop-1-e" action="#" style="margin: 0 20px 0 20px;"/>
                <p:commandButton value="Primero" action="#" style="margin: 0 20px 0 20px;"/>
                <p:commandButton value="Ultimo" action="#" style="margin: 0 20px 0 20px;"/>
            </p:panel>
            <p:dialog header="Catálogo de contable de empresa" widgetVar="catalogo" modal="true" width="600" position="top">
                <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" filteredValue="">
                    <f:facet name="header">
                        Catálogo de Contabilidad
                    </f:facet>
                    <f:facet name="footer">
                        ...
                    </f:facet>
                    <p:column headerText="Nombre de la Cuenta">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column headerText="Monto">
                        <h:outputText value=""/>
                    </p:column>
                    <p:column  headerText="Tipo Cuenta">
                        <h:outputText value=""/>
                    </p:column>
                    <p:column  headerText="Naturaleza">
                        <h:outputText value=""/>
                    </p:column>

                </p:dataTable>
                <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
            </p:dialog>
        </h:form>

    </ui:define>

</ui:composition>
