<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromTipoCambioConta">
            <p:growl id="growlCambioConta" showDetail="false" />
            <p:panel header="Tipo de Cambio" style="width: 900px; margin: 0 auto 0 auto; ">

                <p:outputLabel value="Seleccione la Fecha: "/>
                <p:calendar value="#{tipoCambioContaBean.fechaCambio}" required="true" requiredMessage="Debe introducir una fecha"/>

                <p:separator/>
                <p:panelGrid   style=" margin: 0 auto 20px auto;">
                    <p:row>
                        <p:column >
                            <p:outputLabel value="El Salvador: " style="margin-left: 250px;" />
                            <p:inputText value="#{tipoCambioContaBean.dolar}" required="true" requiredMessage="Debe completar el campo El Salvador"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Guatemala: " style="margin-left: 250px;" />
                            <p:inputText value="#{tipoCambioContaBean.quetzales}" required="true" requiredMessage="Debe completar el campo Guatemala"/>
                        </p:column>
                    </p:row>
                    <p:row> 
                        <p:column>
                            <p:outputLabel value="Honduras: " style="margin-left: 257px;"/>
                            <p:inputText value="#{tipoCambioContaBean.lempiras}" required="true" requiredMessage="Debe completar el campo Honduras"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:commandButton value="Aceptar" action="#{tipoCambioContaBean.insertTipoCambio()}" update="fromTipoCambioConta" styleClass="ui-priority-primary" style="margin-left: 300px;"/>
                            <p:commandButton value="Cancelar" action="#{tipoCambioContaBean.limpiar()}" update="fromTipoCambioConta"  style="margin: 0 10px 0 10px;"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:dataTable var="tipoC" id="infoz" value="#{tipoCambioContaBean.listTipoCambio}"  
                                         paginator="true" rows="10"
                                         widgetVar="tipoCam" >

                                <p:column  headerText="Fecha">
                                    <h:outputText value="#{tipoC.fechaCambio}"/>
                                </p:column>
                                <p:column headerText="Quetzales">
                                    <h:outputText value="#{tipoC.quetzales}"/>
                                </p:column>
                                <p:column  headerText="Lempiras">
                                    <h:outputText value="#{tipoC.lempiras}"/>
                                </p:column>
                                <p:column  headerText="Dolares">
                                    <h:outputText value="#{tipoC.dolar}"/>
                                </p:column>
                                <p:column  headerText="Mod/Eli">
                                    <h:outputText value="#"/>
                                </p:column>
                            </p:dataTable>
                        </p:column>
                    </p:row>
                </p:panelGrid>





            </p:panel>

        </h:form>

    </ui:define>

</ui:composition>
