<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Validación Contable de Tesorería" style="width: 1060px; margin: 0 auto 0 auto; ">
                        
                        <p:growl id="growl" />
                       
                        
                        <p:dataTable var="valid2" id="valid2" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                ...
                            </f:facet>
                            <f:facet name="footer">
                                ...
                            </f:facet>
                            <p:column headerText="Comprobante">
                                <h:outputText value="#"/>
                            </p:column>
                            <p:column headerText="Fecha">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Descripción">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Remesa">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Cheque">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Cuenta">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Concepto">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Empresa">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Validado" style="text-align: center;">
                                <p:selectBooleanCheckbox value="#" />
                            </p:column>
                            <p:column  headerText="Abono Cont">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Nombre Cont">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="F. Validado">
                                <h:outputText value=""/>
                            </p:column>
                            
                        </p:dataTable>
                        <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>
                        
                    </p:panel>
          <p:dialog header="Catálogo de contable de empresa" widgetVar="catalogo" modal="true" width="600" position="top">
              <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" filteredValue="">
                  <f:facet name="header">
                      Catálogo de Contabilidad
                  </f:facet>
                  <f:facet name="footer">
                      ...
                  </f:facet>
                  <p:column headerText="Nombre de la Cuenta">
                      <h:outputText value="#"/>
                  </p:column>
                  <p:column headerText="Monto">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Tipo Cuenta">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Naturaleza">
                      <h:outputText value=""/>
                  </p:column>

              </p:dataTable>
              <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
          </p:dialog>
      </h:form>
        
    </ui:define>

</ui:composition>
