<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromValidacionContable">
            <p:growl id="growlValidacionContable" showDetail="false" />
                    <p:panel header="Validación Contable" style="width: 1060px; margin: 0 auto 0 auto; ">
                        <p:panelGrid style="margin-left: 80px;">
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Seleccione la Empresa/Proyecto: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{validacionContableBean.unidadesEjecutoras}"  required="true" requiredMessage="Se requiere la empresa" disabled="#{validacionContableBean.estado1}">
                                <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                                <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}"/> 
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{validacionContableBean.anio}" disabled="#{validacionContableBean.estado1}"  required="true" requiredMessage="Se requiere el año" >
                                <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                                <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton style="margin-left: 400px;" value="Consultar" action="#{validacionContableBean.consultarEmpresa()}" 
                                             disabled="#{validacionContableBean.estado1}" update="fromValidacionContable"  />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                        <p:separator/>
                        
                            <h:panelGrid columns="6" cellpadding="3" >
                                <p:outputLabel value="N° Recibo/Factura: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un numero de Recibo/Factura"/>
                                <p:outputLabel value="Fecha: "/>
                                <p:calendar rendered="true" requiredMessage="Debe introducir una fecha"/>
                                <p:outputLabel value="Código Proveedor: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un valor"/>
                                <p:outputLabel value="Nombre Proveedor: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un nombre del proveedor"/>
                                <p:outputLabel value="Monto US$: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un monto en $"/>
                                <p:outputLabel value="Monto: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un monto"/>
                                <p:outputLabel value="Moneda: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere una moneda"/>
                                <p:outputLabel value="Contable: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Contable"/>
                                <p:outputLabel value="Nombre Cuenta: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Nombre Cuenta"/>
                                <p:outputLabel value="Validación Contable:"/>
                                <p:selectBooleanCheckbox  />
                                <p:outputLabel value="Categoría: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Categoría"/>
                                <p:outputLabel value="Unidad Ejecutora: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Unidad Ejecutora"/>
                                <p:outputLabel value="Fuente de recursos: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Fuente de recursos"/>
                                <p:outputLabel value="Pais: "/>
                                <p:inputText rendered="true" requiredMessage="Debe introducir un Pais"/>
                                <p:outputLabel value="Número de Cheque: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo Número de Cheque"/>
                                <p:outputLabel value="Fecha: "/>
                                <p:calendar rendered="true" requiredMessage="Debe introducir una fecha"/>
                                <p:outputLabel value="Fuente Recurso: "/>
                                <p:inputText rendered="true" requiredMessage="Debe completar el campo FuenteRecursos"/>
                                
                                <p:outputLabel value="Numero requerimiento: "/>
                                <p:inputText rendered="true" requiredMessage="Se requiere un numero de requerimiento"/>
                                
                            </h:panelGrid>
                        
                        
                        <p:commandButton value="Finalizar" action="#" styleClass="ui-priority-primary" style="margin:  20px 10px 0 10px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 10px 0 10px;"/>
                        <p:commandButton value="Editar" icon="ui-icon-pencil" action="#" style="margin: 0 10px 0 10px;"/>
                        <p:commandButton icon="ui-icon-arrowstop-1-w" value="Atras" action="#" style="margin: 0 10px 0 10px;"/>
                        <p:commandButton value="Siguiente" icon="ui-icon-arrowstop-1-e" action="#" style="margin: 0 10px 0 10px;"/>
                        <p:commandButton value="Primero" action="#" style="margin: 0 10px 0 10px;"/>
                        <p:commandButton value="Ultimo" action="#" style="margin: 0 10px 0 10px;"/>
                    </p:panel>
          <p:dialog header="Catálogo de contable de empresa" widgetVar="catalogo" modal="true" width="600" position="top">
              <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" filteredValue="">
                  <f:facet name="header">
                      Catálogo de Contabilidad
                  </f:facet>
                  <f:facet name="footer">
                      ...
                  </f:facet>
                  <p:column headerText="Nombre de la Cuenta">
                      <h:outputText value="#"/>
                  </p:column>
                  <p:column headerText="Monto">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Tipo Cuenta">
                      <h:outputText value=""/>
                  </p:column>
                  <p:column  headerText="Naturaleza">
                      <h:outputText value=""/>
                  </p:column>

              </p:dataTable>
              <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
          </p:dialog>
      </h:form>
        
    </ui:define>

</ui:composition>
