<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_contabilidad.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="fromVerCuenta">

            <p:growl id="growlVerCuenta" showDetail="true" />

            <p:panelGrid id="panelBus" style="margin-left: 150px;">
                <p:row>
                    <p:column>
                        <p:outputLabel value="Empresa :" />
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{verCuentaBean.unidadesEjecutoras}" disabled="#{verCuentaBean.estado1}" >
                            <f:selectItem  itemLabel="Seleccione una Empresa..." noSelectionOption="true"/>
                            <f:selectItems value="#{datosGeneralesBean.mapaUnidadEjecutora}" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column>
                        <p:outputLabel value="Año de Ejecución :" />
                    </p:column>
                    <p:column>
                        <p:selectOneMenu value="#{verCuentaBean.anio}" disabled="#{verCuentaBean.estado1}" >
                            <f:selectItem itemLabel="Seleccion el año" noSelectionOption="true" />
                            <f:selectItems value="#{cuentasEmpresaBean.listAnios}"  />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="4">
                        <p:commandButton value="Consultar" disabled="#{verCuentaBean.estado1}" action="#{verCuentaBean.consultarEmpresa()}" style="margin-left: 350px;" 
                                         update="fromVerCuenta"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator />
            <p:dataTable var="cuentas" id="cuentas" value="" widgetVar="" paginator="true" filteredValue="" style="width: 700px; margin: 0 auto 0 auto;">
                <f:facet name="header">
                    Activos
                </f:facet>
                <p:column headerText="Código">
                    <h:outputText value=""/>
                </p:column>
                <p:column headerText="Nombre de la cuenta">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Saldo">
                    <h:outputText value=""/>
                </p:column>

                <p:columnGroup type="footer">
                    <p:row>
                        <p:column colspan="2" style="text-align:right" footerText="Total:" />
                        <p:column footerText="$#" />

                    </p:row>
                </p:columnGroup>
            </p:dataTable>

            <p:dataTable var="ccuentas" id="ccuentas" value="" widgetVar="" paginator="true" filteredValue="" style="width: 700px; margin: 15px auto 0 auto;">
                <f:facet name="header">
                    Pasivos
                </f:facet>
                <p:column headerText="Código">
                    <h:outputText value=""/>
                </p:column>
                <p:column headerText="Nombre de la cuenta">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Saldo">
                    <h:outputText value=""/>
                </p:column>

                <p:columnGroup type="footer">
                    <p:row>
                        <p:column colspan="2" style="text-align:right" footerText="Total:" />
                        <p:column footerText="$#" />

                    </p:row>
                </p:columnGroup>
            </p:dataTable>

            <p:dataTable var="cuentas" id="cccuentas" value="" widgetVar="" paginator="true" filteredValue="" style="width: 700px; margin: 15px auto 0 auto; ">
                <f:facet name="header">
                    Patrimonio
                </f:facet>
                <p:column headerText="Código">
                    <h:outputText value=""/>
                </p:column>
                <p:column headerText="Nombre de la cuenta">
                    <h:outputText value=""/>
                </p:column>
                <p:column  headerText="Saldo">
                    <h:outputText value=""/>
                </p:column>

                <p:columnGroup type="footer">
                    <p:row>
                        <p:column colspan="2" style="text-align:right" footerText="Total:" />
                        <p:column footerText="$#" />

                    </p:row>
                </p:columnGroup>
            </p:dataTable>
        </h:form>

    </ui:define>

</ui:composition>
