<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="requrimientos2">
            <p:growl id="msj" showDetail="false" />
            <p:dataTable var="req" value="#{archivosRequerimientoBean.detalleAllRequerimiento}" widgetVar="detalleTable" filteredValue="#{archivosRequerimientoBean.filtrodetalleRequerimiento}" 
                         paginator="true" rows="10" >
                <f:facet name="header" >
                    <p:outputLabel value="Requerimientos de pagos" />
                    <p:outputPanel>
                        <h:outputText value="Buscar Archivo Requerimiento:" />
                        <p:inputText id="globalFilter" onkeyup="PF('detalleTable').filter()" style="width:550px" placeholder="Ingrese el codigo del requerimiento, o la unidad ejecutora, o el proveedor"/>
                    </p:outputPanel>
                </f:facet>
                <p:column filterBy="#{req.requerimientoPagos.codigoRequerimiento}" headerText="Codigo" >
                    <h:outputText value="#{req.requerimientoPagos.codigoRequerimiento}"/>
                </p:column>
                <p:column filterBy="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}" headerText="Unidad Ejecutora">
                    <h:outputText value="#{req.requerimientoPagos.unidadesEjecutoras.nombreUnidad}"/>
                </p:column>
                <p:column filterBy="#{req.nombreProveedor}" headerText="Proveedor" >
                    <h:outputText value="#{req.nombreProveedor}"/>
                </p:column>
                <p:column headerText="Moneda" >
                    <p:outputLabel value="#{req.requerimientoPagos.moneda}"/>
                </p:column>
                <p:column headerText="Monto" >
                    <p:outputLabel value="#{req.monto}"/>
                </p:column>
                <p:column headerText="Fecha de Presentación " >
                    <p:outputLabel value="#{req.requerimientoPagos.fechaPresentacion}"/>
                </p:column>
                <p:column headerText="Añadir">
                    <p:commandButton value="A" action="#{archivosRequerimientoBean.requerimientoSeleccionado(req)}" onclick="PF('agregarDoc').show();"/>
                </p:column>
                <p:column  headerText="Enviar">
                    <p:commandButton value="E" action="#{archivosRequerimientoBean.enviar(req)}" update=":requrimientos2" />
                </p:column>
            </p:dataTable>
        </h:form>

        <p:dialog header="Agregar Documentos" widgetVar="agregarDoc" modal="true" position="top" resizable="false">
            <h:form id="fromAgregarDoc">
                <p:growl id="growlAgregarDoc" showDetail="false" />
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Tipo de documento: "/>
                    <p:selectOneMenu value="#{archivosRequerimientoBean.tipoDocumento}" required="true" requiredMessage="Se requiere el tipo de documento">
                        <f:selectItem  itemLabel="Seleccione un Documento" noSelectionOption="true"/>
                        <f:selectItem  itemLabel="Requerimiento de compra" itemValue="Requerimiento de compra"/>
                        <f:selectItem itemValue="Invitacion a cotizar" itemLabel="Invitación a cotizar"/>
                        <f:selectItem itemValue="Cotizaciones_Ofertas" itemLabel="Cotizaciones/Ofertas"/>
                        <f:selectItem itemValue="Cuadro comparativo de precios" itemLabel="Cuadro comparativo de precios"/>
                        <f:selectItem itemValue="Acta de adjudicacion" itemLabel="Acta de adjudicación"/>
                        <f:selectItem itemValue="Orden de compra__Contrato" itemLabel="Orden de compra/Contrato" />
                        <f:selectItem itemValue="Acta de recepcion" itemLabel="Acta de recepción" />
                        <f:selectItem itemValue="Adenda" itemLabel="Adenda" />
                        <f:selectItem itemValue="Factura__Recibo" itemLabel="Factura/Recibo" />
                        <f:selectItem itemValue="Informe de Avance" itemLabel="Informe de Avance" />
                        <f:selectItem itemValue="Documento de identificacion" itemLabel="Documento de identificación" />
                        <f:selectItem itemValue="Codigo PRISM" itemLabel="Codigo PRISM" />
                        <f:selectItem itemValue="No objecion" itemLabel="No objeción" />
                    </p:selectOneMenu>                    
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Agregar" action="#{archivosRequerimientoBean.comprobarTipoDoc()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growlAgregarDoc" />
                <p:commandButton value="Cancelar" style="margin: 0 20px 0 20px;"/>


                <p:panel style="width: 500px; margin: 20px auto 0 auto;">
                    <p:dataTable var="cuentas" value="#{archivosRequerimientoBean.listAllReqDocUsuario}" >

                        <p:column  headerText="Nombre del Archivo">
                            <h:outputText value="#{cuentas.urlDocumento}"/>
                        </p:column>

                        <p:column  headerText="Tipo de Archivo">
                            <h:outputText value="#{cuentas.id.tipoDocumento}"/>
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </h:form>
        </p:dialog>   

        <p:dialog style="text-align: center;" id="subirArchivo" widgetVar="subirArchivo" closable="true" resizable="false" modal="true" >
            <h:form id="formusSubir" enctype="multipart/form-data" >
                <p:growl id="growlSubir"  />
                <p:spacer  height="30" />
                <p:outputLabel value="Seleccione el archivos y luego que aparesca presione el botón Subir" />
                <p:fileUpload fileUploadListener="#{archivosRequerimientoBean.subirArchivo}" mode="advanced" label="Seleccionar" dragDropSupport="false"
                              allowTypes="/(\.|\/)(jpe?g|png|pdf)$/" update="growlSubir" cancelLabel="Cancelar" uploadLabel="Subir" />
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
