<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: left;">
                        <h:outputText value=""/>
                    </p:panel>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: right;">
                        <h:outputText value=""/>
                    </p:panel>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: left; margin-top: 15px;">
                        <h:outputText value=""/>
                    </p:panel>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: right; margin-top: 15px;">
                        <h:outputText value=""/>
                    </p:panel>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: left; margin-top: 15px;">
                        <h:outputText value=""/>
                    </p:panel>
                    <p:panel header="Informacion a mostrar" style="width: 500px; float: right; margin-top: 15px;">
                        <h:outputText value=""/>
                    </p:panel>
      </h:form>
    </ui:define>

</ui:composition>
