<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="formCajaChica1">
            <p:growl id="growlRequ1" />
            <h:outputLabel value="Liquidación de caja chica" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
            <p:panel  style="width: 930px; margin: 10px auto 0 auto;">
                <p:panelGrid  style="margin-left: 250px;">
                    <p:row>
                        <p:column style="border: hidden;" >
                            <p:outputLabel value="Unidad de ejecucion: "/>  
                            <h:outputText value="#{cajaChicaBean.nombreUnidadEjecutora}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:spacer height="20" />
                <p:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad Ejecutora: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cajaChicaBean.unidadesEjecutoras}" disabled="#{cajaChicaBean.estado1}"
                                             required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                                <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{cajaChicaBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año de ejecucion:    "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cajaChicaBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" disabled="#{cajaChicaBean.estado1}" >
                                <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                                <f:selectItems value="#{cajaChicaBean.listAnios}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton value="Consultar Presupuesto" action="#{cajaChicaBean.buscarCuentasPre()}" update="growlRequ1" style="margin-left: 330px;" disabled="#{cajaChicaBean.estado1}" />
                            <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" disabled="#{cajaChicaBean.estado1}" ></p:button>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
        <h:form id="formCajaChica2">
            <p:growl id="growlRequ2" />
            <p:panel  style="width: 940px; margin: 10px auto 0 auto;">
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Codigo del requerimiento : "/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cajaChicaBean.codigoRequerimiento}" disabled="#{cajaChicaBean.estado2}" required="true" requiredMessage="Se requiere el codigo del requerimiento" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Moneda : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cajaChicaBean.moneda}" disabled="#{cajaChicaBean.estado2}" >
                                <f:selectItem  itemValue="Dolar" itemLabel="Dolar $"/>
                                <f:selectItem itemValue="Quetzal" itemLabel="Quetzal Q"/>
                                <f:selectItem itemValue="Lempira" itemLabel="Lempira L"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha de Presentacion: "/>
                        </p:column>
                        <p:column>
                            <p:calendar value="#{cajaChicaBean.fechaPresentacion}"  disabled="#{cajaChicaBean.estado2}" required="true" requiredMessage="Se requiere la fecha de presentacion" />
                        </p:column>    
                    </p:row>
                    <p:row>
                        <p:column  >
                            <p:outputLabel value="Nombre del proveedor: "/>
                        </p:column>
                        <p:column >
                            <p:selectOneMenu value="#{cajaChicaBean.codigoProveedor}" required="true" requiredMessage="Se requiere un proveedor" disabled="#{cajaChicaBean.estado2}" >
                                <f:selectItem  itemLabel="Seleccioone un Proveedor..." noSelectionOption="true" />
                                <f:selectItems value="#{cajaChicaBean.mapProveedor}"/>
                            </p:selectOneMenu>      
                        </p:column>   
                    </p:row>
                    <p:row>
                        <p:column  >
                            <p:outputLabel value="Concepto: "/>
                        </p:column>
                        <p:column >
                            <p:inputTextarea rows="6" cols="40"  maxlength="750" scrollHeight="3" value="#{cajaChicaBean.concepto}" disabled="#{cajaChicaBean.estado2}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton value="Agregar" action="#{cajaChicaBean.inserRequerimientoCaja()}" update="growlRequ2" style="margin-left: 370px;" disabled="#{cajaChicaBean.estado2}" />
                            <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" disabled="#{cajaChicaBean.estado2}" ></p:button>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
        <h:form id="formCajaChica3">
            <p:growl id="growlRequ3" />
            <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                <p:panelGrid >
                    <p:row>
                        <p:column >
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Correlativo: "/>
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="#{cajaChicaBean.correlativo}" />
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Fecha del Documento: "/>
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:calendar value="#{cajaChicaBean.fechaDocumento}" disabled="#{cajaChicaBean.estado3}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Tipo de Documento : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:selectOneMenu value="#{cajaChicaBean.claseDocumento}" disabled="#{cajaChicaBean.estado3}" >
                                            <f:selectItem  itemLabel="Seleccione un Documento" noSelectionOption="true"/>
                                            <f:selectItem  itemLabel="Factura" itemValue="Factura"/>
                                            <f:selectItem  itemLabel="Recibo" itemValue="Recibo"/>
                                            <f:selectItem  itemLabel="Aviso de cobro" itemValue="Aviso de cobro"/>
                                        </p:selectOneMenu>

                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Numero del documento : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:inputText value="#{cajaChicaBean.numeroDocumento}" disabled="#{cajaChicaBean.estado3}" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>                         
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Nombre del gasto : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:selectOneMenu value="#{cajaChicaBean.detalleCuenta}" id="detalleCuenta" disabled="#{cajaChicaBean.estado3}" >
                                            <f:selectItem  itemLabel="Seleccione un Gasto..." noSelectionOption="true" />
                                            <f:selectItems value="#{cajaChicaBean.mapDetalleCuenta}" />
                                            <p:ajax process="@this"   update="growlRequ3 numCuenta" />
                                        </p:selectOneMenu>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Codigo del gasto : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="#{cajaChicaBean.detalleCuenta}" id="numCuenta"  />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row> 
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Total : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:inputText value="#{cajaChicaBean.totalPagar}" disabled="#{cajaChicaBean.estado3}"/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Total General : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="#{cajaChicaBean.sumTotal}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>

                </p:panelGrid>

            </p:panel>
            <h:panelGrid columns="1" style="margin: 0 auto 0 auto; text-align: center;">
                <p:outputLabel value="______#{cajaChicaBean.nomUsuario}________" style="text-decoration: underline;size: 45px;font-weight: bold;"/>
                <p:outputLabel value="Asistente Administrativo" style="font-weight: bold;"/>
            </h:panelGrid>
            <p:separator/>
            <p:commandButton value="Agregar" action="#{cajaChicaBean.insertDetalleRequerimientoCaja()}" update="growlRequ3" style="margin: 0 20px 0 20px;" disabled="#{cajaChicaBean.estado3}" />
            <p:commandButton value="Finalizar" action="#{cajaChicaBean.finalizarRequicionCaja()}" update="growlRequ3" style="margin: 0 20px 0 20px;" disabled="#{cajaChicaBean.estado3}" />
            <p:commandButton value="Cancelar" action="#{cajaChicaBean.limpiar()}" style="margin: 0 20px 0 20px;" disabled="#{cajaChicaBean.estado3}" update="growlRequ3"/>
            <p:separator/>
            <p:panel style="width: 950px; margin: 0 auto 0 auto;">
                <p:growl id="docz" showDetail="true" />
                <p:dataTable var="detalle" id="infoz" value="#{cajaChicaBean.listDetalleRequeCajaC}" >

                    <p:column  headerText="Correlativo">
                        <h:outputText value="#{detalle.id.correlativo}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputText value="#{detalle.fechaDocumentoLiquidacion}"/>
                    </p:column>
                    <p:column  headerText="Tipo de Documento">
                        <h:outputText value="#{detalle.tipoDocumento}"/>
                    </p:column>
                    <p:column  headerText="Numero de Documento">
                        <h:outputText value="#{detalle.numeroDocumento}"/>
                    </p:column>
                    <p:column  headerText="Total">
                        <h:outputText value="#{detalle.monto}"/>
                    </p:column>

                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
