<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <h:form id="formRequesicion1">
            <p:growl id="growlRequ1" />
            <h:outputLabel value="Requerimiento de Fondos para  pago de Bienes y Servicios" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
            <p:panel  style="width: 930px; margin: 10px auto 0 auto;">
                <p:panelGrid  style="margin-left: 250px;">
                    <p:row>
                        <p:column style="border: hidden;" >
                            <p:outputLabel value="Unidad de ejecucion: "/>  
                            <h:outputText value="#{requisicionBean.nombreUnidadEjecutora}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:spacer height="20" />
                <p:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad Ejecutora: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{requisicionBean.unidadesEjecutoras}" disabled="#{requisicionBean.estado1}"
                                             required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                                <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{requisicionBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <p:outputLabel value="Año de ejecucion:    "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{requisicionBean.anyoPresupuesto}" required="true" requiredMessage="Se requiere un año de ejecución" disabled="#{requisicionBean.estado1}" >
                                <f:selectItem  itemLabel="Seleccione un año..." noSelectionOption="true"/>
                                <f:selectItems value="#{requisicionBean.listAnios}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton value="Consultar Presupuesto" action="#{requisicionBean.buscarCuentasPre()}" update="growlRequ1" style="margin-left: 330px;" disabled="#{requisicionBean.estado1}" />
                            <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" disabled="#{requisicionBean.estado1}" ></p:button>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
        <h:form id="formRequesicion2">
            <p:growl id="growlRequ2" />
            <p:panel  style="width: 940px; margin: 10px auto 0 auto;">
                <p:panelGrid >
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Codigo del requerimiento : "/>
                        </p:column>
                        <p:column>
                            <p:inputText value="#{requisicionBean.codigoRequerimiento}" disabled="#{requisicionBean.estado2}" required="true" requiredMessage="Se requiere el codigo del requerimiento" />
                        </p:column>
                        <p:column >
                            <p:outputLabel value="Centro de Costo: "/>
                        </p:column>
                        <p:column >
                            <p:selectOneMenu value="#{requisicionBean.codcentroCosto}" required="true" requiredMessage="Se requiere un centro de costo" disabled="#{requisicionBean.estado2}" >
                                <f:selectItem  itemLabel="Seleccione el centro de costo..." noSelectionOption="true" />
                                <f:selectItems value="#{requisicionBean.mapCentroCosto}"/>
                            </p:selectOneMenu>      
                        </p:column>

                    </p:row>

                    <p:row>
                        <p:column>
                            <p:outputLabel value="Moneda : "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{requisicionBean.moneda}" disabled="#{requisicionBean.estado2}" >
                                <f:selectItem  itemValue="Dolar" itemLabel="Dolar $"/>
                                <f:selectItem itemValue="Quetzal" itemLabel="Quetzal Q"/>
                                <f:selectItem itemValue="Lempira" itemLabel="Lempira L"/>
                            </p:selectOneMenu>
                        </p:column>
                        <p:column>
                            <h:panelGrid columns="3" style="margin: 0 auto 0 5px;">
                                <p:outputLabel value="Afectacion presupuestaria :" />
                                <p:selectOneRadio value="#{requisicionBean.tipo2}" disabled="#{requisicionBean.estado2}" required="false" requiredMessage="Seleccione una opcion por favor" >
                                    <f:selectItem  itemLabel="No" itemValue="false" />
                                    <f:selectItem  itemLabel="Si" itemValue="true" />
                                    <p:ajax process="@this" listener="#{requisicionBean.tipoAfectacionSeleccionado()}" update="growlRequ2"/>
                                </p:selectOneRadio>
                            </h:panelGrid>
                        </p:column>
                        <p:column>
                            <h:panelGrid columns="3" style="margin: 0 auto 0 5px;">
                                <p:outputLabel value="SIAFI :" />
                                <p:selectOneRadio value="#{requisicionBean.tipo1}" required="true" disabled="#{requisicionBean.estado2}" requiredMessage="Se requiere saber si es SIAFI o no" >
                                    <f:selectItem itemLabel="No" itemValue="false" />
                                    <f:selectItem itemLabel="Si" itemValue="true" />
                                    <p:ajax process="@this" listener="#{requisicionBean.tipoSiafiSeleccionado()}" update="growlRequ2 siafi"/>
                                </p:selectOneRadio>
                            </h:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha de Presentacion: "/>
                        </p:column>
                        <p:column>
                            <p:calendar value="#{requisicionBean.fechaPresentacion}"  disabled="#{requisicionBean.estado2}" required="true" requiredMessage="Se requiere la fecha de presentacion">
                                <p:ajax event="dateSelect" process="@this" listener="#{requisicionBean.fechaEstimada(requisicionBean.fechaPresentacion)}" update="growlRequ2 fecha2 fecha1"/>
                            </p:calendar>
                        </p:column>  
                        
                        <p:column >
                            <p:outputLabel value="Codigo SIAFI : "/>
                        </p:column>
                        <p:column >
                            <p:inputText id="siafi" value="#{requisicionBean.codigoSiafi}" disabled="#{requisicionBean.estadoSiafiSi}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha estimada de pago:    "/>
                        </p:column>
                        <p:column id="fecha1">
                            <p:calendar id="fecha2" value="#{requisicionBean.fechaEstimadaPago}" disabled="#{requisicionBean.estado2}" required="true" requiredMessage="Se requiere la fecha de estimacion de pago" />
                        </p:column> 
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:commandButton value="Agregar" action="#{requisicionBean.inserRequerimiento()}" update="growlRequ2" style="margin-left: 370px;" disabled="#{requisicionBean.estado2}" />
                            <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" disabled="#{requisicionBean.estado2}" ></p:button>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
        <h:form id="formRequesicion3">
            <p:growl id="growlRequ3" />
            <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                <p:panelGrid >
                    <p:row>
                        <p:column >
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Correlativo: "/>
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="#{requisicionBean.correlativo}" />
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Fecha del Documento: "/>
                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:calendar value="#{requisicionBean.fechaDocumento}" disabled="#{requisicionBean.estado3}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Tipo de Documento : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:selectOneMenu value="#{requisicionBean.claseDocumento}" disabled="#{requisicionBean.estado3}" >
                                            <f:selectItem  itemLabel="Seleccione un Documento" noSelectionOption="true"/>
                                            <f:selectItem  itemLabel="Factura" itemValue="Factura"/>
                                            <f:selectItem  itemLabel="Recibo" itemValue="Recibo"/>
                                            <f:selectItem  itemLabel="Aviso de cobro" itemValue="Aviso de cobro"/>
                                            <!--<p:ajax process="@this" listener="{requisicionBean.documentoSelecionado()}" />-->
                                        </p:selectOneMenu>

                                    </p:column>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Numero del documento : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:inputText value="#{requisicionBean.numeroDocumento}" disabled="#{requisicionBean.estado3}" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Nombre del proveedor: "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:selectOneMenu value="#{requisicionBean.proveedor}" required="true" requiredMessage="Se requiere un proveedor" disabled="#{requisicionBean.estado3}" >
                                            <f:selectItem  itemLabel="Seleccioone un Proveedor..." noSelectionOption="true" />
                                            <f:selectItems value="#{requisicionBean.mapProveedor}"/>
                                        </p:selectOneMenu>      
                                    </p:column>       
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;">
                                        <p:outputLabel value="Nombre del gasto : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:selectOneMenu value="#{requisicionBean.detalleCuenta}" id="detalleCuenta" disabled="#{requisicionBean.estado3}" >
                                            <f:selectItem  itemLabel="Seleccione un Gasto..." noSelectionOption="true" />
                                            <f:selectItems value="#{requisicionBean.mapDetalleCuenta}" />
                                            <p:ajax process="@this"   update="growlRequ3 numCuenta" />
                                        </p:selectOneMenu>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>

                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Codigo del gasto : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="#{requisicionBean.detalleCuenta}" id="numCuenta"  />
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Total General : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="#{requisicionBean.sumTotal}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>


                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Total : "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:inputText value="#{requisicionBean.totalPagar}" disabled="#{requisicionBean.estado3}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>

                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column style="border: hidden;" >
                                        <p:outputLabel value="Concepto: "/>
                                    </p:column>
                                    <p:column style="border: hidden;" >
                                        <p:inputTextarea rows="6" cols="40"  maxlength="750" scrollHeight="3" value="#{requisicionBean.concepto}" disabled="#{requisicionBean.estado3}"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>




                </p:panelGrid>

            </p:panel>
            <h:panelGrid columns="1" style="margin: 0 auto 0 auto; text-align: center;">
                <p:outputLabel value="______#{requisicionBean.nomUsuario}________" style="text-decoration: underline;size: 45px;font-weight: bold;"/>

                <p:outputLabel value="Asistente Administrativo" style="font-weight: bold;"/>
            </h:panelGrid>
            <p:separator/>
            <p:commandButton value="Agregar" action="#{requisicionBean.insertDetalleRequerimiento()}" update="growlRequ3" style="margin: 0 20px 0 20px;" disabled="#{requisicionBean.estado3}" />
            <p:commandButton value="Finalizar" action="#{requisicionBean.finalizarRequicion()}" update="growlRequ3" style="margin: 0 20px 0 20px;" disabled="#{requisicionBean.estado3}" process="@this" />
            <p:commandButton value="Cancelar" action="#{requisicionBean.limpiar()}" style="margin: 0 20px 0 20px;" disabled="#{requisicionBean.estado3}" update="growlRequ3"/>
            <p:separator/>
            <p:panel style="width: 950px; margin: 0 auto 0 auto;">
                <p:growl id="docz" showDetail="true" />
                <p:dataTable var="detalle" id="infoz" value="#{requisicionBean.listDetalleReque}" widgetVar="" filteredValue="">

                    <p:column  headerText="Correlativo">
                        <h:outputText value="#{detalle.id.correlativo}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputText value="#{detalle.fechaDocumento}"/>
                    </p:column>
                    <p:column  headerText="Tipo de Documento">
                        <h:outputText value="#{detalle.claseDocumento}"/>
                    </p:column>
                    <p:column  headerText="Numero de Documento">
                        <h:outputText value="#{detalle.numeroDocumento}"/>
                    </p:column>
                    <p:column  headerText="Total">
                        <h:outputText value="#{detalle.monto}"/>
                    </p:column>

                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
