<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromSeguimiento">
            <p:panel header="Seguimiento de Pago" style="width: 1000px; margin: 0 auto 0 auto; ">
                <h:panelGrid columns="3" cellpadding="5" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Requerimiento: "/>
                    <p:selectOneMenu value="#{seguimientoPagoBean.reqSelec}" >
                        <f:selectItem  itemLabel="Seleccione un requerimiento..." noSelectionOption="true" />
                        <f:selectItems value="#{seguimientoPagoBean.listReqUsuario}" var="req" itemLabel="#{req.codigoRequerimiento}" itemValue="#{req.incrReqPk}" />
                        <p:ajax listener="#{seguimientoPagoBean.requerimientoSeleccionado()}" update="panelEstado"/>
                    </p:selectOneMenu>

                </h:panelGrid>

                <p:separator/>

                <p:panel header="El estado actual de la solicitud es:" style="width: 950px; margin: 0 auto 0 auto; ">
                    <h:panelGrid columns="8" cellpadding="5" style="margin: 0 auto 0 auto;" id="panelEstado">

                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/01.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad1}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/02.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad2}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/03.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad3}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/04.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad4}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/05.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad5}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/06.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad6}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/07.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad7}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/08.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidad8}"/>

                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux1}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux2}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux3}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux4}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux5}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux6}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux7}"/>
                        <p:graphicImage value="#{FacesContext.getCurrentInstance().getExternalContext()}/recursos/imagenes/img/09.png" height="100px" style="opacity: #{seguimientoPagoBean.opacidadAux8}"/>

                        <p:outputLabel value="Digitado y a la espera de firmas de visto" style="opacity: #{seguimientoPagoBean.opacidadAux1}"/>
                        <p:outputLabel value="En firmas de visto bueno" style="opacity: #{seguimientoPagoBean.opacidadAux2}"/>
      
                        <p:outputLabel value="La solicitud presenta errores" style="opacity: #{seguimientoPagoBean.opacidadAux3}"/>
                        <p:outputLabel value="En validaciones de presupuesto" style="opacity: #{seguimientoPagoBean.opacidadAux4}"/>
                        <p:outputLabel value="En validacion de contabilidad" style="opacity: #{seguimientoPagoBean.opacidadAux5}"/>
                        <p:outputLabel value="En validacion de tesoreria" style="opacity: #{seguimientoPagoBean.opacidadAux6}"/>
                        <p:outputLabel value="Cheque a espera de firmas" style="opacity: #{seguimientoPagoBean.opacidadAux7}"/>
                        <p:outputLabel value="Entregado" style="opacity: #{seguimientoPagoBean.opacidadAux8}"/>

                    </h:panelGrid>
                    
                </p:panel>

            </p:panel>

        </h:form>

    </ui:define>

</ui:composition>
