<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromTipoCambio">
            <p:growl id="growl" life="2000" />
            <p:panel header="Ingreso de tipo de cambio" style="width: 430px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Fecha:    "/>
                    <p:calendar value="#{tipoCambioBean.fechaCambio}" required="true" requiredMessage="se requiere una fecha de Cambio" ></p:calendar>
                    <p:outputLabel value="Cambio del Quetzal:   "/>
                    <p:inputText value="#{tipoCambioBean.quetzales}" required="true" requiredMessage="se requiere el cambio del Quetzal"/>
                    <p:outputLabel value="Cambio del Lempira:    "/>
                    <p:inputText value="#{tipoCambioBean.lempiras}" required="true" requiredMessage="se requiere el cambio del Lempira"/>
                    <p:outputLabel value="Dolar:    "/>
                    <p:inputText value="#{tipoCambioBean.dolar}" required="true" requiredMessage="se requiere el cambio del dolar"/>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Aceptar" action="#{tipoCambioBean.insertTipoCambio()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="growl"/>
                <p:commandButton value="Cancelar" action="#{tipoCambioBean.limpiar()}"/>
                <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" ></p:button>
            </p:panel>

        </h:form>
        <h:form id="form">
            <p:growl id="docz" showDetail="true" />
            <p:panel style="width: 650px; margin: 0 auto 0 auto;">
                <p:dataTable var="tipoC" id="infoz" value="#{tipoCambioBean.listTipoCambio}"
                             paginator="true" rows="15"
                             widgetVar="tipoCam" editable="true" >
                    <p:ajax event="rowEdit" listener="#{tipoCambioBean.actualizarTipoCambio}" update=":form:docz"/>
                    <p:ajax event="rowEditCancel" listener="#{tipoCambioBean.cancelarActualizarTipoCambio}" update=":form:docz" />
                    <p:column  headerText="Fecha" sortBy="#{tipoC.fechaCambio}">
                        <h:outputText value="#{tipoC.fechaCambio}"/>
                    </p:column>
                    <p:column headerText="Quetzales">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{tipoC.quetzales}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{tipoC.quetzales}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  headerText="Lempiras">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{tipoC.lempiras}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{tipoC.lempiras}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column  headerText="Dolares">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{tipoC.dolar}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{tipoC.dolar}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
