<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formValeCaja">
            <p:growl id="growlVale" showDetail="false" />
            <p:panel header="COMISION TRINACIONAL DEL PLAN TRIFINIO">
                <p:outputLabel value="EL SALVADOR - GUATEMALA - HONDURAS" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
                <p:separator />
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="4">
                            <p:outputLabel value="VALE DE CAJA" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;margin-left: 380px;"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:panelGrid style="float: right;">
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="No." />
                                    </p:column>
                                    <p:column >
                                        <p:inputText value="#{valeCajaBean.valeCaja.numero}" required="true" requiredMessage="Se requiere el numero"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fecha :"/>
                        </p:column>
                        <p:column colspan="3">
                            <p:calendar value="#{valeCajaBean.valeCaja.fecha}" mask="99/99/9999" pattern="dd/MM/yyyy" size="8" required="true" requiredMessage="Se requiere la fecha"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Cuenta Presupuestaria :" />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{valeCajaBean.valeCaja.manualClasificatorio.idCuenta}" required="true" requiredMessage="Se requiere la cuenta presupuestaria" style="width: 650px;word-wrap: normal;" panelStyle="width: 650px;word-wrap: normal;">
                                <f:selectItem itemLabel="Seleccion..." noSelectionOption="true"  />
                                <f:selectItems value="#{valeCajaBean.listManualAll}" var="mc" itemLabel="#{mc.nombreCuenta}" itemValue="#{mc.idCuenta}" />
                                <p:ajax  update="cod" />
                            </p:selectOneMenu>
                        </p:column>
                        
                        <p:column>
                            <p:outputLabel value="Cod. Clasificatorio : #{valeCajaBean.valeCaja.manualClasificatorio.idCuenta}" id="cod"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Por :  $ " />               
                        </p:column>
                        <p:column>
                            <p:inputText  value="#{valeCajaBean.valeCaja.cantidadNum}" size="20" required="true" requiredMessage="Se requiere el valor de la cantidad">
                                <p:ajax process="@this" listener="#{valeCajaBean.conversion(valeCajaBean.valeCaja)}" update="growlVale ltr"></p:ajax>
                            </p:inputText>
                            
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="La Cantidad de :" />
                        </p:column>
                        <p:column>
                            <p:inputText id="ltr"  value="#{valeCajaBean.valeCaja.cantidadText}" size="75" maxlength="50" required="true" requiredMessage="Se requiere el valor de la cantidad en letras"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="A la orden de :" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputText size="100" maxlength="50" value="#{valeCajaBean.valeCaja.ordenDe}" required="true" requiredMessage="Se requiere a la orden de" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="En concepto de :" />
                        </p:column>
                        <p:column colspan="3">
                            <p:inputTextarea style="width: 600px;" maxlength="100" value="#{valeCajaBean.valeCaja.concepto}" required="true" requiredMessage="Se requiere en concepto de"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="4">
                            <p:panelGrid style="margin-left: 310px;">
                                <p:row>
                                    <p:column> 
                                        <p:commandButton value="Guardar e Imprimir" action="#{valeCajaBean.insetVale()}" update="formValeCaja" ajax="false" onclick="this.form.target='_blank';" />
                                    </p:column>
                                    <p:column>
                                        <p:commandButton value="Cancelar" action="#{valeCajaBean.limpiar()}" update="formValeCaja" process="@this" />
                                    </p:column>
                                    <p:column>
                                        <p:button value="Salir" outcome="plantilla_asistenteAdministrativo" style="margin: 0 20px 0 20px;" ></p:button>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
