<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_asistenteAdministrativo.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
          
          <h:outputLabel value="Requerimiento de Fondos para en pago de Bienes y Servicios" style="font-size: 20px; color: #1a1a1a; text-transform: uppercase; text-shadow: 4px 4px 4px #7C96B7; margin-top: 5px;"/>
          <p:panel  style="width: 950px; margin: 10px auto 0 auto;">
                        <p:outputLabel value="Unidad de ejecución: "/>  
                        <h:outputText value="#Cargado desde la base"/>
                        <h:panelGrid columns="4" cellpadding="5">
                            <p:outputLabel value="Fecha de Presentacion: "/>
                            <p:inputText value="#Cargado desde la base" readonly="true"/>
                            <p:outputLabel value="Fuente de financiamiento:"/>
                            <p:inputText value="#Cargado desde la base" readonly="true"/>
                            <p:outputLabel value="Fecha estimada de pago:    "/>
                            <p:inputText value="#Cargado desde la base" readonly="true"/>
                            <p:outputLabel value="Codigo del requerimiento: "/>
                            <p:inputText value="#Cargado desde la base" readonly="true"/>
                            
                           
                            
                        </h:panelGrid>
                        
                            <p:panel  style="width: 900px; margin: 10px auto 0 auto;">
                                <h:panelGrid columns="4" cellpadding="5">
                                    <p:outputLabel value="Fecha del Documento: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Tipo de Documento: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Numero del documento: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Nombre del proveedor: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Concepto: "/>
                                <p:inputTextarea rows="6" cols="40" value="#Cargado de la base"  maxlength="750" scrollHeight="3" readonly="true"/>
                                <p:outputLabel value="Nombre del gasto: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Codigo del gasto: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Total: "/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                                <p:outputLabel value="Moneda"/>
                                <p:inputText value="#Cargado desde la base" readonly="true"/>
                               </h:panelGrid>
                                <p:commandButton value="Ver Documentos Anexos" style="margin-top: 15px;" onclick="PF('verDoc').show();0"/>
                                <p:commandButton value="Ver Detalle del Requerimeinto" style="margin-top: 15px;" onclick="PF('verDet').show();"/>
                            </p:panel>
                        <h:panelGrid columns="2" style="margin: 0 auto 0 auto; text-align: center;">
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                            <p:outputLabel value="Nombre Aqui!!!!"/>
                        <p:outputLabel value="____________________________________"/>
                        <p:outputLabel value="____________________________________"/>
                        <p:outputLabel value="Nombre del Asistente Administrativo"/>
                        <p:outputLabel value="Nombre del Usuario Actual"/>
                        <p:outputLabel value="Asistente Adinistrativo" style="font-weight: bold;"/>
                        <p:outputLabel value="Cargo" style="font-weight: bold;"/>
                        </h:panelGrid>
                         
                        
                    </p:panel>
          
      </h:form>
        <h:form>
            <p:panel style="width: 550px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" style="margin: 0 auto 0 auto;">
                   
                    <p:selectManyCheckbox>
                        <f:selectItem itemLabel="Validado" itemValue="1" />
                    </p:selectManyCheckbox>
                    <p:outputLabel value=""/>
                   <p:outputLabel value="Observaciones:"/>
                   <p:inputTextarea rows="6" cols="40" maxlength="750" scrollHeight="3"/>
                </h:panelGrid>
                   <p:separator/>
                        <p:commandButton value="Aceptar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                
            </p:panel>
        </h:form>
        <h:form>
            <p:dialog header="Ver Documentos Anexos" widgetVar="verDoc" modal="true" position="top">
              
            <p:panel style="width: 500px; margin: 20px auto 0 auto;">
            <p:dataTable var="cuentas" id="archivos" value="" widgetVar="" filteredValue="">
                
                <p:column  headerText="Nombre del Archivo">
                    <h:outputText value="#"/>
                </p:column>
                
                 <p:column  headerText="Tipo de Archivo">
                    <h:outputText value="#"/>
                </p:column>
                
            </p:dataTable>
            </p:panel>
                             
            </p:dialog>   
            
            <p:dialog header="Ver Detalle el Requerimiento" widgetVar="verDet" modal="true" position="top">
              
            <p:panel style="width: 500px; margin: 20px auto 0 auto;">
            <p:dataTable var="detall" id="detalle" value="" widgetVar="" filteredValue="">
                
                <p:column  headerText="Correlativo">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Tipo de Documento">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Total">
                    <h:outputText value="#"/>
                </p:column>
                
            </p:dataTable>
            </p:panel>
                             
            </p:dialog>  
        </h:form>
    </ui:define>

</ui:composition>
