<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="principalUsuario" enctype="multipart/form-data">
            <p:growl id="growl" showDetail="true" sticky="false" />
            <p:panel header="ADMINISTRACION DE  USUARIOS" style="width: auto; margin: 0 auto 0 auto;" id="panelPrincipal">
                <p:dataTable var="usuario" value="#{usuarioBean.listUsuarioAll}" widgetVar="usuariosTable"
                             rows="5"
                             paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15"
                             filteredValue="#{usuarioBean.filterListUsuarioAll}"
                             id="tablaUsuarios"
                             emptyMessage="No hay ningun usuario con esos criterios">
                    <f:facet name="footer">
                        <p:commandButton id="toggler" type="button" value="Nuevo Usuario" onclick="PF('agregarUsu').show();" icon="ui-icon-disk" />
                    </f:facet>
                    <f:facet name="header">
                        <p:outputPanel style="text-align: right;">
                            <h:outputText value="Buscar: "/>
                            <p:inputText id="filtro" onkeyup="PF('usuariosTable').filter()" placeholder="Introduzca una palabra"/>
                        </p:outputPanel>
                    </f:facet>
                    <p:column filterBy="#{usuario.nombre}" sortBy="#{usuario.nombre}" headerText="Nombre" filterMatchMode="contains"  >
                        <h:outputText value="#{usuario.nombre}"/>
                    </p:column>
                    <p:column filterBy="#{usuario.apellido}" sortBy="#{usuario.apellido}" headerText="Apellido" filterMatchMode="contains"  >
                        <h:outputText value="#{usuario.apellido}"/>
                    </p:column>
                    <p:column filterBy="#{usuario.email}" sortBy="#{usuario.email}" headerText="Email" filterMatchMode="contains">
                        <h:outputText value="#{usuario.email}"/>
                    </p:column>
                    <p:column filterBy="#{usuario.usuario}" sortBy="#{usuario.usuario}" headerText="Usuario" filterMatchMode="contains">
                        <h:outputText value="#{usuario.usuario}"/>
                    </p:column>
                    <p:column  headerText="Estado" width="45" >
                        <h:outputText value="#{usuario.estado}"/>
                    </p:column>
                    <p:column filterBy="#{usuario.nombreRol}" headerText="Rol" sortBy="#{usuario.nombreRol}" filterMatchMode="exact">
                        <f:facet name="filter">
                            <p:selectOneMenu onchange="PF('usuariosTable').filter()" style="width: 130px; margin: 0 auto 0 auto;">
                                <f:selectItem itemLabel="Seleccione un elemento.."  itemValue="#{null}" noSelectionOption="true" />
                                <f:selectItems value="#{usuarioBean.mapaRolNombre}" />
                            </p:selectOneMenu>
                        </f:facet>
                        <h:outputText value="#{usuario.nombreRol}"/>
                    </p:column>
                    <p:column style="text-align: center;">
                        <p:commandButton icon="ui-icon-wrench" onclick="PF('editarUsu').show();" action="#{usuarioBean.consultarUsuario(usuario.usuario)}" />

                        <p:growl id="message" showDetail="true" />
                        <p:commandButton icon="ui-icon-trash" actionListener="#{usuarioBean.deleteUsuario(usuario.usuario)}" update="message">
                            <p:confirm header="Confirmacion" message="¿Esta seguro de eliminar el usuario?" icon="ui-icon-alert" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>

                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
        
        

        <p:dialog header="Agregar Usuario" widgetVar="agregarUsu" modal="true" resizable="false" closable="false" >
            <h:form id="formularioUsuarioInsert" enctype="multipart/form-data" >
                <p:growl id="growl" showDetail="true" sticky="false" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Nombre de Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.nombre}" required="true" maxlength="50" requiredMessage="Se requiere un nombre" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Apellido de Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.apellido}" required="true" maxlength="50" requiredMessage="Se requiere un apellido" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Email:    "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText id="email" type="email" value="#{usuarioBean.email}" maxlength="50" class="inputtxt" required="true" requiredMessage="Se requiere el correo" >
                                            <!--<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />-->
                                        </p:inputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Telefono : "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputMask value="#{usuarioBean.telefono}" mask="9999-9999" maxlength="15" size="8" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.usuario}" required="true" maxlength="20" requiredMessage="Se requiere un usuario"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                        <p:column>
                            <p:panelGrid style="margin-left: 70px;">
                                <p:row>
                                    <p:column>
                                        <p:graphicImage value="#{documentoBean.documento}" width="200" height="200" cache="false" id="fotoImg" >
                                            <f:param name="agencyId" value="#{usuarioBean.urlFoto}" />
                                        </p:graphicImage>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:commandButton value="Agregar Foto"  style="margin-left: 25px;" onclick="PF('subirArchivo').show();" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Contraseña: "/>
                        </p:column>
                        <p:column>
                            <p:password value="#{usuarioBean.clave}" required="true" maxlength="100" requiredMessage="Se requiere una clave" feedback="true"  
                                        promptLabel="Digite Su Contraseña" weakLabel="Muy Corta" goodLabel="Buena" strongLabel="Excelente" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Rol: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu  value="#{usuarioBean.rol}" required="true" requiredMessage="Se requiere un rol">
                                <f:selectItem  itemLabel="Seleccione un rol..." noSelectionOption="true" />
                                <f:selectItems value="#{usuarioBean.mapaRol}" />                                       
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad Ejecutora: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.idUnidadEjecutora}" required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                                <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{usuarioBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Ciudad: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.ciudad}" required="true" requiredMessage="Se requiere un Ciudad" >
                                <f:selectItem  itemLabel="Seleccione un ciudad..." noSelectionOption="true"/>
                                <f:selectItems value="#{usuarioBean.mapaCiudad}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <p:commandButton value="Guardar" action="#{usuarioBean.insertUsuario()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growl"/>
                <p:commandButton value="Cancelar" action="#{usuarioBean.cerrarDialogo()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" process="@this" />
            </h:form>
        </p:dialog>
        
        <p:dialog header="Editar Usuario" widgetVar="editarUsu" modal="true" resizable="false"  closable="false" >
            <h:form id="formularioUsuarioUpdate" enctype="multipart/form-data" >
                <p:growl id="growl" showDetail="true" sticky="false" />
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:panelGrid>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Nombre de Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.nombre}" required="true" maxlength="50" requiredMessage="Se requiere un nombre" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Apellido de Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.apellido}" required="true" maxlength="50" requiredMessage="Se requiere un apellido" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Email:    "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText id="email" type="email" value="#{usuarioBean.email}" maxlength="50" class="inputtxt" required="true" requiredMessage="Se requiere el correo" >
                                            <!--<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />-->
                                        </p:inputText>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Telefono : "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputMask value="#{usuarioBean.telefono}" mask="9999-9999" maxlength="15" size="8" />
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:outputLabel value="Usuario: "/>
                                    </p:column>
                                    <p:column>
                                        <p:inputText value="#{usuarioBean.usuario}" required="true" maxlength="20" requiredMessage="Se requiere un usuario"/>
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                        </p:column>
                        <p:column>
                            <p:panelGrid style="margin-left: 70px;">
                                <p:row>
                                    <p:column>
                                        <p:graphicImage value="#{documentoBean.documento}" width="200" height="200" cache="false" id="fotoImg2" >
                                            <f:param name="agencyId" value="#{usuarioBean.urlFoto}" />
                                        </p:graphicImage>
                                    </p:column>
                                </p:row>
                                <p:row>
                                    <p:column>
                                        <p:commandButton value="Modificar Foto"  style="margin-left: 25px;" onclick="PF('modificarArchivo').show();" />
                                    </p:column>
                                </p:row>
                            </p:panelGrid>
                            
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Contraseña: "/>
                        </p:column>
                        <p:column>
                            <p:password value="#{usuarioBean.clave}" required="true" maxlength="100" requiredMessage="Se requiere una clave" feedback="true"  
                                        promptLabel="Digite Su Contraseña" weakLabel="Muy Corta" goodLabel="Buena" strongLabel="Excelente" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Rol: "/>
                        </p:column>
                        <p:column>
                            <p:selectOneMenu  value="#{usuarioBean.rol}" required="true" requiredMessage="Se requiere un rol">
                                <f:selectItem  itemLabel="Seleccione un rol..." noSelectionOption="true" />
                                <f:selectItems value="#{usuarioBean.mapaRol}" />                                       
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Unidad Ejecutora: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.idUnidadEjecutora}" required="true" requiredMessage="Se requiere un Unidad Ejecutora" >
                                <f:selectItem  itemLabel="Seleccione un Unidad Ejecutora..." noSelectionOption="true"/>
                                <f:selectItems value="#{usuarioBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Ciudad: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{usuarioBean.ciudad}" required="true" requiredMessage="Se requiere un Ciudad" >
                                <f:selectItem  itemLabel="Seleccione un ciudad..." noSelectionOption="true"/>
                                <f:selectItems value="#{usuarioBean.mapaCiudad}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:separator/>
                <p:commandButton value="Modificar" action="#{usuarioBean.updateUsuario()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" update="growl"/> 
                <p:commandButton value="Cancelar" action="#{usuarioBean.cerrarDialogo2()}" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;" process="@this" />
            </h:form>
        </p:dialog>
       
        <p:dialog style="text-align: center;" id="subirArchivo" widgetVar="subirArchivo" closable="true" resizable="false" modal="true" >
            <h:form id="formusSubir" enctype="multipart/form-data" >
                <p:growl id="growlSubir"  />
                <p:spacer  height="30" />
                <p:outputLabel value="Seleccione el archivos y luego que aparesca presione el botón Subir" />

                <p:fileUpload fileUploadListener="#{usuarioBean.subirFoto}" mode="advanced"  label="Seleccionar" dragDropSupport="false" 
                              allowTypes="/(\.|\/)(jpe?g|png)$/" update="growlSubir" cancelLabel="Cancelar" uploadLabel="Subir"   />
            </h:form>
        </p:dialog>
        
        <p:dialog style="text-align: center;" id="modificarArchivo" widgetVar="modificarArchivo" closable="true" resizable="false" modal="true" >
            <h:form id="formusSubirM" enctype="multipart/form-data" >
                <p:growl id="growlSubirM"  />
                <p:spacer  height="30" />
                <p:outputLabel value="Seleccione el archivos y luego que aparesca presione el botón Subir" />

                <p:fileUpload fileUploadListener="#{usuarioBean.modificarFoto}" mode="advanced"  label="Seleccionar" dragDropSupport="false" 
                              allowTypes="/(\.|\/)(jpe?g|png)$/" update="growlSubirM" cancelLabel="Cancelar" uploadLabel="Subir"   />
            </h:form>
        </p:dialog>
       


    </ui:define>
</ui:composition>
