<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    
      </h:form>
        <h:form>
            <p:panel style="width: 1000px; margin: 0 auto 0 auto;">
            <p:growl id="msgs" showDetail="true" />
            <p:dataTable var="contratos" id="cuentas" value="" widgetVar="" filteredValue="">
                <f:facet name="header">
                    Contratos
                </f:facet>
                <p:column filterBy="" sortBy="" headerText="Codigo">
                    <h:outputText value=""/>
                </p:column>
                <p:column filterBy="" sortBy="" headerText="Clausula">
                    <h:outputText value=""/>
                </p:column>
                <p:column style="text-align: center;">
                    <p:commandButton value="Editar Clausula" type="button" onclick="PF('Clausulas').show();"/>
                </p:column>
                <f:facet name="footer">
                   <p:commandButton value="Agregar Clausula" type="button" onclick="PF('AgregarClausula').show();"/>
                </f:facet>
            </p:dataTable>
            </p:panel>
        </h:form>
        <h:form>
            <p:dialog header="Agregar Subcuentas" widgetVar="Clausulas" modal="true" height="400px" position="top">
                <h:form>           
                  <p:editor id="editor" widgetVar="editorWidget" value="#" width="600" />
                  <h:panelGrid columns="2" style="margin-top: 10px">
                      <p:commandButton value="Guardar"  icon="ui-icon-disk" />
                      <p:commandButton value="Limpiar" type="button" onclick="PF('Clausulas').clear();" icon="ui-icon-close" />
                  </h:panelGrid>
                </h:form> 
            </p:dialog>   
        </h:form>
        <h:form>
            <p:dialog header="Agregar Clausula" widgetVar="AgregarClausula" modal="true" height="400px" position="top">
                <h:form>           
                  <p:editor id="editor" widgetVar="editorWidget" value="#" width="600" />
                  <h:panelGrid columns="2" style="margin-top: 10px">
                      <p:commandButton value="Agregar"  icon="ui-icon-disk" />
                      <p:commandButton value="Limpiar" type="button" onclick="PF('AgregarClausula').clear();" icon="ui-icon-close" />
                  </h:panelGrid>
                </h:form> 
            </p:dialog>   
        </h:form>
    </ui:define>

</ui:composition>
