<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Crear Nuevo Usuario" style="width: 500px; margin: 0 auto 0 auto;">
                        <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Nombre de Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Apellido de Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Email:    "/>
                            <p:inputText/>
                            <p:outputLabel value="Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Contraseña: "/>
                            <p:inputText/>
                            <p:outputLabel value="Rol: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un rol..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Pais: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un pais..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Ciudad: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una ciudad..."/>
                            </p:selectOneMenu>
                           
                        </h:panelGrid>
                         <p:separator/>
                        <p:commandButton value="Agregar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
