<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
          <p:panel header="Modificar Usuario" style="width: auto; margin: 0 auto 0 auto;">
                        <p:dataTable var="usuario" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                <p:outputPanel style="text-align: right;">
                                    <h:outputText value="Buscar: "/>
                                    <p:inputText id="filtro" onkeyup="" placeholder="Introduzca una palabra"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column filterBy="" sortBy="" headerText="Nombre" >
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Apellido">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Email">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Usuario">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Rol">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="Estado" style="text-align: center;">
                                <p:selectBooleanCheckbox value="#" />
                            </p:column>
                            <p:column style="text-align: center;">
                                <p:commandButton type="button" value="Editar" onclick="PF('editarUsu').show();"/>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
      </h:form>
        <h:form>
            <p:dialog header="Editar Usuario" widgetVar="editarUsu" modal="true">
               <h:panelGrid columns="2" cellpadding="5">
                            <p:outputLabel value="Nombre de Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Apellido de Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Email:    "/>
                            <p:inputText/>
                            <p:outputLabel value="Usuario: "/>
                            <p:inputText/>
                            <p:outputLabel value="Contraseña: "/>
                            <p:inputText/>
                            <p:outputLabel value="Rol: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un rol..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Pais: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un pais..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Ciudad: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una ciudad..."/>
                            </p:selectOneMenu>
                           
                        </h:panelGrid>
                         <p:separator/>
                        <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
            </p:dialog>   
        </h:form>
    </ui:define>

</ui:composition>
