<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
          
          <p:panel header="Eliminar Usuario" style="width: auto; margin: 0 auto 0 auto;">
                        <p:dataTable var="usuario" value="" widgetVar="" filteredValue="">
                            <f:facet name="header">
                                <p:outputPanel style="text-align: right;">
                                    <h:outputText value="Buscar: "/>
                                    <p:inputText id="filtro" onkeyup="" placeholder="Introduzca una palabra"/>
                                </p:outputPanel>
                            </f:facet>
                            <p:column filterBy="" sortBy="" headerText="Nombre" >
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Apellido">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Email">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Usuario">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column filterBy="" sortBy="" headerText="Rol">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column style="text-align: center;">
                                <p:growl id="message" showDetail="true" />
                                <p:commandButton value="Eliminar" actionListener="#" update="message">
                                  <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
                                </p:commandButton>
 
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                  <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                  <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                            </p:column>
                        </p:dataTable>
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
