<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_administrador.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Crear Nueva Requisicion" style="width: 820px; margin: 0 auto 0 auto;">
                        <h:panelGrid columns="4" cellpadding="5">
                            <p:outputLabel value="N° De Proceso: "/>
                            <p:inputText/>
                            <p:outputLabel value="Oficina: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una oficina..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Nombre del Programa: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un programa..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Nombre del Preceso: "/>
                            <p:inputTextarea rows="6" cols="45"  maxlength="750" scrollHeight="3" style="width: 300px;"/>
                            <p:outputLabel value="Identificación del gasto en PAA: "/>
                            <p:inputText/>
                            <p:outputLabel value="Disponibilidad Presupuestaria:    "/>
                            <p:inputText/>
                            <p:outputLabel value="Unidad Solicitante: "/>
                            <p:inputText/>
                            <p:outputLabel value="Nombre del Solicitante: "/>
                            <p:inputText/>
                            <p:outputLabel value="Fecha: "/>
                            <p:calendar id="calendario"  />
                            <p:outputLabel value="N° Requisición: "/>
                            <p:inputText/>
                            <p:outputLabel value="Fecha de elaboración: "/>
                            <p:calendar id="calendar"  />
                            <p:outputLabel value="Presupuesto estimado: $"/>
                            <p:inputText/>
                            <p:outputLabel value="Componente: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un componente..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Actividad: "/>
                            <p:inputText/>
                            <p:outputLabel value="Método de selección: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un método..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Firma: "/>
                            <p:inputText/>
                        </h:panelGrid>
                         <p:separator/>
                        <p:commandButton value="Agregar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
