<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Pagina No Existe</title>
    </h:head>
    <h:body style="position: absolute;left: 37%;" >
        <img src="/sigefi/recursos/imagenes/logo.png" width="300" height="200"  />
        <br></br>
        <img src="/sigefi/recursos/imagenes/otras/error404.jpg"  />
    </h:body>
</html>

