body
{
background: #abbd73; /* Old browsers */
background: -moz-linear-gradient(top,  #abbd73 0%, #e4efc0 73%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abbd73), color-stop(73%,#e4efc0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #abbd73 0%,#e4efc0 73%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #abbd73 0%,#e4efc0 73%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #abbd73 0%,#e4efc0 73%,#ffffff 100%); /* IE10+ */
background: -ms-linear-gradient(to bottom,  #abbd73 0%,#e4efc0 73%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abbd73', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

background-repeat: no-repeat;
    font-family: sans-serif;
}
  
.header1
{
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.wrap {
	width: 1100px;
	margin: 0.2em auto;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 4px 4px white inset, 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.seccion
{
    margin-top: 1px;
    text-align: center;
    width: 100%;
}  
.seccionabajo
{
    margin-top: 3px;
    text-align: center;
    width: 100%;
}
.banner
{
    background-color: #ededed;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 4px 4px white inset, 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 150px;
    width: 1100px;
    animation: entrada 1s;
    background-image: url("/sigefi/recursos/imagenes/banner.png");
}

.logo{
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 60px;
    float: left;
}
.titulo{
    display: block;
    width: 250px;
    height: 80px;
    margin-top: 28px;
    float: right;
    padding: 10px;
    padding-right: 30px;
    padding-right: 10px;
    text-align: center;
    margin-right: 50px;
    background-color: rgba(215, 225, 44, 0.5);
    border-radius: 8px;
}
.titulo h1
{
    font-size: 22px;
    color: #171FA8;
    text-shadow: 2px 2px 2px #fff;
    text-decoration-skip: initial;
    font: monospace;
    margin-top: 10px;
}
.container
{
    
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 4px 4px white inset, 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin: -13px auto;
    margin-bottom: 3px;
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 1080px;
    animation: entrada 1s;
    padding: 10px;
}
.footer
{
   
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6), 0px 4px 4px white inset, 0px 4px 4px rgba(0, 0, 0, 0.8);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    width: 1100px;
    animation: entrada 1s;
}
.footer p{
    margin: 10px;
}
.formulario a
{
    color: #5EAED7;
}
  
.formulario h2
{
    color: #FFFFFF;
}
  
.formulario input[type=submit]
{
    background-color: #5EAED7;
    border: none;
    border-radius: 2px;
    border-color: black;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8), 0px 0px 4px white inset;
    color: white;
    font-size: 17px;
    height: 35px;
    width: 260px;
    margin: 4px;
    min-width:100px;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
  
.formulario input[type=submit]:hover
{
    background-color: #343B3C;
    cursor: pointer;
}
  
.formulario input[type=submit]:focus
{
    outline: none;
}
  
.formulario input[type=text], .formulario input[type=password]
{
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white;
    height: 30px;
    margin: 0px;
    min-width: 240px;
    padding: 5px;
}
  
.formulario input[type=text]:focus, .formulario input[type=password]:focus
{
    outline: none;
}
  
.formulario input[type=text]:hover, .formulario input[type=password]:hover
{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 2px white, 0px 0px 2px rgba(0, 0, 0, 0.2);
}
  
.formulario p
{
    color: #5EAED7;
}
  
.seccionBotones
{
    background-color: #D4DEDF;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 0px 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.2), 0px 0px 2px white inset;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: right;
}
