<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Anulacion de Operaciones" style="width: 1000px; margin: 0 auto 0 auto; ">
                        <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                            <p:outputLabel value="Cuenta: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una cuenta..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Período: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione un periodo..."/>
                            </p:selectOneMenu>
                        </h:panelGrid>
                        <p:dataTable var="cuentas" id="operaciones" value="" widgetVar="" paginator="true" filteredValue="" style="width: 950px; margin: 10px auto 0 auto;">
                         
                            <p:column  headerText="Seleccionar">
                                <p:selectManyCheckbox>
                                    <f:selectItem itemLabel="" itemValue="1" />
                                </p:selectManyCheckbox>
                            </p:column>
                            <p:column headerText="Comprobante">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column headerText="Nombre">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Cargo">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Abono">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Fecha">
                                <h:outputText value=""/>
                            </p:column>
                            <p:column  headerText="Concepto">
                                <h:outputText value=""/>
                            </p:column>
            </p:dataTable>
                         <p:separator/>
                        <p:commandButton value="Anular" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                       
                    </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
