<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formCheques">
            <p:growl id="growlCheques" showDetail="false" />
            <p:panel header="Cheque de Tesoreria" style="width: 1060px; margin: 0 auto 0 auto; ">
                <p:panel style="margin: 0 5px 25px 5px; float: left; width: 670px; ">
                    <h:panelGrid columns="4" cellpadding="5" >
                        <p:outputLabel value="Cuenta: "/>
                        <p:selectOneMenu id="codigo" value="#{seguimientoCuentasBancariasBean.codigoCuenta}" 
                                         required="true" requiredMessage="Se requiere una cuenta" >
                            <f:selectItem  itemLabel="Seleccione una Cuenta..." itemValue="0" noSelectionOption="true" />
                            <f:selectItems value="#{seguimientoCuentasBancariasBean.mapaCuentasBancarias}" />
                            <p:ajax process="@this" listener="#{seguimientoCuentasBancariasBean.pasarCodigoCuenta2(seguimientoCuentasBancariasBean)}" update="growlCheques nombreCuenta saldoAnterior nombre"></p:ajax>
                        </p:selectOneMenu>
                        <p:outputLabel value="No. De Cheque: "/>
                        <p:inputText value="#{seguimientoCuentasBancariasBean.codigoComprobante}"  maxlength="750"  />
                    </h:panelGrid>
                    <h:panelGrid columns="2" cellpadding="3" >
                        <p:outputLabel value="Nombre de la cuenta: "/>
                        <p:inputText id="nombre"  value="#{seguimientoCuentasBancariasBean.nombreCuenta}" size="58"  maxlength="750" />
                        <p:outputLabel value="Paguese a la orden de: "/>
                        <p:inputText id="nombreCuenta"  value="#{seguimientoCuentasBancariasBean.pongaseAlaCuentade}" size="58"  maxlength="750" />
                        <p:outputLabel value="Valor: $"/>
                        <p:inputText value="#{seguimientoCuentasBancariasBean.valor}" size="58"  maxlength="750">
                            <p:ajax process="@this" listener="#{seguimientoCuentasBancariasBean.conversion(seguimientoCuentasBancariasBean)}" update="growlCheques ltr saldoAnterior nuevoSaldo"></p:ajax>
                        </p:inputText>
                        <p:outputLabel value="La suma de: "/>
                        <p:inputText id="ltr" value="#{seguimientoCuentasBancariasBean.valorLetras}" size="58"  maxlength="750"/>
                        <p:outputLabel value="Concepto de: "/>
                        <p:inputText value="#{seguimientoCuentasBancariasBean.concepto}" size="58"  maxlength="750" />
                    </h:panelGrid>
                </p:panel>
                <p:panel style="margin: 0 5px 50px 5px; float: right; width: 300px;">
                    <h:panelGrid columns="2" cellpadding="3" style="margin-bottom: 10px;">
                        <p:outputLabel value="Fecha: "/>
                        <p:calendar value="#{seguimientoCuentasBancariasBean.fechaIngreso}" required="true" requiredMessage="Se requiere el campo fecha">
                        </p:calendar>
                        <p:outputLabel value="Saldo Anterior: $"/>
                        <p:inputText id="saldoAnterior" value="#{seguimientoCuentasBancariasBean.saldoAnterior}" />
                        <p:outputLabel  value="Nuevo Saldo: $"/>
                        <p:inputText id="nuevoSaldo" value="#{seguimientoCuentasBancariasBean.nuevoSaldo}"/>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                        <h:outputText value=""></h:outputText>
                    </h:panelGrid>
                </p:panel>
                <p:commandButton value="Guardar e Imprimir" action="#{seguimientoCuentasBancariasBean.insertMovimientoCheque()}" update=":formCheques" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>
            </p:panel>
            <p:dialog header="Movimientos de la cuenta" widgetVar="movCuenta" modal="true" width="1000" position="top">
                <p:dataTable var="movCuenta" id="movCuenta" value="" widgetVar="" filteredValue="" paginator="true">

                    <p:column  headerText="Comprobante">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column  headerText="Cargo">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column  headerText="Abono">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column  headerText="Fecha">
                        <h:outputText value="#"/>
                    </p:column>
                    <p:column  headerText="Concepto">
                        <h:outputText value="#"/>
                    </p:column>

                </p:dataTable>
            </p:dialog>
        </h:form>

    </ui:define>

</ui:composition>
