<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Consulta Requerimiento de Pago" style="width: 1000px; margin: 0 auto 0 auto; ">
                       
                        <h:panelGrid columns="4" cellpadding="5" >
                            <p:outputLabel value="Unidad de Ejecución: "/>
                            <p:inputText value="" />
                            <p:outputLabel value="Fuente de financiamiento:"/>
                            <p:inputText value="" />
                            <p:outputLabel value="Fecha de Presentación:"/>
                            <p:inputText value="" />
                            <p:outputLabel value="No. de Requerimiento:"/>
                            <p:inputText value="" />
                            <p:outputLabel value="Fecha estimada de pago:"/>
                            <p:inputText value="" />
                        </h:panelGrid>
                            
                          
                       
                        
                    </p:panel>
         
          
          <p:panel style="width: 1000px; margin: 0 auto 0 auto; ">
           <p:dataTable var="reqPago" id="reqPago" value="" widgetVar="" filteredValue="" paginator="true" >
                
                <p:column  headerText="Fecha">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Clase">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="No.">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Proveedor">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Concepto">
                    <h:outputText value="#"/>
                </p:column>
               <p:column  headerText="A. Presupuesto" style="text-align: center;">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Nombre">
                    <h:outputText value="#"/>
                </p:column>
            </p:dataTable>
                        <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Imprimir" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/> 
                        <p:commandButton value="Otros" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:selectBooleanCheckbox value="#"  />
                        <p:outputLabel value="_3 firmas"/>
                           
        </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
