<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromCuentasBancarias">
            <p:growl id="growlCuentaBan" showDetail="false" />
            <p:panelGrid>
                <p:row>
                    <p:column>
                        <p:dataTable var="cuenta" value="#{cuentasBancariasBean.listCuentasBanAll}" paginator="true" rows="10" emptyMessage="No hay ninguna cuenta bancaria">
                            <p:column headerText="Número de Cuenta">
                                <p:outputLabel value="#{cuenta.codigoCuenta}" />
                            </p:column>
                            <p:column headerText="Modificar">
                                <p:commandButton icon="ui-icon-wrench" onclick="PF('modifiCuen').show();" action="#{cuentasBancariasBean.cuentaSeleccionada(cuenta)}" />
                            </p:column>
                            <p:column headerText="Eliminar" >
                                <p:commandButton icon="ui-icon-trash" actionListener="#{cuentasBancariasBean.deleteCuentaBan(cuenta)}" update=":fromCuentasBancarias">
                                    <p:confirm header="Confirmacion" message="¿Esta seguro de eliminar la cuenta" icon="ui-icon-alert" />
                                </p:commandButton>

                                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="margin-left: 80px;" />
                                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                            </p:column>
                            <f:facet name="footer" >
                                <p:commandButton value="Nuevo" onclick="PF('agregarCuen').show()" />
                            </f:facet>
                        </p:dataTable>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </h:form>

        <p:dialog header="Agregar Cuenta" widgetVar="agregarCuen" modal="true" resizable="false" closable="false" >
            <h:form id="fromInsertCuentaBan" enctype="multipart/form-data" >
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Número de Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.codigoCuenta}" required="true" requiredMessage="Se requiere el codigo de la cuenta bancaria"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre del Banco: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.nombreBanco}" required="true" requiredMessage="Se requiere el nombre del banco"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre de la Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.nombreCuenta}" required="true" requiredMessage="Se requiere el nombre de la cuenta"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Tipo de Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.tipoCuenta}" required="true" requiredMessage="Se requiere el tipo de cuenta" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem itemValue="Ahorro" itemLabel="Ahorro"/>
                                <f:selectItem itemValue="Cheques" itemLabel="Cheques"/>
                                <f:selectItem itemValue="A plazos" itemLabel="A Plazos"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Moneda: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.moneda}" required="true" requiredMessage="Se requiere el tipo de moneda" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem  itemValue="Dolar" itemLabel="Dolar $"/>
                                <f:selectItem itemValue="Quetzal" itemLabel="Quetzal Q"/>
                                <f:selectItem itemValue="Lempira" itemLabel="Lempira L"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Pais: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.pais}" required="true" requiredMessage="Se requiere el nombre del pais" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem itemValue="EL SALVADOR" itemLabel="EL SALVADOR"/>
                                <f:selectItem itemValue="GUATEMALA" itemLabel="GUATEMALA"/>
                                <f:selectItem itemValue="HONDURAS" itemLabel="HONDURAS"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Saldo Inicial: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.saldoInicial}" required="true" requiredMessage="Se requiere el saldo inicial"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fuente de Financiamiento: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.codigoFuenteFinanciamiento}" 
                                             required="true" requiredMessage="Se requiere una fuente de financiamiento">
                                <f:selectItem  itemLabel="Seleccione una fuente de financiamiento..." noSelectionOption="true"/>
                                <f:selectItems value="#{cuentasBancariasBean.mapaFuenteFinanciamiento}" />

                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton value="Agregar" action="#{cuentasBancariasBean.insertCuentaBan()}" update="fromInsertCuentaBan :fromCuentasBancarias" style="margin-left: 80px;" />
                            <p:commandButton value="Cerrar" action="#{cuentasBancariasBean.limpiar()}" update="fromInsertCuentaBan" process="@this" onclick="PF('agregarCuen').hide();" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="Modificar Cuenta" widgetVar="modifiCuen" modal="true" resizable="false" closable="false" >
            <h:form id="fromModifiCuentaBan" enctype="multipart/form-data" >
                <p:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Número de Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:outputLabel value="#{cuentasBancariasBean.cuentaBanSelecc.codigoCuenta}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre del Banco: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.cuentaBanSelecc.nombreBanco}" required="true" requiredMessage="Se requiere el nombre del banco"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Nombre de la Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.cuentaBanSelecc.nombreCuenta}" required="true" requiredMessage="Se requiere el nombre de la cuenta"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Tipo de Cuenta: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.cuentaBanSelecc.tipoCuenta}" required="true" requiredMessage="Se requiere el tipo de cuenta" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem  itemValue="Ahorro" itemLabel="Ahorro"/>
                                <f:selectItem itemValue="Cheques" itemLabel="Cheques"/>
                                <f:selectItem itemValue="A Plazos" itemLabel="A Plazos"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Moneda: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.cuentaBanSelecc.moneda}" required="true" requiredMessage="Se requiere el tipo de moneda" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem  itemValue="Dolar" itemLabel="Dolar $"/>
                                <f:selectItem itemValue="Quetzal" itemLabel="Quetzal Q"/>
                                <f:selectItem itemValue="Lempira" itemLabel="Lempira L"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Pais: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.cuentaBanSelecc.pais}" required="true" requiredMessage="Se requiere el nombre del pais" >
                                <f:selectItem itemLabel="Seleccione..." noSelectionOption="true" />
                                <f:selectItem itemValue="EL SALVADOR" itemLabel="EL SALVADOR"/>
                                <f:selectItem itemValue="GUATEMALA" itemLabel="GUATEMALA"/>
                                <f:selectItem itemValue="HONDURAS" itemLabel="HONDURAS"/>
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Saldo Inicial: " />
                        </p:column>
                        <p:column>
                            <p:inputText value="#{cuentasBancariasBean.cuentaBanSelecc.saldo}" required="true" requiredMessage="Se requiere el saldo inicial"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Fuente de Financiamiento: " />
                        </p:column>
                        <p:column>
                            <p:selectOneMenu value="#{cuentasBancariasBean.cuentaBanSelecc.codigo}" 
                                             required="true" requiredMessage="Se requiere una fuente de financiamiento">
                                <f:selectItem  itemLabel="Seleccione una fuente de financiamiento..." noSelectionOption="true"/>
                                <f:selectItems value="#{cuentasBancariasBean.mapaFuenteFinanciamiento}" />

                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton value="Modificar" action="#{cuentasBancariasBean.updateCuentaBan()}" update="fromModifiCuentaBan :fromCuentasBancarias" style="margin-left: 80px;" />
                            <p:commandButton value="Cerrar" action="#{cuentasBancariasBean.limpiar()}" update="fromModifiCuentaBan" process="@this" onclick="PF('modifiCuen').hide();" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </ui:define>

</ui:composition>
