<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Emisión de Cheques Saldo Conciliado" style="width: 1060px; margin: 0 auto 0 auto; ">
                        <p:panel style="margin: 0 5px 25px 5px; float: left; width: 630px; ">
                        <h:panelGrid columns="4" cellpadding="5" >
                            <p:outputLabel value="Cuenta: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una cuenta..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="No. de cheque: "/>
                            <p:inputText value="" />
                            <p:outputLabel value="Factura: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una factura..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value="Contabilidad: "/>
                            <p:inputText value="" />
                        </h:panelGrid>
                            <h:panelGrid columns="2" cellpadding="3" >
                                <p:outputLabel value="Nombre de la cuenta: "/>
                                <p:inputTextarea rows="1" cols="56"  maxlength="750" scrollHeight="3"/>
                                <p:outputLabel value="Lugar: "/>
                                <p:inputTextarea rows="1" cols="56"  maxlength="750" scrollHeight="3"/>
                                <p:outputLabel value="Pongase a la orden de: "/>
                                <p:inputTextarea rows="1" cols="56"  maxlength="750" scrollHeight="3"/>
                                <p:outputLabel value="La suma de: "/>
                                <p:inputTextarea rows="1" cols="56"  maxlength="750" scrollHeight="3"/>
                                <p:outputLabel value="Concepto de: "/>
                                <p:inputTextarea rows="3" cols="56"  maxlength="750" scrollHeight="3"/>
                            </h:panelGrid>
                            </p:panel>
                        <p:panel style="margin: 0 5px 50px 5px; float: right; width: 340px;">
                            <h:panelGrid columns="2" cellpadding="3" style="margin-bottom: 10px;">
                            <p:outputLabel value="Fecha: "/>
                            <p:calendar/>
                            <p:outputLabel value="Fecha de cierre: " />
                            <p:calendar/>
                            <p:outputLabel value="Saldo Anterior: $"/>
                            <p:inputText value="" readonly="true" />
                            <p:outputLabel value="Valor: $"/>
                            <p:inputText value="" readonly="true"/>
                            <p:outputLabel value="Nuevo Saldo: $"/>
                            <p:inputText value="" readonly="true"/>
                            <p:outputLabel value="Fromato de Cheque:"/>
                            <p:selectOneRadio value="">
                                <f:selectItem itemLabel="Tradicional" itemValue="1" />
                                <f:selectItem itemLabel="Continuo" itemValue="0" />
                            </p:selectOneRadio>
                            <h:outputText value="Reporte: " />
                              <p:selectBooleanCheckbox value="#" />
                        </h:panelGrid>
                        </p:panel>
                        <h:panelGrid columns="6" cellpadding="5" >
                            <p:outputLabel value="Fecha Conciliación: "/>
                            <p:calendar/>
                            <p:outputLabel value="Tesoreria:"/>
                            <p:inputText value="" placeholder="+"/>
                            <p:inputText value="" placeholder="-"/>
                            <p:inputText value="" />
                            <p:outputLabel value="Monto Conciliación:"/>
                            <p:inputText value="" />
                            <p:outputLabel value="Monto Contabilidad:"/>
                            <p:inputText value="" placeholder="+"/>
                            <p:inputText value="" placeholder="-"/>
                            <p:inputText value="" />
                        </h:panelGrid>
                        <p:dataTable var="emiCheque" id="emiCheque" value="" widgetVar="" filteredValue="" paginator="true">
                
                <p:column  headerText="Código">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Nombre">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Cargo">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Abono">
                    <h:outputText value="#"/>
                </p:column>
                 
                
                  </p:dataTable>
                    </p:panel>
                    
                        <p:commandButton value="Vista Previa" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
                        <p:commandButton value="Imprimir" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Cancelar" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>
                        
          <p:dialog header="Movimientos de la cuenta" widgetVar="movCuenta" modal="true" width="1000" position="top">
                 
          </p:dialog>
      </h:form>
        
    </ui:define>

</ui:composition>
