<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formFuenteFinanciamiento">
            <p:growl id="growl" life="2000" />
            <p:panel header="Ingresar Fuente de Financiamiento" style="width: 430px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Fuente de Financiamiento:    "/>
                    <p:inputText value="#{fuenteFinanciamientoBean.nombreFuente}" required="true" requiredMessage="se requiere el nombre de la fuente de financiamiento" ></p:inputText>
                </h:panelGrid>
                <p:separator/>
                <p:commandButton value="Aceptar" action="#{fuenteFinanciamientoBean.insertFuenteFinanciamiento()}" styleClass="ui-priority-primary" style="margin:  auto 20px auto 20px;" update="growl"/>
                <p:commandButton value="Cancelar" action="#{fuenteFinanciamientoBean.limpiar()}"/>
                <p:button value="Salir" outcome="plantilla_tesoreria" style="margin: 0 20px 0 20px;" ></p:button>    
            </p:panel>

        </h:form>
        <h:form id="form">
            <p:growl id="docz" showDetail="true" />
            <p:panel style="width: 650px; margin: 0 auto 0 auto;">
                <p:dataTable var="fuenteF" id="infoz" value="#{fuenteFinanciamientoBean.listFuenteFinanciamiento}"
                             paginator="true" rows="15"
                             widgetVar="fuenteFinanciamiento" editable="true" >

                    <p:column headerText="Fuente de Financiamiento">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{fuenteF.nombreFuente}"/>
                            </f:facet>
                            <f:facet name="input">
                                <h:inputText value="#{fuenteF.nombreFuente}"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
