<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formFuenteFinanciamiento">

            <p:growl sticky="false" id="growlGeneral" showDetail="true"/>
            <p:panel style="width: 1080px; margin: 0 auto 0 auto;">
                
                <p:dataTable id="fuenteDT"  value="#{fuenteFinanciamientoBean.listFuenteFinanciamiento}"  var="fuente" widgetVar="fuenteTable" filteredValue="#{fuenteFinanciamientoBean.filtroFuenteFinanciamiento}" paginator="true"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15" rows="10" style="margin-bottom:20px">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Buscar Fuente de Financiamiento:" />
                            <p:inputText id="globalFilter" onkeyup="PF('fuenteTable').filter()" style="width:550px" placeholder="Ingrese la fuente de financiamiento"/>
                        </p:outputPanel>
                    </f:facet>

                    <p:column filterBy="#{fuente.nombreFuente}" headerText="Fuente de Financiamiento" footerText="Fuente de Financiamiento" width="470" style="text-align: center;">
                        <h:outputText value="#{fuente.nombreFuente}" />
                    </p:column>

                    <p:column style="width:15px" headerText="M" footerText="M" exportable="false">
                        <p:commandButton  process="fuenteDT" update=":formFuenteFinanciamiento:fuenteDetail" value="M" oncomplete="PF('modificarFuente').show()" >
                            <f:setPropertyActionListener value="#{fuente}" target="#{fuenteFinanciamientoBean.selectFuente}" />
                        </p:commandButton>

                    </p:column>
                    <p:column style="width:15px" headerText="E" footerText="E" exportable="false">
                        <p:commandButton process="fuenteDT" update=":formFuenteFinanciamiento:fuenteDetail2" value="E" oncomplete="PF('eliminarFuente').show()" >
                            <f:setPropertyActionListener value="#{fuente}" target="#{fuenteFinanciamientoBean.selectFuente}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>


                <p:dialog position="center top" header="Modificar Fuente de Financiamiento" widgetVar="modificarFuente" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='fuenteDetail' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty fuenteFinanciamientoBean.selectFuente}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{fuenteFinanciamientoBean.selectFuente.codigo}"/>

                            <h:outputText value="Fuente de Financiamiento: "/>
                            <h:inputText value="#{fuenteFinanciamientoBean.selectFuente.nombreFuente}" size="50" />

                           
                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Modificar" action="#{fuenteFinanciamientoBean.updateFuenteFinanciamiento(fuenteFinanciamientoBean.selectFuente)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true" > 
                           <p:resetInput target="formFuenteFinanciamiento" />
                        </p:commandButton>

                        <p:commandButton value="Cerrar" oncomplete="PF('modificarFuente').hide()" immediate="true" ajax="true"> 
                          <p:resetInput target="formFuenteFinanciamiento" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 


                <p:dialog position="center top" header="Eliminar Fuente de Financiamiento" widgetVar="eliminarFuente" modal="true" resizable="false"  closable="false" showEffect="fade" hideEffect="fade" >
                    <p:outputPanel id='fuenteDetail2' style="text-align:center;"> 
                        <p:panelGrid columns="2" rendered="#{not empty fuenteFinanciamientoBean.selectFuente}" columnClasses="label,value">

                            <h:outputText value="Codigo: "/>
                            <h:outputText value="#{fuenteFinanciamientoBean.selectFuente.codigo}"/>

                            <h:outputText value="Fuente de Financiamiento: "/>
                            <h:outputText value="#{fuenteFinanciamientoBean.selectFuente.nombreFuente}"/>

                        </p:panelGrid>

                        <p:separator/>
                        <p:commandButton value="Eliminar" action="#{fuenteFinanciamientoBean.deleteFuenteFinanciamiento(fuenteFinanciamientoBean.selectFuente)}" styleClass="ui-priority-primary" style="margin: 0 auto  0 auto ;"  ajax="true"> 
                            <p:resetInput target="formFuenteFinanciamiento" />
                        </p:commandButton>
                        <p:commandButton value="Cerrar" oncomplete="PF('eliminarFuente').hide()" ajax="true" >
                            <p:resetInput target="formFuenteFinanciamiento" />
                        </p:commandButton>
                    </p:outputPanel>
                </p:dialog> 

            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
