<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="fromDetalle"  >
            <p:growl id="growlDetalle" showDetail="false" />
            <p:panel header="Consulta de Movimientos de Cuenta" style="width: 95%; margin: 0 auto 0 auto;">
                <h:panelGrid>
                    <p:row>
                        <p:column>
                            <p:outputLabel value="Número de Cuenta: "/>
                            <p:selectOneMenu value="#{detallePresupuestoBean.unidadesEjecutoras}" 
                                             required="true" requiredMessage="Se requiere un Número de Cuenta" >
                                <f:selectItem  itemLabel="Seleccione una cuenta..." itemValue="0" />
                                <f:selectItems value="#{detallePresupuestoBean.mapaUnidadEjecutora}" />
                            </p:selectOneMenu>
                        </p:column> 
                        <p:column>
                            
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>

                            <p:outputLabel value="Fecha de Inicio"/>
                            <p:calendar value="#{presupuestoBean.fechaCreacionPresupuesto}" />
                        </p:column>
                        <p:column>  
                            <p:outputLabel value="Fecha de Finalización: "/>
                            <p:calendar value="#{presupuestoBean.fechaCreacionPresupuesto}"  />
                        </p:column>    
                    </p:row>

                </h:panelGrid>

                <p:separator/>
                <p:commandButton value="Consultar" action="#{detallePresupuestoBean.buscarCuentasPre()}" update="growlDetalle" style="margin-left: 0px;"/>
                <p:separator/>

                <p:dataTable var="cuen" value="#{detallePresupuestoBean.listCuentasPreSelec}" paginator="true" rows="10">
                    <p:column headerText="Número">
                        <p:outputLabel value="#{cuen.catalogoCuentas.codigoCuenta}"/>
                    </p:column>
                    <p:column headerText="Monto" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                    
                    <p:column headerText="Fecha" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                    <p:column headerText="Tipo" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                    <p:column headerText="Tipo Documento" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                    <p:column headerText="Número Documento" >
                        <p:outputLabel value="#{cuen.descripcionCuentaMayor}"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
  

       
    </ui:define>
</ui:composition>
