<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      <h:form>
                    <p:panel header="Notas Debito Masivas" style="width: 1000px; height: 300px; margin: 0 auto 0 auto; ">
                        <p:panel style="margin: 0 5px 25px 5px; float: left; width: 570px;">
                        <h:panelGrid columns="4" cellpadding="5" >
                            <p:outputLabel value="Cuenta: "/>
                            <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una cuenta..."/>
                            </p:selectOneMenu>
                            <p:outputLabel value=" "/>
                            <p:inputText value="" />
                        </h:panelGrid>
                            <h:panelGrid columns="2" cellpadding="3" >
                                <p:outputLabel value="Nombre de: "/>
                                <p:inputTextarea rows="1" cols="56"  maxlength="750" scrollHeight="3"/>
                                <p:outputLabel value="Concepto de: "/>
                                <p:inputTextarea rows="3" cols="56"  maxlength="750" scrollHeight="3"/>
                            </h:panelGrid>
                            </p:panel>
                        <p:panel style="margin: 0 5px 50px 5px; float: right; width: 350px;">
                            <h:panelGrid columns="2" cellpadding="3" style="margin-bottom: 10px;">
                            <p:outputLabel value="Ref. Banco: "/>
                            <p:inputText value=""/>
                            <p:outputLabel value="Fecha: " />
                            <p:calendar/>
                            <p:outputLabel value="Saldo Anterior: $"/>
                            <p:inputText value="" readonly="true" />
                            <p:outputLabel value="Valor: $"/>
                            <p:inputText value="" readonly="true"/>
                            <p:outputLabel value="Nuevo Saldo: $"/>
                            <p:inputText value="" readonly="true"/>
                        </h:panelGrid>
                           
                        </p:panel>
                        
                    </p:panel>
         
          
          <p:panel style="width: 1000px; margin: 0 auto 0 auto; ">
           <p:dataTable var="movCuenta" id="movCuenta" value="" widgetVar="" filteredValue="" paginator="true" >
                
                <p:column  headerText="Fecha">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="# Req.">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="No.">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Nombre">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Concepto">
                    <h:outputText value="#"/>
                </p:column>
               <p:column  headerText="Monto" style="text-align: center;">
                    <p:selectBooleanCheckbox value="#"  />
                </p:column>
                <p:column  headerText="Ndb">
                    <h:outputText value="#"/>
                </p:column>
            </p:dataTable>
                        <p:commandButton value="Continuar Debito" action="#" styleClass="ui-priority-primary" style="margin:  20px 20px 0 20px;"/>
                        <p:commandButton value="Imprimir" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Guardar" action="#" style="margin: 0 20px 0 20px;"/>
                        <p:commandButton value="Salir" action="#" style="margin: 0 20px 0 20px;"/>   
                      <p:outputLabel value="Total a Pagar: $"/>
                            <p:inputText value=""/>
        </p:panel>
      </h:form>
        
    </ui:define>

</ui:composition>
