<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h:form id="formSeguimiento">
            <p:growl id="msgs" showDetail="true" />
            <p:panel style="width: 1050px; margin: 0 auto 0 auto;">
                <h:panelGrid columns="2" cellpadding="5">
                    <p:outputLabel value="Seleccionar una Cuenta: " />
                    <p:selectOneMenu value="#{seguimientoCuentasBancariasBean.codigoCuenta}" 
                                     required="true" requiredMessage="Se requiere una cuenta">
                        <f:selectItem  itemLabel="Seleccione una Cuenta..." noSelectionOption="true"/>
                        <f:selectItems value="#{seguimientoCuentasBancariasBean.mapaCuentasBancarias}" />

                    </p:selectOneMenu>
                    <p:outputLabel value="Fecha Inicio: "/>
                    <p:calendar value="#{seguimientoCuentasBancariasBean.fechaInicio}" required="true" requiredMessage="Se requiere el campo fecha">
                    </p:calendar>
                    <p:outputLabel value="Fecha Fin: "/>
                    <p:calendar value="#{seguimientoCuentasBancariasBean.fechaFin}" required="true" requiredMessage="Se requiere el campo fecha">
                    </p:calendar>

                </h:panelGrid>
                <p:commandButton value="Consultar" action="#{seguimientoCuentasBancariasBean.SeguimientoCuenta(seguimientoCuentasBancariasBean)}"   update="formSeguimiento"/>
                <p:commandButton value="Limpiar" action="#{seguimientoCuentasBancariasBean.limpiar()}" style="margin: 0 20px 0 20px;"  update="formSeguimiento"/>
                <p:button value="Salir" outcome="plantilla_tesoreria" style="margin: 0 20px 0 20px;" ></p:button>
                <p:separator />
                <p:panel style="width: 1000px; margin: 0 auto 0 auto;">
                    <p:dataTable value="#{seguimientoCuentasBancariasBean.listAllCuentaSeleccionada}" var="document" scrollWidth="965" scrollable="true" >
                        <f:facet name="header">
                            Movimientos de la Cuenta
                        </f:facet>
                        <p:column headerText="N° Comprobante" style="width: 150px;">
                            <h:outputText value="#{document.codigoComprobante}" />
                        </p:column>
                        <p:column headerText="Nombre" style="word-wrap: normal;width: 200px;">
                            <h:outputText value="#{document.cuentasBancarias.nombreCuenta}" />
                        </p:column>
                        <p:column headerText="Cargos" style="word-wrap: normal;width: 70px;">
                            <h:outputText value="#{document.cargoTransaccion}" />
                        </p:column>
                        <p:column headerText="Abonos" style="word-wrap: normal;width: 70px;">
                            <h:outputText value="#{document.abonoTransaccion}" />
                        </p:column>
                        <p:column headerText="Fecha de la Transaccion" style="word-wrap: normal;width: 110px;">
                            <h:outputText value="#{document.fechaTransaccion}" />
                        </p:column>
                        <p:column headerText="Concepto" style="word-wrap: normal;width: 200px;">
                            <h:outputText value="#{document.concepto}" />
                        </p:column>

                    </p:dataTable>
                </p:panel>
            </p:panel>
        </h:form>

    </ui:define>

</ui:composition>
