<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form style="width: 1000px; margin: 0 auto 0 auto;">
            <p:panel header="Validación de Contabilidad">
                <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Cuenta: "/>
                     <p:selectOneMenu>
                                <f:selectItem  itemLabel="Seleccione una unidad..."/>
                     </p:selectOneMenu>
                    <p:outputLabel value="Nombre de la Cuenta: "/>
                    <p:inputText/>
                    <p:outputLabel value="Contabilidad: "/>
                    <p:inputText/>
                    <p:outputLabel value="Comprobante N°: "/>
                    <p:inputText/>
                </h:panelGrid>
                <p:dataTable var="validConta" id="validConta" value="" widgetVar="" filteredValue="" paginator="true">
                
                <p:column  headerText="Comprobante">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Descripción">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Remesa">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Cheque">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Cuenta">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Concepto">
                    <h:outputText value="#"/>
                </p:column>
                
            </p:dataTable>
            <p:commandButton value="Guardar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
            <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
