<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./plantilla_tesoreria.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
      
        <h:form style="width: 1050px; margin: 0 auto 0 auto;">
            <p:panel header="Vinculación con otras Operaciones">
                <h:panelGrid columns="4" cellpadding="5" style="margin: 0 auto 0 auto;">
                    <p:outputLabel value="Fecha inicio busqueda: "/>
                     <p:calendar/>
                    <p:outputLabel value="Fecha de fin de busqueda: "/>
                    <p:calendar/>
                </h:panelGrid>
                <p:dataTable var="otrasOp" id="otrasOp" value="" widgetVar="" filteredValue="" paginator="true">
                
                <p:column  headerText="Comprobante">
                    <h:outputText value="#"/>
                </p:column>
                <p:column headerText="Fecha">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Cod Proveedor">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Nombre">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Monto $">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="MOnto">
                    <h:outputText value="#"/>
                </p:column>
                 <p:column  headerText="Moneda">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="Cuenta Banco">
                    <h:outputText value="#"/>
                </p:column>
                <p:column  headerText="N° de Cheque">
                    <h:outputText value="#"/>
                </p:column>
            </p:dataTable>
            <p:commandButton value="Exportar" action="#" styleClass="ui-priority-primary" style="margin:  0 20px 0 20px;"/>
            <p:commandButton value="Imprimir" action="#" style="margin: 20px 20px 0 20px;"/>
            <p:commandButton value="Salir" action="#" style="margin: 20px 20px 0 20px;"/>
            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>
