<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
          
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="/sigefi/recursos/estilos/login.css"/>
    </h:head>
    <h:body>
         
        <section class="contenedorLogin">
            <h:form class="formulario">
                <p:growl id="growl" showDetail="true" sticky="false" />
                <p:panel header="Acceso de Usuario" >
                <h2></h2>
                <p style="color: #1a1a1a;">Rellene el siguiente formulario para <span id="IL_AD1" class="IL_AD">ingresar</span> al sistema</p>
                <p><p:inputText pt:placeholder="Usuario" id="usuario" value="#{beanLogin.usuario}" required="true" requiredMessage="Se Requiere El Usuario ">
                        <p:focus for="usuario" />
                   </p:inputText></p>
                <p><p:password pt:placeholder="Contraseña" value="#{beanLogin.clave}" required="true" requiredMessage="Se Requiere La Contraseña" /></p>     
                <section >
                    <p:panel>
                        <h:commandButton value="Ingresar" action="#{beanLogin.validarLogin}"  />
                    </p:panel>
                </section>
                </p:panel>
            </h:form>
        </section>
    </h:body>
</html>
