<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Facelets Template</title>
    </h:head>

    <h:body>

        <div id="top">
            <ui:insert name="top">

                <h:form>  
                    <p:growl id="messages"/>
                    <ui:repeat value="#{menuBean.pruebaList}" var="theme">
                            <h:outputText value="#{theme}" style="margin-right:5px" />
                        </ui:repeat>
                    <p:menubar style="height: auto;" >
                        <c:forEach items="#{menuBean.pruebaMap}" var="prueba">
                            <p:menuitem value="#{prueba.key}" style="font-size: 14px;"  />
                        </c:forEach>
                        
                        <p:menuitem value="Salir" icon="ui-icon-close"  style="font-size: 14px;" action="#{sessionBean.cerrarSession()}" />
                    </p:menubar>
                </h:form>
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content">Content</ui:insert>
        </div>

        <div id="bottom">
            <ui:insert name="bottom">Bottom</ui:insert>
        </div>

    </h:body>

</html>
